@{
    Layout = "_V2LayoutCore";
    ViewBag.Title = "Privacy";
}

<h1 class="govuk-heading-l">Privacy</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p>
            Publish to the Course Directory is operated by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).  This privacy notice explains how we use your personal information.  For the purposes of relevant data protection legislation, the DfE is the data controller for personal information processed.  For more detailed information on how we handle your personal information see the <a class="govuk-link" href="https://www.gov.uk/government/publications/esfa-privacy-notice" target="_blank">ESFA: privacy notice</a>
        </p>

        <h2>How We Use Your Personal Information</h2>

        <p>
            The ESFA is responsible for funding education and skills in England for children, young people and adults. It is also responsible for delivery of key services in the education and skills sector in England including the apprenticeship service, the provision of information, advice and guidance through the National Careers Service, and the Learning Records Service. Your personal information is used in our delivery of this work to enable us to carry out the functions of the DfE by providing freely available information on Courses and Apprenticeships that it funds
        </p>

        <h2>How we collect your personal information</h2>

        <p>
            We collect your personal information where the law allows it, or we have a legal obligation to do so.
            Personal information is provided directly by you:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>face to face</li>
            <li>over the telephone</li>
            <li>via websites</li>
            <li>in emails</li>
        </ul>
        <p>
            We may collect personal information about you from other systems or organisations funded by the DfE or ESFA, such as DfE Sign in.
        </p>

        <h2>How we share your personal information</h2>

        <p>
            We may share your personal information with other services run by the ESFA, other parts of the DfE, and partner organisations, where the law allows it or we have a legal obligation to do so:

            <ul class="govuk-list govuk-list--bullet">
                <li>with a third party who is working for ESFA under contract</li>
            </ul>
        </p>

        <h2>How long we will keep your personal information</h2>

        <p>
            We will only keep your personal information for as long as we need it after which it will be securely destroyed.
        </p>

        <h2> Contacting us about your information</h2>

        <p>
            More detailed information is available from the ESFA Privacy Notice located here: <a class="govuk-link" href="https://www.gov.uk/government/publications/esfa-privacy-notice/education-and-skills-funding-agency-privacy-notice-may-2018" target="_blank">https://www.gov.uk/government/publications/esfa-privacy-notice</a>

            <br />
            <br />
            If you would like:
            <ul class="govuk-!-padding-right-6govuk-list govuk-list--bullet">
                <li>more information about how we process your personal information or your data protection rights</li>
                <li>to make a request about your information – for example to request a copy of your information or to ask for your information to be changed</li>
                <li>to contact our Data Protection Officer</li>
            </ul>

            You can contact us using our secure <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen" target="_blank" class="govuk-link">online contact form</a> or by writing to: <br /><br />

            Ministerial and Public Communications Division<br />
            Department for Education<br />
            Piccadilly Gate<br />
            Store Street<br />
            Manchester<br />
            M1 2WD<br /><br />

            You also have the right to complain to the Information Commissioner’s Office. Find out on their website how to <a href="https://ico.org.uk/make-a-complaint/" target="_blank" class="govuk-link">report a concern</a>.

        </p>
    </div>
</div>
