@{
    Layout = "_V2LayoutCore";
}

<div class="govuk-main-wrapper govuk-body" aria-labelledby="pagetitle">
    <h1 id="pagetitle" class="govuk-heading-l">Publish to the course directory</h1>
    <div class="govuk-grid-row govuk-!-margin-0">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <p class="govuk-body">
                Use this service to add and edit courses and T Levels that appear on the
                <a href="https://nationalcareers.service.gov.uk" target="_blank" class="govuk-link">National Careers Service website</a>
                and the
                <a target="_blank" href="https://www.tlevels.gov.uk/" class="govuk-link">T Levels website</a>.
            </p>

            <p class="govuk-body">
                You cannot use this service to add information about apprenticeships.
                To do this, you’ll need to
                <a href="https://www.gov.uk/guidance/how-to-register-and-use-the-apprenticeship-service-as-a-training-provider" target="_blank" class="govuk-link">set up an apprenticeship training provider account</a>
                instead.
            </p>

            <p class="govuk-body">
                You can use this service if you’re a learning provider contracted by the
                <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" class="govuk-link govuk-link--no-underline">Education and Skills Funding Agency</a>
                and you provide courses in England for people aged 16 and over.
            </p>

            <govuk-button is-start-button="true" asp-controller="Auth" asp-action="Login" class="govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</govuk-button>

            <h2 class="govuk-heading-m">
                How to publish a course
            </h2>
            <p class="govuk-body">To create an account to publish to the course directory:</p>
            <p class="govuk-body">
                <ul class="govuk-list">
                    <li>
                        1. <a href="https://profile.signin.education.gov.uk/register" target="_blank" class="govuk-link">Create a DfE Sign-in account</a>.
                    </li>
                    <li>
                        2. Request access to your organisation using your DfE Sign-in account.
                    </li>
                    <li>
                        3. Once the DfE team approves your request, email
                        <a href="mailto:support@coursedirectory.org.uk" class="govuk-link">support@coursedirectory.org.uk</a> to request access.
                    </li>
                    <li>
                        4. We will then review your request and give you access to the service if you meet the requirements.
                    </li>
                </ul>
            </p>

            <h2 class="govuk-heading-m">
                Your contact details
            </h2>
            <p class="govuk-body">
                We’ll show the contact details for your organisation next to information about the T Levels or courses that you ask us to publish.
                We use the contact details that are listed on the
                <a href="https://www.ukrlp.co.uk/" target="_blank" class="govuk-link">UK Register of Learning Providers (UKRLP)</a>.
            </p>
            <p class="govuk-body">
                Please keep your contact details up to date with UKRLP.
                If UKRLP do not have your contact details, your courses might not display on the website.
                You can add or change your primary contact details directly with the
                <a href="https://www.ukrlp.co.uk/" target="_blank" class="govuk-link">UK Register of Learning Providers (UKRLP)</a>.
            </p>
        </div>

        <div class="govuk-grid-column-one-third pttcd-start__sidebar">
            <div class="govuk-!-padding-top-3">
                <aside class="app-related-items" role="complementary">
                    <h2 class="govuk-heading-m" id="subsection-title">
                        Related content
                    </h2>
                    <nav role="navigation" aria-labelledby="subsection-title">
                        <ul class="govuk-list govuk-!-font-size-16">
                            <li>
                                <a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/find-a-course">
                                    Find a course
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://employers.tlevels.gov.uk/hc/en-gb">
                                    T Levels and industry placements
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://find-employer-schemes.education.gov.uk/">
                                    Find schemes for your business
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://www.ukrlp.co.uk/">
                                    The UK Register of Learning Providers
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://submit-learner-data.service.gov.uk/find-a-learning-aim/">
                                    Find a learning aim
                                </a>
                            </li>
                            <li>
                                <p></p>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
        </div>
        <div class="govuk-grid-column-one-third pttcd-start__sidebar">
            <div class="govuk-!-padding-top-3">
                <aside class="app-related-items" role="complementary">
                    <h3 class="govuk-heading-s" id="subsection-title2">
                        Contact the course directory support team
                    </h3>
                    <p class="govuk-body govuk-!-font-size-16">
                        You can email or phone us if you need help.
                    </p>
                    <p class="govuk-body govuk-!-font-size-16">
                        <strong>Email:</strong>
                        <a class="govuk-link" href="mailto:support@coursedirectory.org.uk" class="govuk-link">
                            support@coursedirectory.org.uk
                        </a>
                    </p>
                    <p class="govuk-body govuk-!-font-size-16">
                        <strong>Phone:</strong>
                        <u>0844 811 5073</u> Monday to Friday, 9am to 5.30pm
                    </p>
                    <p class="govuk-body govuk-!-font-size-16">
                        <a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges" class="govuk-link">
                            Find out about call charges
                        </a>
                    </p>
                </aside>
            </div>
        </div>
    </div>
</div>
