@{
    Layout = "_V2LayoutCore";
}

<div class="govuk-main-wrapper govuk-body" aria-labelledby="pagetitle">
    <h1 id="pagetitle" class="govuk-heading-l">Publish to the course directory</h1>
      <div class="govuk-grid-row govuk-!-margin-0">
          <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
              <p class="govuk-body">This service is for learning providers who are contracted to the Education and Skills Funding Agency and provide courses in England for people aged 16-18 or 19+.</p>

              <p class="govuk-body">The service allows providers to add and edit courses, apprenticeships and T Levels.</p>

              <p class="govuk-body">The information entered will be visible to learners searching for opportunities on the National Career Service, <a href="https://nationalcareers.service.gov.uk/find-a-course"  target="_blank"> Find a course</a>, <a  target="_blank" href="https://www.tlevels.gov.uk/">TLevels.gov.uk</a> and employers searching for training on <a href="#">Find apprenticeship training for your apprentice</a>.</p>

              <!--  <p class="govuk-body">Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>add new courses to the course directory</li>
        <li>edit and update courses in the course directory</li>
        <li>remove courses from the course directory</li>
    </ul>-->

              <govuk-button is-start-button="true" asp-controller="Auth" asp-action="Login" class="govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</govuk-button>


              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                          How to access Publish to the course directory
                      </span>
                  </summary>
                  <div class="govuk-details__text">
                      You will need a <a href="https://pp-coursedirectory.nationalcareers.service.gov.uk/auth/cb" target="_blank">DfE Sign-in</a> account to access Publish to the course directory, you can create an account and request access to your organisation.<p>

                      <p class="govuk-body">Once your request has been approved, contact the <a href="mailto:support@coursedirectory.org.uk "> Course Directory Support Team</a> who will provide access to the service.</p>
                  </div>
              </details>

              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                          Provider primary contact details
                      </span>
                  </summary>
                  <div class="govuk-details__text">
                      Your organisation contact information is updated from The UK Register of Learning Providers (UKRLP) and visible to learners and employers searching for courses, apprenticeships and T Levels.

                      <p class="govuk-body">Your primary contact details should be up to date at all times, missing details may result in information not being diplayed.  You can <a href="https://www.ukrlp.co.uk/">update</a> your primary contact details at any time.</p>
                  </div>
              </details>


              <!-- <p class="govuk-body">To use this service you need to sign in using DfE Sign-in.</p>-->

          </div>

        <div class="govuk-grid-column-one-third pttcd-start__sidebar">
            <div class="govuk-!-padding-top-3">

                <aside class="app-related-items" role="complementary">
                    <h2 class="govuk-heading-m" id="subsection-title">
                        Useful links
                    </h2>
                    <nav role="navigation" aria-labelledby="subsection-title">
                        <ul class="govuk-list govuk-!-font-size-16">
                            <li>
                                <a class="govuk-link" target="_blank" href="https://nationalcareers.service.gov.uk/find-a-course">
                                    Find a course
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">
                                    Find an apprenticeship training provider
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://www.tlevels.gov.uk/">
                                    T Levels
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://www.ukrlp.co.uk/">
                                    The UK Register of Learning Providers (UKRLP)
                                </a>
                            </li>
                            <li>
                                <a class="govuk-link" target="_blank" href="https://findalearningaimbeta.fasst.org.uk/">
                                    Find a learning aim
                                </a>
                            </li>
                            <li>
                                <p></p>
                            </li>
                        </ul>
                    </nav>
                </aside>

                <h3 class="govuk-heading-m">
                    Get help from the Course Directory Support Team
                </h3>
                <p class="govuk-body">Call 0844 811 5073 or email <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">support@coursedirectory.org.uk</a></p>
                <p class="govuk-caption-m">Monday to Friday, 9am to 5pm</p>
                <p class="govuk-caption-m">Find out about <a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges">call charges</a>.</p>
            </div>
        </div>
    </div>
</div>
