@using Dfc.CourseDirectory.Web.ViewComponents.VenueName
@using Dfc.CourseDirectory.Web.ViewComponents.ManualAddress
@model Dfc.CourseDirectory.Web.ViewModels.VenueAddressSelectionConfirmationViewModel
@{
    if (Model.Id != null)
    {
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Edit venue
        </h1>
    }
    else
    {
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Add venue
        </h1>
    }
}

<form asp-controller="Venues" asp-action="VenueAddressManualConfirmation" method="post">
    

    @await Component.InvokeAsync(nameof(VenueName), new VenueNameModel
    {
        LabelText = "Venue name",
        AriaDescribedBy = "Please enter the venue name."
    })

    @await Component.InvokeAsync(nameof(ManualAddress), new ManualAddressModel
    {
        Id = @Model.Id,
        AddressLine1LabelText = "Address line 1",
        AddressLine1AriaDescribedBy = "Please enter address line 1.",
        AddressLine2LabelText = "Address line 2",
        AddressLine2AriaDescribedBy = "Please enter address line 2.",
        TownOrCityLabelText = "Town or city",
        TownOrCityAriaDescribedBy = "Please enter the town or city.",
        CountyLabelText = "County",
        CountyAriaDescribedBy = "Please enter the county.",
        PostcodeLabelText = "Postcode",
        PostcodeAriaDescribedBy = "Please enter the postcode.",
    })
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button" id="">
            Continue
        </button>
    </div>
</form>
