@using Dfc.CourseDirectory.Web.ViewComponents.VenueName
@using Dfc.CourseDirectory.Web.ViewComponents.ManualAddress

<h2>Add Venue (Manual address)</h2>
<form>
    @await Component.InvokeAsync(nameof(VenueName), new VenueNameModel
    {
        LabelText = "Venue name",
        HintText = "Please enter the venue name.",
        AriaDescribedBy = "Please enter the venue name."
    })

    @await Component.InvokeAsync(nameof(ManualAddress), new ManualAddressModel
    {
        AddressLine1LabelText = "Building and street",
        AddressLine1AriaDescribedBy = "Please enter the building and street line 1 of 2.",
        AddressLine2AriaDescribedBy = "Please enter the building and street line 2 of 2.",
        TownOrCityLabelText = "Town or city",
        TownOrCityAriaDescribedBy = "Please enter the town or city.",
        CountyLabelText = "County",
        CountyAriaDescribedBy = "Please enter the county.",
        PostcodeLabelText = "Postcode",
        PostcodeAriaDescribedBy = "Please enter the postcode.",
    })
</form>
