@using Dfc.CourseDirectory.Web.ViewComponents.VenueName
@using Dfc.CourseDirectory.Web.ViewComponents.PostcodeLookup
@using Microsoft.AspNetCore.Http;

@{
    Layout = "_Layout_Your_Courses";
}

@inject IHttpContextAccessor HttpContextAccessor

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="padding-top: 20px;">
            Add venue
        </h1>

        <form asp-controller="Venues" asp-action="VenueAddressSelectionConfirmation" method="post">
            @await Component.InvokeAsync(nameof(VenueName), new VenueNameModel
            {
                LabelText = "Venue name",
                AriaDescribedBy = "Please enter the venue name."
            })

            <div>
                @await Component.InvokeAsync(nameof(PostcodeLookup), new PostcodeLookupModel
                {
                    PostcodeLabelText = "Venue postcode",
                    PostcodeAriaDescribedBy = "Please enter the postcode.",
                    ButtonText = "Find address"
                })
            </div>
            <div class="govuk-form-group">
                <a id="manualLink" class="govuk-link" asp-controller="Venues" asp-action="AddVenueManualAddress" asp-route-edit="false">Enter address manually</a>
            </div>

            @{
                var option = HttpContextAccessor.HttpContext.Session.GetString("Option");
               
                

                switch (option.ToUpper())
                {
                    case "ADDNEWVENUE":
                        @Html.ActionLink("Cancel", "SummaryToAddCourseRun", "AddCourse", null, new { @class = "govuk-link" })
                        break;
                    case "ADDNEWVENUEFOREDIT":
                        @Html.ActionLink("Cancel", "Reload", "EditCourseRun", null, new { @class = "govuk-link" })
                        break;
                    case "ADDNEWVENUEFORCOPY":
                        @Html.ActionLink("Cancel", "Reload", "CopyCourseRun", null, new { @class = "govuk-link" })
                        break;
                    default:
                        @Html.ActionLink("Cancel", "Index", "Venues", null, new { @class = "govuk-link" })
                        break;
                }
            }



        </form>
    </div>
</div>

<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>
