@using Dfc.CourseDirectory.Web.ViewComponents.PostcodeLookup
@model Dfc.CourseDirectory.Web.ViewComponents.EditVenueAddress.EditVenueAddressModel
@{
    ViewData["Title"] = "Edit location address";
    Layout = "_Layout_Your_Courses";
}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Edit location address</h1>
        <form method="post" id="edit-venue-form" asp-controller="Venues" asp-action="VenueAddressSelectionConfirmation">

            @Html.HiddenFor(x => x.VenueName)
            @Html.HiddenFor(x => x.Id)

            <div id="postcodelookupparent">
                @await Component.InvokeAsync(nameof(PostcodeLookup), new PostcodeLookupModel
                       {
                           Id = Model.Id,
                           VenueName = Model.VenueName,
                           Postcode = Model.Address.Postcode,
                           PostcodeLabelText = "Location postcode",
                           PostcodeAriaDescribedBy = "Please enter the postcode.",
                           ButtonText = "Find address"
                       })
            </div>

            <div class="govuk-form-group">
                <a id="cancelLink" class="govuk-link" asp-controller="Venues" asp-action="VenueAddressSelectionConfirmation" asp-route-Id=@Model.Id asp-route-VenueName=@Model.VenueName asp-route-PostcodeId=@Model.PostcodeId>Cancel</a>

            </div>
        </form>

    </div>
</div>
<script>
    (function ($) {
        $(function () {
            $("#findAddress").focus();

           var $selectedAddress = $("#PostcodeId").govUkSelect();
            var $postcode = $("#@nameof(Model.Address.Postcode)").govUkInput();
            var $container = $postcode.closest(".postcode-lookup__component").parent();

            //var $container = $(".postcode-lookup__component");

            var $continueButton = $("#venueAddressConfirmationSelection");
            var $manualLink = $("#manualLink");

            var validStates = [];
            var $continueButton = $("#findAddress");

            function isAllValid(currentValue) {
                        return currentValue === true;
            }

              var makePostRequestWithPayload = function (payload, cb) {
                var qs = $.param(payload);
                $.get("/PostcodeLookup?" + qs, cb);
             };

            var onPostCodeSearchSucess = function (data) {
                $container.html("");
                $container.html(data);
                $selectedAddress = $("#PostcodeId").govUkSelect();
                $continueButton = $("#venueAddressConfirmationSelection");
                $manualLink.text("I cannot find my address in the list");
            };

             var makeSelectionRequest = function (payload, cb) {
                var qs = $.param(payload);
                $.get("/PostcodeLookup/Default?" + qs, cb);
             };

            var onSelectionSucess = function (data) {
                $container.html("");
                $container.html(data);
            };


             function validateSelectedAddress() {

                $selectedAddress.govUkSelect("validState");
                 if ($.requiredValidate($selectedAddress.val()))
                    {
                        $selectedAddress.govUkSelect("validState");
                        validStates.push(true);
                    }
                    else
                    {
                        $selectedAddress.govUkSelect("invalidState", $selectedAddress.attr("val-required-message"));
                            validStates.push(false);
                }

            }

            function validatePostCode() {

                $postcode = $("#@nameof(Model.Address.Postcode)").govUkInput();
                $postcode.govUkInput("validState");

                $("#InvalidPostCode").removeClass("govuk-error-message");
                $("#InvalidPostCode").hide();

                if (!$.requiredValidate($postcode.val())) {
                    $postcode.govUkInput("invalidState", $postcode.attr("val-required-message"));
                    validStates.push(false);
                } else if (
                    !$.regexValidate({ regex: $postcode.attr("val-regex") }, $postcode.val())) {
                    $postcode.govUkInput("invalidState", $postcode.attr("val-regex-message"));
                    validStates.push(false);
                } else if (
                    !$.maxLengthValidate({ max: $postcode.attr("val-max-length") }, $postcode.val())) {
                    $postcode.govUkInput("invalidState", $postcode.attr("val-max-length-message"));
                    validStates.push(false);
                } else {
                    $postcode.govUkInput("validState");
                    validStates.push(true);
                }

                if (!validStates.every(isAllValid)) {

                }
            }


            $(document).on('click','#findAddress',function(e){
                e.preventDefault();
                    validStates = [];
                    validatePostCode();
                    if (validStates.every(isAllValid)) {
                        makePostRequestWithPayload(
                            {
                                postcode: $("#Postcode").val(),
                                venuename: $("#VenueName").val(),
                                id: $("#Id").val(),
                            }, onPostCodeSearchSucess);
                    }
              });

              $(document).on('click','#venueAddressConfirmationSelection',function(e){
                e.preventDefault();
                    validStates = [];
                    validateSelectedAddress();
                    if (validStates.every(isAllValid)) {
                        $("#edit-venue-form").submit();
                    }

            });

              $(document).on('click','#Change',function(e){

                   // $postcode = $("#@nameof(Model.Address.Postcode)").govUkInput();
                    makeSelectionRequest(
                      {
                           venuename: $("#VenueName").val(),
                           id: $("#Id").val(),
                      }, onSelectionSucess);
            });



        });
    })(jQuery);
</script>

