@using Dfc.CourseDirectory.Common.Settings
@using Dfc.CourseDirectory.Web.ViewComponents.VenueSearchResult
@model Dfc.CourseDirectory.Web.ViewModels.VenueSearchResultsViewModel
@{
    Layout = "_Layout_Your_Courses";
}
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Your venues";
}
<div class="header-search-content govuk-!-width-two-thirds">



    @await Component.InvokeAsync(nameof(VenueSearchResult), Model.Result)

</div>
<script>
    (function ($) {
        $(function () {
            $('a.edit-venue-link:first-child').attr("tabIndex", 5);
        });
    })(jQuery);
</script>
