@using Dfc.CourseDirectory.Common.Settings
@using Dfc.CourseDirectory.Web.ViewComponents.VenueSearch
@using Microsoft.Extensions.Options

<div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="Venues">Venues</a></li>
        </ol>
    </div>
    <h1 class="govuk-heading-l">Venue Search </h1>
    @await Component.InvokeAsync(nameof(VenueSearch))
</div>
