@using Dfc.CourseDirectory.Web.ViewComponents.VenueAddressSelectionConfirmation
@using Microsoft.AspNetCore.Http

@{
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.VenueAddressSelectionConfirmationViewModel

@{
    if (Model.Id != null)
    {
        <h1 class="govuk-heading-xl">Edit venue details</h1>
    }
    else
    {
        <h1 class="govuk-heading-xl">Add a venue</h1>
    }
}

@await Component.InvokeAsync(nameof(VenueAddressSelectionConfirmation), new VenueAddressSelectionConfirmationModel
    {
        Id = Model.Id,
        Address = Model.Address,
        VenueName = Model.VenueName
    })