
@using Dfc.CourseDirectory.Web.ViewComponents.VenueAddressSelectionConfirmation

@{
    var pageTitle="";
    if (Model.Id != null) {
        pageTitle = "Edit venue details";
    } else {
        pageTitle = "Add a venue";
    }
    ViewData["Title"] = pageTitle;
    Layout = "_Layout_Your_Courses";
}
@model Dfc.CourseDirectory.Web.ViewModels.VenueAddressSelectionConfirmationViewModel


<div class="govuk-grid-row">
    @*@Html.HiddenFor(x => x.PostCodeId)*@
    
    <input type="hidden" id="ModelPostCodeId" value="@Model.PostCodeId" />
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">@pageTitle</h1>

        @await Component.InvokeAsync(nameof(VenueAddressSelectionConfirmation), new VenueAddressSelectionConfirmationModel
        {
            Id = Model.Id,
            Address = Model.Address,
            VenueName = Model.VenueName,
            PostCodeId = Model.PostCodeId
        })
    </div>
</div>
