@using Dfc.CourseDirectory.Web.ViewComponents.VenueAddressSelectionConfirmation

@{
    var pageTitle = "";
    if (Model.Id != null)
    {
        pageTitle = "Check location details before saving";
    }
    else
    {
        pageTitle = "Add a location";
    }
    ViewData["Title"] = pageTitle;
    Layout = "_Layout_Your_Courses";
}
@model Dfc.CourseDirectory.Web.ViewModels.VenueAddressSelectionConfirmationViewModel

@if (Model.Address != null ? !Model.Address.IsEngland : false)
{
    <pttcd-notification title="Non England address">
        You are adding an address that is outside of England. Your course for this address will not appear in any search results.
    </pttcd-notification>
}

<div class="govuk-grid-row">
    @*@Html.HiddenFor(x => x.PostCodeId)*@

    <input type="hidden" id="ModelPostCodeId" value="@Model.PostCodeId" />
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">@pageTitle</h1>

        @await Component.InvokeAsync(nameof(VenueAddressSelectionConfirmation), new VenueAddressSelectionConfirmationModel
        {
            Id = Model.Id,
            Address = Model.Address,
            VenueName = Model.VenueName,
            PostCodeId = Model.PostCodeId
        })
    </div>
</div>
