@model Dfc.CourseDirectory.WebV2.Features.Venues.AddVenue.Address.Command
@{
    Layout = "_V2LayoutProviderContext";
    ViewContext.SetLayoutData(title: "Add venue");
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Address" asp-all-route-data="RouteValuesHelper.FromQueryString()">
            <h1 class="govuk-heading-xl">
                Add a venue
            </h1>

            <govuk-input asp-for="AddressLine1">
                <govuk-input-label>Address line 1</govuk-input-label>
            </govuk-input>

            <govuk-input asp-for="AddressLine2">
                <govuk-input-label>Address line 2</govuk-input-label>
            </govuk-input>

            <govuk-input asp-for="Town" input-class="govuk-input--width-20">
                <govuk-input-label>Town or city</govuk-input-label>
            </govuk-input>

            <govuk-input asp-for="County" input-class="govuk-input--width-20">
                <govuk-input-label>County</govuk-input-label>
            </govuk-input>

            @* N.B. Explicit `value` attribute below is required so that the normalized postcode is displayed here when there are validation errors *@
            <govuk-input asp-for="Postcode" input-class="govuk-input--width-10" value="@Model.Postcode">
                <govuk-input-label>Postcode</govuk-input-label>
            </govuk-input>

            <div class="govuk-button-group">
                <govuk-button type="submit" class="govuk-!-margin-right-3">Continue</govuk-button>
                @if (ViewBag.FromPublishPage == true)
                {
                    <a  asp-action="CheckAndPublish" asp-all-route-data="@RouteValuesHelper.FromQueryString()" class="govuk-link govuk-!-margin-left-3">Cancel</a>
                }
                else
                {
                    <a  asp-action="Cancel" asp-all-route-data="@RouteValuesHelper.FromQueryString()" class="govuk-link govuk-!-margin-left-3">Cancel</a>
                }
            </div>
        </form>
    </div>
</div>
