@model Dfc.CourseDirectory.WebV2.Features.Venues.AddVenue.Published.ViewModel
@{
    Layout = "_V2LayoutProviderContext";
    ViewContext.SetLayoutData(title: "Your venue has been added");
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel heading-level="1" class="govuk-!-margin-bottom-9">
            <govuk-panel-title>
                Your venue has been added
            </govuk-panel-title>
            <span data-testid="VenueName">@Model.Name</span>
        </govuk-panel>

        <h2 class="govuk-heading-m">What next?</h2>
        <ul class="govuk-list">
            <li>
                <a asp-controller="AddVenue" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                    Add a new venue
                </a>
            </li>
            <li>
                <a asp-controller="ViewVenues" asp-action="ViewVenues" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                    View and edit venues
                </a>
            </li>
            <li>
                <a asp-controller="ProviderDashboard" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                    Back to the home screen
                </a>
            </li>
        </ul>
    </div>
</div>
