@using Dfc.CourseDirectory.Common.Settings
@using Microsoft.Extensions.Options
@model Dfc.CourseDirectory.Web.ViewComponents.CourseFor.CourseForModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<CourseForComponentSettings> courseForComponentSettings

<div class="govuk-form-group">

    <div class="govuk-character-count" data-module="character-count" data-maxlength=@courseForComponentSettings.Value.TextFieldMaxChars>
        <div class="govuk-form-group">
            <label class="govuk-label" for="with-hint">
                @Model.LabelText
            </label>
            <span id="with-hint-hint" class="govuk-hint">
                @Model.HintText
            </span>
            <textarea class="govuk-textarea js-character-count " id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-hint"></textarea>
        </div>

        <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to @courseForComponentSettings.Value.TextFieldMaxChars characters
        </span>
    </div>

</div>

<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>