@{
    Layout = "_V2LayoutProviderContext";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Details about cookies on Publish to the course directory
        </h1>
        <p>Publish to the course directory puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site. Find out more about the cookies we use, what they’re for and when they expire.</p>

        <h2 class="govuk-heading-s govuk-!-font-size-27">
            Cookies that measure website use
        </h2>
        <p>We use Google Analytics software to collect information about how you use the Publish to the course directory website. We do this to help make sure the site is meeting the needs of its users, and to help us to make improvements.</p>
        <p>You can <a href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a> at any time.</p>
        <div class="govuk-inset-text">
            We do not allow Google to use or share our analytics data.
        </div>
        <p>Google Analytics stores information about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>how you got to the site</li>
            <li>the pages you visit on Publish to the course directory and government digital services, and how long you spend on each page</li>
            <li>what you click on while you're visiting the site</li>
        </ul>
        <p>Google Analytics sets the following cookies.</p>
        <table class="govuk-table cookie-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_ga</td>
                    <td class="govuk-table__cell">These help us count how many people visit Publish to the course directory by tracking if you’ve visited before</td>
                    <td class="govuk-table__cell">2 years</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_ga_6N631VWH5K</td>
                    <td class="govuk-table__cell">This persists session state</td>
                    <td class="govuk-table__cell">24 hours</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_gat</td>
                    <td class="govuk-table__cell">Used to manage the rate at which page view requests are made </td>
                    <td class="govuk-table__cell">10 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">_gid</td>
                    <td class="govuk-table__cell">Stores and updates a unique value for each page you've visited to help us improve your experience</td>
                    <td class="govuk-table__cell">24 hours</td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m govuk-!-font-size-27">
            Strictly necessary cookies
        </h2>
        <h3 class="govuk-heading-s">
            Cookies message
        </h3>
        <p>You may see a banner when you visit Publish to the course directory inviting you to accept cookies or set cookie preferences. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.</p>
        <table class="govuk-table cookie-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Antiforgery.cdV5uW_Ejgc</td>
                    <td class="govuk-table__cell">Provides protection against cross site attacks</td>
                    <td class="govuk-table__cell">End of session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Cookies</td>
                    <td class="govuk-table__cell">Used to store encrypted user identity data to keep a user logged in across requests</td>
                    <td class="govuk-table__cell">90 minutes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">.AspNetCore.Session</td>
                    <td class="govuk-table__cell">Used to store page data between http requests at our server</td>
                    <td class="govuk-table__cell">End of session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ARRAffinity</td>
                    <td class="govuk-table__cell">Used to make sure the visitor page requests are routed to the same server in any browsing session</td>
                    <td class="govuk-table__cell">End of session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ARRAffinitySameSite</td>
                    <td class="govuk-table__cell">Used to make sure the visitor page requests are routed to the same server in any browsing session</td>
                    <td class="govuk-table__cell">End of session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BNIS__utm_is1</td>
                    <td class="govuk-table__cell">Used to manage site security</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BNIS__utm_is2</td>
                    <td class="govuk-table__cell">Used to manage site security</td>
                    <td class="govuk-table__cell">3 hours</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BNIS__utm_is3</td>
                    <td class="govuk-table__cell">Used to manage site security</td>
                    <td class="govuk-table__cell">End of session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BNIS_vid</td>
                    <td class="govuk-table__cell">Used to manage site security</td>
                    <td class="govuk-table__cell">End of session</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BNES_*</td>
                    <td class="govuk-table__cell">Cookies with this prefix are a secure counterpart to the original cookie. They contain an encrypted copy of the original cookie, allowing our firewall to validate that your session data has not been altered to provide an extra layer of security</td>
                    <td class="govuk-table__cell">Same as its counterpart</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">cookies-settings</td>
                    <td class="govuk-table__cell">Saves your cookie consent settings</td>
                    <td class="govuk-table__cell">1 year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">ncs_main_session</td>
                    <td class="govuk-table__cell">Used to store session id</td>
                    <td class="govuk-table__cell">End of session</td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-m govuk-!-font-size-27">
            Change your settings
        </h2>
        <p>You can <a asp-action="Settings" class="govuk-link">change which cookies you’re happy for us to use</a>.</p>
    </div>
</div>
