@{
    Layout = "_V2LayoutProviderContext";
    ViewBag.Title = "Accessibility Statement";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility statement</h1>

        <p class="govuk-body">
            This accessibility statement applies to
            <a class="govuk-link" href="https://coursedirectory.nationalcareers.service.gov.uk/" target="_blank">
                Publish to the course directory
            </a>.
        </p>

        <p class="govuk-body">
            This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 400% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>

        <p class="govuk-body">
            We've also made the website text as simple as possible to understand.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" target="_blank">
                AbilityNet
            </a>
            has advice on making your device easier to use if you have a disability.
        </p>

        <h2 class="govuk-heading-m">
            How accessible this website is
        </h2>

        <p class="govuk-body">
            We know some parts of this website are not fully accessible. We’ve identified errors  including:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Semantic markup not used when implementing bolded text to convey importance</li>
            <li>Not informing users of additional content</li>
            <li>Screen reader anomalies</li>
            <li>Not being able to upload files using Dragon Naturally Speaking</li>
            <li>Not being able to interact with all user interface components using keyboard only</li>
            <li>Unexpected changes of context</li>
            <li>Related links not grouped using nav element</li>
            <li>The presence of two-dimensional scrolling</li>
            <li>Multiple instances of identical link text</li>
            <li>Content which overlaps when content has reflowed</li>
            <li>Tab order which is not logical</li>
            <li>Page title which is not descriptive</li>
            <li>Multiple ways to navigate to pages</li>
            <li>Tab focus indicator not visible</li>
            <li>Incorrect heading structure</li>
            <li>Duplicate elements</li>
            <li>Select element does not have accessible name</li>
            <li>Broken ARIA references</li>
            <li>Page regions which are not identified with ARIA landmarks</li>
            <li>Orphaned form labels</li>
            <li>Buttons containing the same accessible name</li>
            <li>Information only conveyed by colour on the header menu</li>
        </ul>

        <h2 class="govuk-heading-m">
            Feedback and contact information
        </h2>

        <p class="govuk-body">
            <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">
                Email the support team
            </a>
            if you need information on this website in a different format such as:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>accessible PDF</li>
            <li>large print</li>
            <li>easy read</li>
            <li>audio recording</li>
            <li>braille</li>
        </ul>

        <p class="govuk-body">
            Your request will be considered and replied to within 5 days.
        </p>

        <h2 class="govuk-heading-m">
            Reporting accessibility problems with this website
        </h2>

        <p class="govuk-body">
            We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements,
            <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">
                contact us.
            </a>
        </p>

        <h2 class="govuk-heading-m">
            Enforcement procedure
        </h2>

        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,
            <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" target="_blank">
                contact the Equality Advisory and Support Service (EASS)
            </a>.
        </p>

        <h2 class="govuk-heading-m">
            Technical information about this website's accessibility
        </h2>

        <p class="govuk-body">
            The Department for Education is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>

        <h2 class="govuk-heading-m">
            Compliance status
        </h2>

        <p class="govuk-body">
            This website is partially compliant with the WCAG (Web Content Accessibility Guidelines) version 2.2 AA standard, due to the non-compliances listed in this statement.
        </p>

        <h2 class="govuk-heading-m">
            Non-accessible content
        </h2>

        <p class="govuk-body">
            This section provides information about the non-accessible content.
        </p>

        <h2 class="govuk-heading-m">
            Semantic markup not used when implementing bolded text to convey importance
        </h2>

        <p class="govuk-body">
            The ‘View provider dashboard’, ‘Provider dashboard’, and ‘Which qualification are you awarding with this course?’ webpages that bolded text used to convey importance is implemented using custom CSS instead of semantic markup.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.3.1 - Info and Relationships (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Not informing users of additional content
        </h2>

        <p class="govuk-body">
            On the ‘Which qualification are you awarding with this course?’, the search results are not announced to the user when they are seen on screen. This can also be seen on the ‘Search Providers’ page.
        </p>

        <p class="govuk-body">
            When the user uploads content, the ‘Uploading’ screen appears, which also does not announce to the user.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 4.1.3 - Status Messages (AA)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Screen reader anomalies
        </h2>

        <p class="govuk-body">
            When on the ‘Course details’ page, form fields that explicitly state whether they are optional or required do not announce this information when navigating with a screen reader. It is recommended that focusing on the form field makes the user aware if the field is optional or required.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 4.1.2 - Name, Role, Value (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Not being able to upload files using Dragon Naturally Speaking
        </h2>

        <p class="govuk-body">
            When interacting with any upload feature using Dragon Naturally Speaking, they are unable to interact with the component using any known voice commands. This prevents the user from being able to upload files unless they use a mouse or use the mouse grid feature.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 4.1.2 - Name, Role, Value (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Not being able to interact with all user interface components using keyboard only
        </h2>

        <p class="govuk-body">
            When the user is on the ‘Choose a sector subject area (SSA)’ page, and they have selected options in the 'Sector Subject' to view the available filters on the page. If the user attempts to tab the filters, they will be unable to access the Apply button to update the page content with the selected options.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 2.1.1 - Keyboard (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Unexpected changes of context
        </h2>

        <p class="govuk-body">
            When the user is navigating the filters within the ‘Which qualification are you awarding with this course?’ page, and they select any of the given options from the filters, the content will automatically update and place the user at the top of the filters list again, changing the context of the page for the user.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 3.2.2 - On Input (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Related links not grouped using nav element
        </h2>

        <p class="govuk-body">
            Related links are not grouped using the nav element. It is expected that related links that are visually grouped are contained within a <nav> element. Additionally, on the ‘File Format Requirements’ page, the anchor links are also not contained within a <nav>.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.3.1 - Info and Relationships (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            The presence of two-dimensional scrolling
        </h2>

        <p class="govuk-body">
            When viewing the page at 1280px width and 400% zoom, two-dimensional scrolling is required to view content. It is expected that at zoom up to 400%, no parts of the content should require two-dimensional scrolling except for parts of content where two-dimensional scrolling is required for usage or meaning.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.4.10 - Reflow (AA)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Multiple instances of identical link text
        </h2>

        <p class="govuk-body">
            It's been noted in 2 different locations that there are links with the same text shown, and they will not have a proper indication of where they are navigating the user.
        </p>

        <p class="govuk-body">
            The first instance is on the ‘Search results’ page, where the ‘Add Provider’ and ’View Dashboard’ links contain multiple instances of each, making it hard for the user to know what they're associated with if using assistive technologies.
        </p>

        <p class="govuk-body">
            The second noted area is on the ‘Provider Dashboard’ where there are 2 sets of identical links with no indication on their association, one set is for the ‘LARS code’, and the other is for ‘Non-LARS code’.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 2.4.4 - Link Purpose (In Context) (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Content overlaps when content has reflowed
        </h2>

        <p class="govuk-body">
            When viewing the page at 1280px width and 400% zoom, content overlaps when it has reflowed. It's expected that at zoom up to 400%, no parts of the content should overlap, and all content should remain available on the page.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.4.10 - Reflow (AA)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Tab order which is not logical
        </h2>

        <p class="govuk-body">
            On all tested pages with header menu items, the order in which the user will tab through them is not logical. This is likely to confuse some users, as the order when tabbing does not match what is being displayed on screen.
        </p>

        <p class="govuk-body">
            On the ‘Upload new venue data’ page, the order when tabbing is not consistent with the page layout.
        </p>

        <p class="govuk-body">
            Similar behaviour is also seen on the ‘Which qualification are you awarding with this course?’ webpage. When the page loads, the user is focused directly on the search field, meaning the user would have to tab backwards to understand the webpage context.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 2.4.3 - Focus Order (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Page title which is not descriptive
        </h2>

        <p class="govuk-body">
            On several pages the page title is not descriptive enough for the content that’s on the page. For these pages, they're all titled the same as the default name "Publish to the course directory", rather than a title that describes the page the user is currently on. This would better help those who are using assistive technologies.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 2.4.2 - Page Titled (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Multiple ways to navigate to pages
        </h2>

        <p class="govuk-body">
            The main navigation is absent on the ‘Privacy policy - Publish to the course directory’ page. It's important that this navigation is provided to give users additional ways to locate webpages.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 2.4.5 - Multiple Ways (AA)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Tab focus indicator not visible
        </h2>

        <p class="govuk-body">
            When tabbing through the pages ‘Which qualification are you awarding with this course?’ and ‘Find non-regulated award’, the search button does not have a clear visible focus indicator.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 2.4.7 - Focus Visible (AA)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Incorrect heading structure
        </h2>

        <p class="govuk-body">
            It's been noted on several pages that 'H1' headings are missing, resulting in the preceding headings not being correctly nested. It has also been shown that on the page ‘Upload new venue data’, the page is missing 'H3', 'H4' and 'H5' before an 'H6' is displayed for the user. It's expected that all pages will have the correct hierarchy and headings accurately nested to aid the user's navigation of the page.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 2.4.1 - Bypass Blocks (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Duplicate elements
        </h2>

        <p class="govuk-body">
            Within both the ‘Upload your course data’ and ‘Upload new venue data’ pages, if the user fails to add a CSV file before continuing. 2 errors were displayed for the same file upload component. This will likely affect screen reader users and confuse them, as there are now 2 errors being displayed.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 4.1.2 - Name, Role, Value (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Select element does not have accessible name
        </h2>

        <p class="govuk-body">
            On the ‘Copy Course’ page, the select element under “Duration” is missing a label. Select elements must provide descriptive text about their function, otherwise screen reader users may not know how to proceed.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 4.1.2 - Name, Role, Value (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Broken ARIA references
        </h2>

        <p class="govuk-body">
            On the ‘Course Description’ page, there are 7 broken ARIA references. This means that an aria-described by reference exists, but the target for the reference does not. This could cause issues for users of screen readers.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 4.1.2 - Name, Role, Value (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Page regions not identified with ARIA landmarks
        </h2>

        <p class="govuk-body">
            The “Beta” banner, "Provider" navigation and "Back" link are not contained within ARIA landmarks. Additionally, on the ‘Publish to the Course Directory’ page, there are 2 identical “Complimentary” landmarks that surround additional links.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.3.1 - Info and Relationships (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Orphaned form labels
        </h2>

        <p class="govuk-body">
            A form label is present, but it’s not correctly associated with the form control. This could cause issues for users of screen readers.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.1.1 - Non-text Content (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Buttons contain the same accessible name
        </h2>

        <p class="govuk-body">
            Some buttons have the same accessible name which can result in the same accessible text being announced in succession as the user navigates the page with a screen reader.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.1.1 - Non-text Content (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Information only conveyed by colour on the header menu
        </h2>

        <p class="govuk-body">
            The header text will only show which one is selected with a change in the text colour. It’s expected that there would be differentiation between the menu options to make sure the user knows what menu option they are currently on during navigation, other than just colour.
        </p>

        <p class="govuk-body">
            <strong>WCAG Criteria</strong>: 1.4.1 - Use of Color (A)
        </p>

        <p class="govuk-body">
            <strong>Resolution Information</strong>: Planning to resolve by December 2026
        </p>

        <h2 class="govuk-heading-m">
            Preparation of this accessibility statement
        </h2>

        <p class="govuk-body">
            This statement was prepared on 7 May 2026.
        </p>

        <p class="govuk-body">
            This website was last tested on 8 April 2026. The test was carried out by Zoonou
        </p>

        <p class="govuk-body">
            We used this approach to deciding on a sample of pages to test, External Audit
        </p>

        <p class="govuk-body">
            Accessibility statement version: 20250409_10
        </p>

    </div>
</div>
