@{
    Layout = "_Layout_Your_Courses";
}
<div class="content-container">
    <div class="govuk-grid-row" data-sf-element="Row">
        <span class="govuk-caption-xl">Course directory</span>
        <h1 class="govuk-heading-xl">Contact the help desk</h1>
        <br />
        <h3 class="govuk-heading-m">Please call the Help Desk </h3>
        
        <button class="govuk-button" onclick="location.href = '@Url.Action("Index", "Home")';return false;">Continue</button>
    </div>
</div>
