@{
    ViewData["Title"] = "All Courses Migrated";
    Layout = "_Layout_Your_Courses";
}
@model Dfc.CourseDirectory.Web.ViewModels.Migration.DeleteCourseRunViewModel


<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Course run deleted
    </h1>
    <div class="govuk-panel__body">
        @Model.CourseName has been deleted from Course directory
    </div>
</div>
<h2 class="govuk-heading-m">Next steps</h2>
<div class="govuk-form-group">
    <ul>
        <li>
            @Html.ActionLink("Delete another course", "index", "Migration", new { }, new { @class = "govuk-link" })
        </li>
        <li>
            @Html.ActionLink("Back to dashboard", "Index", "Home", new { }, new { @class = "govuk-link" })
        </li>
    </ul>
</div>