@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="govuk-form-group">
                <label class="govuk-label" asp-for="Username"></label>
                <input asp-for="Username" class="govuk-input" disabled />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="govuk-form-group">
                        <input asp-for="Input.Email" class="govuk-input" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="govuk-input" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="govuk-button">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="govuk-form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="govuk-input" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="govuk-button">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
