@model Dfc.CourseDirectory.Core.Models.UploadStatus
@{
    ViewBag.Title = "Uploading your apprenticeship data";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Uploading your apprenticeship data</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="pttcd-loading-spinner__container">

            <div class="pttcd-loading-spinner"></div>

            <div class="pttcd-loading-spinner__message govuk-!-margin-4" id="StatusMessage">
                @if (Model == Dfc.CourseDirectory.Core.Models.UploadStatus.Created)
                {
                    <text>Uploading file</text>
                }
                else
                {
                    <text>Processing data</text>
                }
            </div>

            <a asp-action="InProgress" asp-all-route-data="@ProviderContext.RouteValues" id="RefreshLink">
                Refresh <span class="govuk-visually-hidden">the page</span>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#RefreshLink').hide();

        const onRealtimeUpdateFailed = function () {
            console.log("failed");
            // Fall back to non-JS solution
            $('#RefreshLink').show();
        }

        var queryParams = new URLSearchParams(window.location.search);
        const url = '/data-upload/apprenticeships/hub?providerId=' + queryParams.get('providerId');

        const connection = new signalR.HubConnectionBuilder()
            .withUrl(url)
            .withAutomaticReconnect()
            .build();

        connection.start().then(function() {
            connection.stream('StatusUpdates').subscribe({
                next: function(status) {
                    const message = status == 0 ? 'Uploading file' : 'Processing data';
                    $('#StatusMessage').text(message);
                },
                complete: function () {
                    console.log("here");
                    window.location = window.location.href;
                },
                error: onRealtimeUpdateFailed
            });
        }, onRealtimeUpdateFailed);
    </script>
}
