@inject Settings Settings
@{
    var activeSection = ViewData["ActiveAdminTopNavSection"] as AdminTopNavSection?;
}

<nav aria-label="Top Level Navigation" class="govuk-service-navigation__container">
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation" hidden>Menu</button>
    <ul id="navigation" class="govuk-service-navigation__list">
        <li class="govuk-service-navigation__item@(activeSection == AdminTopNavSection.HelpdeskDashboard ? " govuk-service-navigation__item--active" : null)">
            <a asp-action="Dashboard" asp-controller="HelpdeskDashboard" class="govuk-service-navigation__link" data-testid="topnav-helpdeskdashboard">
                Helpdesk dashboard
            </a>
        </li>
        <li class="govuk-service-navigation__item@(activeSection == AdminTopNavSection.SearchProviders ? " govuk-service-navigation__item--active" : null)">
            <a asp-action="ProviderSearch" asp-controller="ProviderSearch" class="govuk-service-navigation__link" data-testid="topnav-searchproviders">
                Search providers
            </a>
        </li>
        <li class="govuk-service-navigation__item">
            <a href="@Settings.ManageUsersUrl" target="_blank" rel="noreferrer" class="govuk-service-navigation__link" data-testid="topnav-manageusers">
                Manage users
            </a>
        </li>
        <li class="govuk-service-navigation__item@(activeSection == AdminTopNavSection.ProviderUpload ? " govuk-service-navigation__item--active" : null)">
            <a href="@Url.Action("Index", "ProvidersDataManagement")" class="govuk-service-navigation__link" data-testid="topnav-provider-upload">
                Upload providers
            </a>
        </li>
        <li class="govuk-service-navigation__item pttcd-sign-out-navigation-item">
            <a asp-action="Logout" asp-controller="Auth" class="govuk-service-navigation__link" data-testid="topnav-signout">
                Sign out
            </a>
        </li>
    </ul>
</nav>
