@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Delete this file"; 
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.DeleteFileViewModel


<div class="content-container">
    <div class="govuk-grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds">

            <form class="govuk-!-margin-bottom-9" id="DownloadErrorFileForm" asp-controller="BulkUploadApprenticeships" asp-action="DeleteFile" method="post">
                <span class="govuk-caption-xl">Course Directory</span>
                <h1 class="govuk-heading-l">Delete this file</h1>

                <p class="govuk-body govuk-!-padding-bottom-4">
                    The apprenticeship training information in this file will not be published.<br /> You can
                    upload another file for bulk upload at any time. 
                </p>

                <ul class="flex-container">
                    <li class="flex-item">
                        <button type="submit" class="govuk-button" id="next">Continue</button>
                    </li>
                    <li class="flex-item" style="padding-top: 15px">
                        <a class="govuk-link" asp-controller="BulkUploadApprenticeships" asp-action="WhatDoYouWantToDoNext">Cancel</a>
                    </li>
                </ul>
             
            </form>
        </div>
    </div>
</div>




