

@using Dfc.CourseDirectory.Web.ViewComponents.PublishCourses.Publish
@model Dfc.CourseDirectory.Web.ViewModels.PublishCourses.PublishViewModel

<form asp-controller="PublishCourses" asp-action="Index" id="PublishCourses">

    @await Component.InvokeAsync(nameof(Publish), new { model = Model })


    <div class="govuk-form-group">
        @Html.HiddenFor(m => m.PublishMode)
        @Html.HiddenFor(m => m.NumberOfCoursesInFiles)

        @if (Model.AreAllReadyToBePublished)
        {
            <button name="publishButton" type="submit" class="govuk-button" id="publish">
                Publish all
            </button>
        }      

        <div> @Html.ActionLink("Exit without publishing", "Index", "Home", new { }, new { @class = "govuk-link" })</div>
    </div>

</form>
