.pttcd-table--last-row-border-0 tbody tr:last-child td {
    border: 0;
}

.pttcd-table-header-width__40 th {
    width: 40%;
}

.pttcd-table--no-border {
    border-bottom-width: 0;
}

.pttcd-table__row-\!-border td, .pttcd-table__row-\!-border th {
    border-bottom: 1px solid #b1b4b6 !important;
}
