@model Dfc.CourseDirectory.WebV2.Features.BulkUpload.CoursesPublishingFile.ViewModel
@{ ViewBag.Title = "Publish in progress"; }
@{

    const int bulkUploadSecondsPerRecord = 1;
    double totalMinutes = (double)Model.NumberOfCourses * bulkUploadSecondsPerRecord / 60;
    totalMinutes = Math.Max(2, totalMinutes);
    int displayMinutes = (int)Math.Round(totalMinutes, 0, MidpointRounding.AwayFromZero);
}
<govuk-panel>
    <govuk-panel-title>Publish in progress</govuk-panel-title>
    You are publishing <span data-testid="courseCount">@Model.NumberOfCourses courses</span>.
    <br />
    This could take up to <span data-testid="timeEstimate">@displayMinutes minutes</span>.
</govuk-panel>
