@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@model UnRegulatedSearchViewModel

@{
    Layout = "_Layout_Your_Courses";
}

@{ var regex = @"^[zZ]{1}[a-zA-Z0-9]{7}$"; }



        <div class="grid-row" data-sf-element="Row">
            <div class="column-two-thirds govuk-body">
                <div>

                    <h1 class="govuk-heading-l govuk-!-margin-top-4">Search for a course provision</h1>

                   
                </div>
                <form class="" id="zCodeSearch" asp-controller="UnregulatedCourses" asp-action="Index" method="post">
                    
                    
                    <div id="errorsummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display: none;">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list"></ul>
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <label class="column-two-thirds" name="unregulated-search">Search by Z code for the provision you are awarding with this course</label>
                        <input class="govuk-input" style="width:95%; float:left" asp-for="@Model.Search" type="text" placeholder="Enter a Z code" aria-label="unregulated-search"
                               val-required-message="Enter a z code to search"
                               val-regex="@regex"
                               val-regex-message="Code must start with Z followed by 7 numbers or letters" />

                        <button id="searchZCode" type="submit" class="submit">Search</button>


                    </div>
                </form>
            </div>
        </div>
        <div class="grid-row" data-sf-element="Row">
            <div class="govuk-form-group">
                <a class="govuk-link" id="unKnownLink" asp-controller="UnregulatedCourses" asp-action="UnknownZCode" style="padding-left:0.2em">  I don't know the Z code  </a>
                <br />
                <br />
                <div id="results">

                </div>
            </div>
        </div>

<script>
    (function ($) {
        $(function () {

            var $code = $("#@nameof(Model.Search)").govUkInput();
            var validStates = [];
            var $search = $("#searchZCode");
            var $errorSummary = $("#errorsummary").govUkErrorSummary();

            var doSearch = function () {

                $('#results').html("");
                makeRequestWithPayload({
                    Search: $('#Search').val()
                }, onSucess);
            };

            var onSucess = function (data) {

                //$('#unKnownLink').hide();
                $('#results').html("");
                $('#results').html(data);
            };

            function isAllValid(currentValue) {
                        return currentValue === true;
            }

            var makeRequestWithPayload = function (payload, success) {
                var qs = $.param(payload);
                qs = replaceAll(qs, "%5B%5D", "");
                $.get("/UnregulatedCourses/FindNonRegulated?" + qs, success);
            };

            var replaceAll = function (search, find, replace) {
                return search.split(find).join(replace);
            };

            function validate() {
                validStates = [];

                $errorSummary.govUkErrorSummary("removeAll");
                if (!$.requiredValidate($code.val())) {
                    $code.govUkInput("invalidState", $code.attr("val-required-message"));
                    validStates.push(false);
                    var $anchor = document.createElement("a");
                    $anchor.href = "#Search";
                    $anchor.innerHTML = $code.attr("val-required-message");
                    $anchor.id = "error-hash-link-" + "a" + "-" + 1;
                    $errorSummary.govUkErrorSummary("add", $anchor);
                    $errorSummary.govUkErrorSummary("show");

                } else if (
                    !$.regexValidate({ regex: $code.attr("val-regex") }, $code.val())) {
                    $code.govUkInput("invalidState", $code.attr("val-regex-message"));
                    validStates.push(false);
                }  else {
                    $code.govUkInput("validState");
                    $code.push(true);
                }

            }


            $(document).on('click','#searchZCode',function(e){
                e.preventDefault();
                    $('#results').html("");
                    validStates = [];
                    validate();
                    if (validStates.every(isAllValid)) {
                        doSearch();
                    }

            });






        });
    })(jQuery);
</script>








