@using Dfc.CourseDirectory.Web.ViewComponents.ZCodeSearchResult

@model ZCodeSearchResultModel

<a asp-controller="UnregulatedCourses" asp-action="Index" class="govuk-back-link">Back</a>

<div class=" govuk-!-margin-top-4 ">
    <div class="govuk-!-width-two-thirds provision-container govuk-body govuk-!-margin-bottom-3">
        <h2 class="provision-title govuk-heading-l">
            @Model.Items.FirstOrDefault()?.LearnAimRefTitle
        </h2>
        <span>LARS/QAN :</span> <span>@Model.Items.FirstOrDefault()?.LearnAimRef</span><br />
        <span>Level :</span> <span>@Model.Items.FirstOrDefault()?.NotionalNVQLevelv2</span><br />


    </div>
    <br />

</div>


<div class="cd-action-container">

    <a asp-controller="AddCourse" asp-action="AddCourse" asp-route-learnAimRef=@Model.Items.FirstOrDefault()?.LearnAimRef asp-route-notionalNVQLevelv2=@Model.Items.FirstOrDefault()?.NotionalNVQLevelv2 asp-route-awardOrgCode=@Model.Items.FirstOrDefault()?.AwardOrgCode asp-route-learnAimRefTitle=@Model.Items.FirstOrDefault()?.LearnAimRefTitle asp-route-learnAimRefTypeDesc=@Model.Items.FirstOrDefault()?.LearnAimRefTypeDesc class="govuk-button" id="">Choose</a>
    @Html.ActionLink("Cancel", "index", "UnregulatedCourses", new { }, new { @class = "govuk-link" })
</div>


