@model Dfc.CourseDirectory.WebV2.Features.Cookies.CookieBannerViewModel

@if (Model.ShowBanner)
{
    <form asp-action="AcceptAllCookies" asp-controller="Cookies" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
        <div class="govuk-width-container" id="pttcd-cookie-banner">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div>
                        <span class="govuk-heading-m">Tell us whether you accept cookies</span>
                        <p class="govuk-body">We use <a class="govuk-link" asp-controller="Cookies" asp-action="Details">cookies to collect information</a> about how you use GOV.UK. We use this information to make the website work as well as possible and improve government services.</p>
                    </div>
                    <div>
                        <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                            <govuk-button type="submit" class="govuk-!-margin-bottom-2">Accept all cookies</govuk-button>
                        </div>
                        <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                            <govuk-button asp-action="Settings" asp-controller="Cookies" class="govuk-!-margin-bottom-2">Set cookie preferences</govuk-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}