@using Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.ApprenticeshipSearch

@{
    ViewData["Title"] = "Find apprenticeship"; 
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.SearchViewModel






<div class="content-container">
    <div class="" data-sf-element="Row">
        <div class="govuk-grid-column">
            <div id="errorsummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display: none;">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <span class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> This framework or standard name already exists
                    </span>
                </div>
            </div>
            <div>
                <h1 class="govuk-heading-l govuk-!-margin-top-4">Find apprenticeship</h1>
                <label class="govuk-label" id="searchLabel">Search by name or keyword for the apprenticeship this training is for.</label>


                @*<p class="govuk-body-l">Search by apprenticeship name or keyword</p>*@
            </div>
            <form class="govuk-!-margin-bottom-9" id="ApprenticeshipSearchForm" asp-controller="Apprenticeships" asp-action="Search" method="post">
                <div class="header-search-content">
                    <span asp-validation-for="@Model.Search" class="govuk-error-message"></span>
                    <div class="search-input-wrapper">


                        <input class="govuk-input search-input js-search-focus" id="ApprenticeshipSearchTerm" asp-for="@Model.Search" type="text" aria-labelledby="searchLabel">
                        <div class="cd-c-search__item cd-search__submit-wrapper">
                            <button type="button" class=" submit" id="searchApprenticeships">Search</button>
                        </div>
                    </div>
                </div>
            </form>



            <div id="results">

                @await Component.InvokeAsync(nameof(ApprenticeshipSearch))
            </div>



        </div>
    </div>
</div>













