@model Dfc.CourseDirectory.WebV2.Features.TLevels.DeleteTLevel.DeletedViewModel
@{
    Layout = "_V2LayoutProviderContext";
    ViewBag.Title = "Your T Level has been deleted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel>
            <govuk-panel-title>Your T Level has been deleted</govuk-panel-title>
            Course
            <br>
            <strong data-testid="TLevelName">@Model.TLevelName</strong>
        </govuk-panel>

        <h2 class="govuk-heading-m">What next?</h2>

        <ul class="govuk-list">
            <li>
                <a asp-controller="AddTLevel" asp-action="SelectTLevel" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">
                    Add a T Level
                </a>
            </li>
            @if (Model.HasOtherTLevels)
            {
                <li>
                    <a asp-controller="ViewTLevels" asp-action="List" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link" data-testid="ViewEditLink">
                        View and edit T Levels
                    </a>
                </li>
            }
            <li>
                <a href="/" class="govuk-link">
                    Back to the home screen
                </a>
            </li>
        </ul>
    </div>
</div>
