
@using Dfc.CourseDirectory.Web.ViewComponents.Extensions
@using Dfc.CourseDirectory.Web.ViewComponents.Pagination;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization;
@using Dfc.CourseDirectory.Services.UnregulatedProvision
@using Dfc.CourseDirectory.Web.ViewComponents.ZCodeFoundResult
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ZCodeFoundResultModel;


@if (!string.IsNullOrEmpty(Model?.LearnAimRefTitle))
{
    <div class=" govuk-!-margin-top-4 ">
        <div class="provision-container govuk-body govuk-!-margin-bottom-3">
            <h2 class="provision-title govuk-heading-l">
                @Model?.LearnAimRefTitle
            </h2>
            <span>LARS/QAN :</span> <span>@Model?.LearnAimRef</span><br />
            <span>Level :</span> <span>@Model?.NotionalNVQLevelv2</span><br />
        </div>
        <br />
    </div>

    <div class="cd-action-container">
        <a asp-controller="AddCourse" asp-action="AddCourse" asp-route-learnAimRef=@Model?.LearnAimRef asp-route-notionalNVQLevelv2=@Model?.NotionalNVQLevelv2 asp-route-awardOrgCode=@Model?.AwardOrgCode asp-route-learnAimRefTitle=@Model?.LearnAimRefTitle asp-route-learnAimRefTypeDesc=@Model?.LearnAimRefTypeDesc class="govuk-button" id="">Choose</a>
        @Html.ActionLink("Cancel", "index", "RegulatedQualification", new { }, new { @class = "govuk-link" })
    </div>

} else {
<div class=" govuk-!-margin-top-4 ">
    @*<h1>Z code does not exist</h1>
        <h2>Check the code you have entered and try again</h2>*@
    <span class="govuk-visually-hidden">Data Unavailable</span>
    @await Component.InvokeAsync(nameof(Notification), new NotificationModel
              {
                  NotificationTitle = "Z code does not exist",
                  NotificationMessage = "Check the code you have entered and try again",
                  ClassType = "error-summary"
              })
</div>
}
