@using Dfc.CourseDirectory.Web.ViewComponents.PublishCourses.PublishCourse
@using Dfc.CourseDirectory.Services.Models
@model Dfc.CourseDirectory.Web.ViewModels.PublishCourses.PublishViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div class="govuk-body cd-file-upload">
        @if (Model.PublishMode.Equals(PublishMode.DataQualityIndicator))
        {
            var courseRunCount = Model.Courses.SelectMany(x => x.CourseRuns).Count();
            <h1 class="govuk-govuk-grid-column-one-half-l">@courseRunCount courses need their start date updating</h1>
        }
        @*<div class="err-top-line"></div>*@
    <hr class="govuk-section-break govuk-section-break--visible">
        @await Component.InvokeAsync(nameof(PublishCourse), new { model = Model })
    </div>
