@using Dfc.CourseDirectory.Common.Settings
@using Microsoft.Extensions.Options
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.WhatWillLearn.WhatWillLearnModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptions<WhatWillLearnComponentSettings> whatWilllLearnComponentSettings

@{
    var regex = @"[a-zA-Z0-9 /\r\n?|\n\¬\!\£\$\%\^\&\*\(\)_\+\-\=\{\}\[\]\;\:\@\'\#\~\,\<\>\.\?\/\|\`\" + "\"" + @"\\]+";
}

<div class="govuk-form-group">

    <div class="govuk-character-count" data-module="character-count" data-maxlength=@whatWilllLearnComponentSettings.Value.TextFieldMaxChars>

        <div class="govuk-form-group" style="margin-bottom: 0;padding-bottom: 0">
            <label class="govuk-label" for="what-will-learn">
                @Model.LabelText
            </label>
            <span id="what-will-learn-hint" class="govuk-hint">
                @Model.HintText
            </span>
            <textarea asp-for="WhatWillLearn" class="govuk-textarea js-character-count" id="textAreaWhatWillLearn" name="WhatWillLearn" rows="5"  type="text" 
                      aria-describedby="@Model.AriaDescribedBy"
                      val-max-length="1000" val-max-length-message="What you will learn must be 1000 characters or less"
                      val-regex="@regex"
                      val-regex-message="What you’ll learn contains invalid characters"></textarea>
        </div>
    </div>
</div>