@{
    ViewBag.Title = "Helpdesk dashboard";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="pttcd-helpdesk-dashboard__card">
                    <h2 class="govuk-heading-m">Quality assurance</h2>
                    <p>New provider and apprenticeship training courses.</p>
                    <ul class="govuk-list">
                        <li><a asp-controller="ApprenticeshipQA" asp-action="ListProviders" class="govuk-link">QA submissions</a></li>
                        <li><a asp-controller="ApprenticeshipQA" asp-action="Report" class="govuk-link">Download QA report</a></li>
                    </ul>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="pttcd-helpdesk-dashboard__card">
                    <h2 class="govuk-heading-m">Reports</h2>
                    <ul class="govuk-list">
                        <li><a asp-controller="ProviderReports" asp-action="ProviderTypeReport" class="govuk-link" data-testid="download-provider-type-report-link">Provider type report</a></li>
                        <li><a asp-controller="TLevelsReports" asp-action="LiveTLevelsReport" class="govuk-link" data-testid="download-live-tlevels-report-link">Live T Levels report</a></li>
                        <li><a asp-controller="ProviderReports" asp-action="ProvidersMissingPrimaryContact" class="govuk-link" data-testid="download-providers-missing-contact-details-link">Providers missing contact details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
