@{
    ViewBag.Title = "Helpdesk dashboard";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="pttcd-helpdesk-dashboard__card">
                    <h2 class="govuk-heading-m">Quality assurance</h2>
                    <p>New provider and apprenticeship training courses.</p>
                    <ul class="govuk-list">
                        <li><a asp-controller="ApprenticeshipQA" asp-action="ListProviders" class="govuk-link">QA submissions</a></li>
                        <li><a asp-controller="ApprenticeshipQA" asp-action="Report" class="govuk-link">Download QA report</a></li>
                    </ul>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="pttcd-helpdesk-dashboard__card">
                    <h2 class="govuk-heading-m">Reports</h2>
                    <ul class="govuk-list">
                        <li><a asp-controller="ProviderReports" asp-action="ProviderTypeReport" class="govuk-link" data-testid="download-provider-type-report-link">Download provider type report</a></li>
                        @if (FeatureFlagProvider.HaveFeature(FeatureFlags.TLevels))
                        {
                            <li><a asp-controller="TLevelsReports" asp-action="LiveTLevelsReport" class="govuk-link" data-testid="download-live-tlevels-report-link">Download live T Levels report</a></li>
                        }
                        @if (FeatureFlagProvider.HaveFeature(FeatureFlags.OpenData))
                        {
                            <li><a asp-controller="OpenDataReports" asp-action="LiveCourseProviders" class="govuk-link" data-testid="download-live-course-providers-report-link">Download live course providers report</a></li>
                            <li><a asp-controller="OpenDataReports" asp-action="LiveCoursesWithRegionsAndVenues" class="govuk-link" data-testid="download-live-courses-regions-venues-report-link">Download live courses report</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
