@using Dfc.CourseDirectory.Models.Enums
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.ViewComponents.Notification


@inject IAuthorizationService Authorization

@{
    ViewData["Title"] = "Pending courses";
    var authorised = await Authorization.AuthorizeAsync(User, "Admin");
}



<div class="govuk-body">
    <h1 class="govuk-heading-l">Pending courses</h1>
    <p>
        We have migrated courses from the old directory.
    </p>

    <p>
        Some of your courses have out dated information and need to be updated.
    </p>


</div>

<div class="govuk-form-group">

    @Html.ActionLink("View pending courses", "Index", "PublishCourses", new { publishMode = PublishMode.Migration }, new { @class = "govuk-button" })
</div>



<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>


