.pttcd-helpdesk-dashboard__card {
    background-color: #f8f8f8;
    border-left: 3px solid #207E77;
    padding: 30px;
    margin-bottom: 30px;
}
.pttcd-helpdesk-dashboard__card__number {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
}
