@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Location deleted";
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.Locations.LocationDeleteConfirmViewModel

<form class="govuk-!-margin-bottom-9" id="LocationConfirmDeleteForm" asp-controller="Locations" asp-action="LocationConfirmationDelete" method="post">
    <div class="cd-dashboard provider">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Location deleted

            </h1>
            <div class="govuk-panel__body">
                <strong> @Model.VenueName</strong> has been deleted from the Course directory
            </div>
        </div>

        <h2 class="govuk-heading-m">Next steps</h2>

        <p class="govuk-body">
            <a class="govuk-link" asp-controller="Venues" asp-action="Index">
                Delete another location
            </a><br />
            <a class="govuk-link" asp-controller="Home" asp-action="Index">
                Return to dashboard
            </a>
        </p>
    </div>

</form>
