@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch
@using Dfc.CourseDirectory.Models.Enums
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Dfc.CourseDirectory.Services.Interfaces.CourseService;

@{
    ViewData["Title"] = "Help";
    Layout = "_Layout_Your_Courses";
}


<h1 id="pagetitle" class="govuk-heading-l">Get help using this service</h1>

<div class="govuk-form-group">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="heading-medium">Phone</h2>

            <p class="">Call 0844 811 5073 to speak to the Course Directory Support Team. Lines are open Monday to Friday, 9am to 5pm (excluding public holidays). Calls from landlines and most mobile numbers cost up to 7p per minute and your phone company’s access charge. Find out about <a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges">call charges</a>.</p>

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="heading-medium">Email</h2>

            <p class="">Email the Course Directory Support Team at <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">support@coursedirectory.org.uk</a>.</p>

        </div>
    </div>
</div>

<!--@System.Diagnostics.FileVersionInfo.GetVersionInfo(typeof(Dfc.CourseDirectory.Web.Controllers.HomeController).Assembly.Location).ProductVersion-->
