@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch
@using Microsoft.AspNetCore.Authorization;

@inject IAuthorizationService Authorization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var provSearch = HttpContextAccessor.HttpContext.Session.GetInt32("ProviderSearch");
    ViewData["Title"] = "Find a Provider";
}
<div>


    @if (ViewBag.StatusMessage != null)
    {
        <div class="failure-container">
            <h1 class="govuk-heading-m" style="font-size: 24px; font-weight: 700">@ViewBag.StatusMessage</h1>
        </div>
    }
    <div id="VenueSearchResultContainer">
        @if (SignInManager.IsSignedIn(User)) //And is an ITSM OR Admin users
        {

            var authorised = await Authorization.AuthorizeAsync(User, "ElevatedUserRole");
            
            
            
            if (authorised.Succeeded)
            {
                <h1 class="govuk-heading-l">Search Provider</h1>

                @await Component.InvokeAsync(nameof(ProviderSearch))
            }
            else
            {
                var providerUKPRN = User.Claims.SingleOrDefault(x => x.Type == "UKPRN");
                if (providerUKPRN != null)
                {
                    HttpContextAccessor.HttpContext.Session.SetInt32("UKPRN", Int32.Parse(providerUKPRN.Value));
                }

                <h1 class="govuk-heading-l">Welcome to the Course Directory</h1>
                <h2 class="govuk-heading-m">This is the "private beta" of the new Course Directory developed by the National Careers Service.</h2>
                <h2 class="govuk-heading-m">It has been designed from the outset to make it easier for you to add and update your courses.</h2>
                <br />
                <h1>Choose an option</h1>
                <a class="govuk-link" href="/Qualifications/">Advertise a course</a> <br />
                <a class="link--button" href="/Qualifications/QualificationsList">Make changes to your courses</a> <br />
                <a class="link--button" href="/Venues">Add a venue</a> <br />
                <a class="link--button" href="#">Archive a course</a>

            }
        }
        else
        {
            <h1 class="govuk-heading-l">Welcome to the Course Directory</h1>
            <h3 class="govuk-heading-m">This is the "private beta" of the new Course Directory developed by the National Careers Service.</h3>
            <br />
            <h3 class="govuk-heading-m">Please Login below: </h3>
            <div>

                <a class="govuk-link" asp-controller="Auth" asp-action="Login">Login</a>

            </div>
        }
    </div>
