@{
    ViewData["Title"] = "Publish to the course directory";
    Layout = "_Layout_Your_Courses";
}

<div class="cd-dashboard provider">
    <div class="govuk-main-wrapper govuk-body " aria-labelledby="pagetitle">
        <h1 id="pagetitle" class="govuk-heading-l">Publish to the course directory</h1>
        <h2 class="govuk-heading-m">Who is this service for?</h2>
        <div class="govuk-grid-row no-margin">
            <div class="govuk-grid-column-two-thirds no-padding-left">
                <p class="govuk-body">This service is for learning providers who are contracted to the Education and Skills Funding Agency and provide courses in England for people aged 16-18 or 19+.</p>
                <p class="govuk-body">Use this service to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>add new courses to the course directory</li>
                    <li>edit and update courses in the course directory</li>
                    <li>remove courses from the course directory</li>
                </ul>

                <p class="govuk-body">To use this service you need to sign in using DfE Sign-in.</p>

                <a role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" asp-controller="Auth" asp-action="Login">Start now</a>

            </div>

            <div class="govuk-grid-column-one-third  word-wrap-break teal-top-border ">
                <div class="app-related-items sidebar">
                    <div class="widget white">
                        <h3 class="govuk-heading-m" id="subsection-title">
                            Get help from the Course Directory Support Team
                        </h3>
                        <p class="govuk-body">Call 0844 811 5073 or email <a class="govuk-link" href="mailto:support@coursedirectory.org.uk">support@coursedirectory.org.uk</a></p>
                        <p class="govuk-caption-m">Monday to Friday, 9am to 5pm</p>
                        <p class="govuk-caption-m">Find out about <a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges">call charges</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>