@using Dfc.CourseDirectory.Web.ViewComponents.ProviderApprenticeships.ProviderApprenticeshipSearchResult;

@model Dfc.CourseDirectory.Web.ViewComponents.ProviderApprenticeships.ProviderApprenticeshipSearch.ProviderApprenticeshipsSearchModel;

<div class="lars-search cd-hero-search">

    <div id="ProviderApprenticeshipsSearchResultContainer" class="">
        @await Component.InvokeAsync(nameof(ProviderApprenticeshipSearchResult))
    </div>
</div>

<script>
    (function ($) {
        $(function () {

              var formGroupErrorClass = "govuk-form-group--error";
            var elementErrorClass = "govuk-input--error";

            var $searchForm = $("#ProviderApprenticeshipSearchForm");


            var $providerApprenticeshipSearchTerm = $("#ProviderApprenticeshipSearchTerm");
            var $buttonSearch = $("#searchProviderApprenticeships");

            var $validationMessageSearchTerm = $providerApprenticeshipSearchTerm.prev("[data-valmsg-for='#ProviderApprenticeshipSearchTerm']");
            $validationMessageSearchTerm.css("margin-bottom", "0");

            var $formGroupSearchTerm = $providerApprenticeshipSearchTerm.closest('.govuk-form-group');
            var $form = $providerApprenticeshipSearchTerm.closest("form");

            $form.addTriggersToJqueryValidate().triggerElementValidationsOnFormValidation();
            var validator = $form.validate();


              var debounce = function (cb, delay) {
                var inDebounce;
                return function () {
                    var context = this;
                    var args = arguments;
                    clearTimeout(inDebounce);
                    inDebounce = setTimeout(function () {
                        cb.apply(context, args);
                    },
                        delay);
                };
            };

            var isNullOrWhitespace = function (input) {
                if (typeof input === 'undefined' || input == null) return true;
                return input.replace(/\s/g, '').length < 3;
            }

            var replaceAll = function (search, find, replace) {
                return search.split(find).join(replace);
            };

            var makeRequestWithPayload = function (payload, success) {
                console.log(payload);
                var qs = $.param(payload);
                qs = replaceAll(qs, "%5B%5D", "");
                $.get("/ProviderApprenticeships/ProviderApprenticeshipsSearch?" + qs, success);
            };

            var removeSearchResults = function () {
                var $larsSearchResultContainer = $("#ProviderApprenticeshipsSearchResultContainer");
                $larsSearchResultContainer.html("");
            };

            var replaceSearchResult = function (searchResults) {
                var $providerApprenticeshipsSearchResultContainer = $("#ProviderApprenticeshipsSearchResultContainer");
                $providerApprenticeshipsSearchResultContainer.html("");
                $providerApprenticeshipsSearchResultContainer.html(searchResults);
            };



            var doSearch = function () {

                 var runSearch = false;

                var result = validator.element($providerApprenticeshipSearchTerm);
                if (result) {
                    HideValidationErrorMessage();
                    runSearch = true;
                } else {
                    ShowValidationErrorMessage();
                }

                if (isNullOrWhitespace($providerApprenticeshipSearchTerm.val())) {
                    removeSearchResults();
                } else {

                    if (runSearch == true) {
                        makeRequestWithPayload({
                            SearchTerm: $providerApprenticeshipSearchTerm.val()

                        },
                            onSucess);
                    }
                }
            };


            var onSucess = function (data) {
                replaceSearchResult(data);

            };

              //$providerApprenticeshipSearchTerm.on("keyup", debounce(doSearch, 400));
            $buttonSearch.on("click", doSearch);

            $(document).keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    $buttonSearch.trigger("click");
                }
            });

             function ShowValidationErrorMessage() {
                    $providerApprenticeshipSearchTerm.addClass(elementErrorClass);
                    $formGroupSearchTerm.addClass(formGroupErrorClass);
                    $searchForm.addClass("govuk-form-group, govuk-form-group--error");
                    $validationMessageSearchTerm.show();
                 $validationMessageSearchTerm.css("margin-bottom", "15px");
                  var $providerApprenticeshipsSearchResultContainer = $("#ProviderApprenticeshipsSearchResultContainer");
                $providerApprenticeshipsSearchResultContainer.html("");
            }
            function HideValidationErrorMessage() {
                    $providerApprenticeshipSearchTerm.removeClass(elementErrorClass);
                    $formGroupSearchTerm.removeClass(formGroupErrorClass);
                    $searchForm.removeClass("govuk-form-group, govuk-form-group--error");
                    $validationMessageSearchTerm.hide();
                    $validationMessageSearchTerm.css("margin-bottom", "0");
            }
        });
    })(jQuery);
</script>