@using Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.ApprenticeshipSearch

@{
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.ApprenticeshipsViewModel



<div class="apprenticeship-search-page">
    <div>
        <h1 class="govuk-heading-l govuk-!-margin-top-4">Find apprenticeship</h1>
        <p class="column-two-thirds govuk-body">Search by name or keyword for the apprenticeship delivered by your training course.</p>
    </div>
    <form class="govuk-!-margin-bottom-9" id="ApprenticeshipSearchForm" asp-controller="Apprenticeships" asp-action="ApprenticeshipSearch" method="post">

        <div class="site-search ui-front" id="header-search" role="search">
            <div class="header-search-content govuk-!-width-two-thirds">

                <div class="search-input-wrapper govuk-!-margin-bottom-4">

                    <input class="govuk-input search-input js-search-focus" id="ApprenticeshipSearchTerm" asp-for="@Model.Search" type="text">

                    <div class="cd-c-search__item cd-search__submit-wrapper">
                        <button type="submit" class=" submit" id="searchApprenticeships">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="results">
        @await Component.InvokeAsync(nameof(Dfc.CourseDirectory.Web.ViewComponents.Apprenticeships.ApprenticeshipSearch.ApprenticeshipSearch))
    </div>
</div>












