@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Services.Models
@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.PublishCompleteViewModel

@{
    ViewData["Title"] = "Bulk upload processing"; 
    Layout = "_Layout_Your_Courses";
}


<div class="cd-info-summary" role="alert" tabindex="-1" data-module="info-summary">
    <h2 class="cd-info-summary__title">
        Bulk upload processing
    </h2>
    <div class="cd-info-summary__body">

        <span style="color:black">
            Your bulk upload is in progress.<br>Once your bulk upload is complete you will receive a notification on the home screen to publish your courses.
        </span>
    </div>
</div>






