@{
    ViewBag.Title = "Course data upload deleted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel>
            <govuk-panel-title>Course data upload deleted</govuk-panel-title>
        </govuk-panel>
        <p class="govuk-body">Your unpublished courses have now been deleted.</p>
        <h2 class="govuk-heading-m">What next?</h2>
        <ul class="govuk-list">
            <li>
                <a asp-action="Index" asp-controller="Courses" class="govuk-link" asp-all-route-data="@ProviderContext.RouteValues">View and edit courses</a>
            </li>
            <li>
                <a asp-action="Dashboard" asp-controller="DataManagement" class="govuk-link" asp-all-route-data="@ProviderContext.RouteValues">Back to data upload</a>
            </li>
            <li>
                <a asp-controller="ProviderDashboard" asp-action="Index" class="govuk-link" asp-all-route-data="@ProviderContext.RouteValues">
                    Back to the home screen
                </a>
            </li>
        </ul>
    </div>
</div>
