@model Dfc.CourseDirectory.WebV2.Features.DataManagement.Courses.Published.ViewModel
@{
    ViewContext.SetLayoutData(title: "Course data published");
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel heading-level="1">
            <govuk-panel-title>
                <span data-testid="PublishedCount">@Model.PublishedCount</span>
                courses have been published
            </govuk-panel-title>
        </govuk-panel>

        <p class="govuk-body">
            Your courses are available to learners searching for learning and training opportunities on the National Careers Service.
        </p>

        <p class="govuk-body">
            You can <a href="https://nationalcareers.service.gov.uk/find-a-course/search" target="_blank" class="govuk-link">view your published courses (opens in new window or tab)</a> to see how they are viewed by learners.
        </p>

        <h2 class="govuk-heading-m">What next?</h2>
        <ul class="govuk-list">
            <li><a asp-action="LandingOptions" asp-controller="Qualifications" class="govuk-link">View and edit courses</a></li>
            <li><a asp-controller="DataManagement" asp-action="Dashboard" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Back to data upload</a></li>
            <li><a asp-controller="ProviderDashboard" asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Back to the home screen</a></li>
        </ul>
    </div>
</div>
