.pttcd-new-apprenticeship-provider__provider-detail-confirmation__summary-list {
    margin-bottom: 30px;
}

.pttcd-new-apprenticeship-provider__provider-detail-confirmation__summary-list .govuk-summary-list {
    margin-bottom: 0;
}

.pttcd-new-apprenticeship-provider__provider-detail-confirmation__marketing-information {
    border-bottom: 1px solid #b1b4b6;
}

.pttcd-new-apprenticeship-provider__provider-detail-confirmation__marketing-information__header {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.pttcd-new-apprenticeship-provider__provider-detail-confirmation__marketing-information__header__label {
    flex: 1;
    font-weight: 700;
}

.pttcd-new-apprenticeship-provider__provider-detail-confirmation__marketing-information__header__link {
    flex: 0;
}