<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
    <meta charset="utf-8">
    <title>
        Check your answers
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">



    <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->






    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
</head>
<body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>




    <header class="govuk-header " role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__content" style="width: auto;">
                <a href="#" class="govuk-header__link govuk-header__link--service-name">
                    Publish to the course directory
                </a>
                <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
                <nav>
                    <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                        <li class="govuk-header__navigation-item">
                            <a class="govuk-header__link" href="helpdesk-dashboard.html">
                                Home
                            </a>
                        </li>
                        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
                            <a class="govuk-header__link" href="helpdesk-dashboard.html">
                                Courses
                            </a>
                        </li>
                        <li class="govuk-header__navigation-item">
                            <a class="govuk-header__link" href="search-providers.html">
                                Venues
                            </a>
                        </li>
                        <li class="govuk-header__navigation-item">
                            <a class="govuk-header__link" href="https://manage.signin.education.gov.uk/services">
                                Data upload
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__signin">
                <a class="header__link govuk-header__link" href="#">Sign out</a>
            </div>
        </div>
    </header>



    <div class="govuk-width-container ">


        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>



        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


            <!-- Enter page content inside this block -->

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                    <h1 class="govuk-heading-xl">Check and publish your course</h1>

                    <h2 class="govuk-heading-l">
                        Cambridge Technical Diploma in Art and Design
                    </h2>

                    <form id="addCourseSummaryPage" action="course-classroom-add-confirmation" method="post">
                        <h3 class="govuk-heading-m">Course details</h3>
                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Course name
                            </dt>
                            <dd class="govuk-summary-list__value" style="word-break: break-word;">
                                Art and Design, OCR Technical Level 3 Diploma (2 Yrs) Year 1
                            </dd>
                            <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                                <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> course name</span></a>
                            </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Your reference
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        REF12234
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> your reference</span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course type
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        Online
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> course type</span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Start date
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        Flexible
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> start date</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course webpage
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        http://www.provider.com/course
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> course webpage</span></a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Cost
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        £90.00
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> cost</span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Cost description
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        Ipsum adipisicing Lorem reprehenderit reprehenderit pariatur ex.
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> course description</span></a>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Duration
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        1 Year
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-run-details">Change<span class="govuk-visually-hidden"> duration</span></a>
                    </dd>
                </div>

                </dl>

                <h3 class="govuk-heading-m">Course description</h3>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Who is the course for
                    </dt>
                    <dd class="govuk-summary-list__value" style="word-break: break-word;">
                        Nostrud sit nulla sit commodo consectetur proident consectetur esse deserunt enim reprehenderit amet velit qui id. Ut elit culpa magna non non adipisicing minim quis id magna.
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                        <a class="govuk-link" href="course-details">Change<span class="govuk-visually-hidden"> who is this course for</span></a>
                    </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Entry requirements
                </dt>
                <dd class="govuk-summary-list__value" style="word-break: break-word;">
                    Exercitation nostrud incididunt ipsum aliquip consectetur do commodo et aute commodo Lorem enim ad deserunt. Dolore enim ullamco reprehenderit consequat pariatur qui sunt ut velit dolor mollit quis tempor commodo laborum nisi aliqua.
                </dd>
                <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                    <a class="govuk-link" href="course-details">Change<span class="govuk-visually-hidden"> entry requirements</span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What you'll learn
                </dt>
                <dd class="govuk-summary-list__value" style="word-break: break-word;">
                    Mollit reprehenderit eu occaecat aute dolor deserunt excepteur amet fugiat proident enim minim. Amet cupidatat consequat ut ea in qui velit est qui mollit veniam mollit ullamco sint veniam cillum.
                </dd>
                <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                    <a class="govuk-link" href="course-details">Change<span class="govuk-visually-hidden"> what you'll learn</span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How you'll learn
                </dt>
                <dd class="govuk-summary-list__value" style="word-break: break-word;">
                    In in nulla laboris irure nulla est laboris non velit laboris sint.
                </dd>
                <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                    <a class="govuk-link" href="course-details">Change<span class="govuk-visually-hidden"> how you'll learn</span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What you'll need to bring
                </dt>
                <dd class="govuk-summary-list__value" style="word-break: break-word;">
                    Occaecat minim est incididunt qui ut dolore deserunt eiusmod sunt incididunt excepteur sunt magna adipisicing. Aute ullamco veniam veniam consectetur laborum consequat adipisicing proident sint mollit magna incididunt minim.
                </dd>
                <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                    <a class="govuk-link" href="course-details">Change<span class="govuk-visually-hidden"> what you'll need to bring</span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How you'll be assessed
                </dt>
                <dd class="govuk-summary-list__value" style="word-break: break-word;">
                    Proident occaecat sunt culpa sint enim cupidatat pariatur pariatur sunt amet veniam. Qui occaecat voluptate nostrud id laborum anim cupidatat in sit reprehenderit ullamco aliqua.
                </dd>
                <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                    <a class="govuk-link" href="course-details">Change<span class="govuk-visually-hidden"> how you'll be assessed</span></a>
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What you can do next
                </dt>
                <dd class="govuk-summary-list__value" style="word-break: break-word;">
                    Laborum Lorem aliqua ex ex aliquip quis labore.
                </dd>
                <dd class="govuk-summary-list__actions govuk-summary-list__checkedit">
                    <a class="govuk-link" href="course-details">Change<span class="govuk-visually-hidden"> what you can do next</span></a>
                </dd>
            </div>


            </dl>
            <h3 class="govuk-heading-m">Publish your course</h3>
            <p class="govuk-body">Your course information will be added to Publish to the course directory and available to learners searching for learning and training opportunities on the National Careers Service.</p>
            <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
            <a href="course-add-confirmation"><button class="govuk-button" data-module="govuk-button">Publish</button></a>

            </form>


    </div>
    </div>
    <!-- End of content -->
    </main>
    </div>



    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">

            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

                    <h2 class="govuk-visually-hidden">Support links</h2>

                    <ul class="govuk-footer__inline-list">

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="https://govuk-prototype-kit.herokuapp.com/">
                                GOV.UK Prototype Kit v9.12.1
                            </a>
                        </li>

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="../new-provider/cookie-settings">
                                Cookies
                            </a>
                        </li>

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/prototype-admin/clear-data">
                                Clear data
                            </a>
                        </li>

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="../index">
                                Prototype page
                            </a>
                        </li>

                    </ul>



                    <svg aria-hidden="true"
                         focusable="false"
                         class="govuk-footer__licence-logo"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 483.2 195.7"
                         height="17"
                         width="41">
                        <path fill="currentColor"
                              d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                    </svg>
                    <span class="govuk-footer__licence-description">
                        All content is available under the
                        <a class="govuk-footer__link"
                           href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                           rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                    </span>
                </div>
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__copyright-logo"
                       href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>





    <!-- Javascript -->
    <script src="/public/javascripts/jquery-1.11.3.js"></script>


    <script src="/extension-assets/govuk-frontend/govuk/all.js"></script>


    <script src="/public/javascripts/application.js"></script>


    <script src="/public/javascripts/auto-store-data.js"></script>




    <!-- GOV.UK Prototype Kit v9.12.1 -->

    <script>
        $(document).ready(function () {
            $(".hide1").click(function () {
                $(".show-hide-section-1").hide();
            });
            $(".show1").click(function () {
                $(".show-hide-section-1").show();
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $(".hide2").click(function () {
                $(".show-hide-section-2").hide();
            });
            $(".show2").click(function () {
                $(".show-hide-section-2").show();
            });
        });
    </script>


    <!-- cookie -->
    <script>
        $(document).ready(function () {
            $(".hide3").click(function () {
                $(".show-hide-section-3").hide();
            });
            $(".hide4").click(function () {
                $(".show-hide-section-5").hide();
            });
            $(".show4").click(function () {
                $(".show-hide-section-4").show();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".show5").click(function () {
                $(".show-hide-section-5").show();
            });
        });
    </script>

    <!-- FE courses -->

    <script>
        $(document).ready(function () {
            $(".hide6").click(function () {
                $(".show-hide-section-6").hide();
            });
            $(".show6").click(function () {
                $(".show-hide-section-6").show();
            });
        });
    </script>

    <!-- Enable and disable button -->
    <!-- <script>
    $(document).ready(function(){

      $(".enable").click(function(){
        $(".enable-disable").prop('disabled', false);
      });

      $(".disable").click(function(){
        $(".enable-disable").prop('disabled', true);
      });

    });
    </script> -->


    <script>
        $(document).ready(function () {

            $(".enable").change(function () {
                $('.enable-disable').attr('disabled', function () { return $('.enable').prop('checked') ? null : 'disabled'; });
            });

        });
    </script>




</body>
</html>
