@model Dfc.CourseDirectory.WebV2.Features.ChooseQualification.DeliveryMode.Command
@{
    ViewContext.SetLayoutData(title: "How will the course be delivered?");
    Layout = "_V2LayoutProviderContext";
}

<h1>Check & and Publish</h1>
