@using Dfc.CourseDirectory.Services.ProviderService
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@using Dfc.CourseDirectory.Web.ViewComponents.BackgroundBulkUploadNotification
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Hosting
@using Dfc.CourseDirectory.Services.Models
@using ProviderType = Dfc.CourseDirectory.Core.Models.ProviderType
@model Dfc.CourseDirectory.Web.ViewComponents.Dashboard.DashboardModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Dfc.CourseDirectory.WebV2

@inject IAuthorizationService Authorization
@inject IProviderService providerService
@inject IWebHostEnvironment env

<vc:qa-notifications />

@if (Model.ValidationMessages != null && Model.ValidationMessages.Any())
{
    <div class="cd-info-summary" aria-labelledby="info-summary-title" role="alert" tabindex="-1" data-module="info-summary">
        <div class="cd-info-summary__body">
            <div class="cd-info-summary__list">
                @foreach (string msg in Model?.ValidationMessages)
                {
                    <a asp-controller="DQI" asp-action="Index" asp-route-msg="@msg"> @msg</a>
                }
            </div>
        </div>
    </div>
}

@if ((Model.BulkUploadReadyToGoLiveCount > 0 || Model.BulkUploadPendingCount > 0 || Model.ApprenticeshipBulkUploadReadyToGoLiveCount > 0) && !Model.BulkUploadBackgroundInProgress)
{
    var link = "";

    if (Model.BulkUploadPublishInProgress)
    {
        link = $"{Model.BulkUploadReadyToGoLiveCount} courses being published";
    }
    else
    {
        @if (Model.BulkUpLoadHasErrors == true && !string.IsNullOrEmpty(Model.BulkUploadMessage))
        {

            link = $"<a class='govuk-link' href='/Bulkupload/WhatDoYouWantToDoNext'>{Model.BulkUploadMessage}</a>";
        }
        else if (!string.IsNullOrEmpty(Model.BulkUploadMessage))
        {
            link = $"<a class='govuk-link' href='/PublishCourses/Index?publishMode=Bulkupload'>{Model.BulkUploadMessage}</a>";
        }


        @if (Model.ApprenticeshipBulkUploadHasErrors == true && !string.IsNullOrEmpty(Model.ApprenticeshipMessages))
        {
            link = $"<a class='govuk-link' href='/BulkUploadApprenticeships/WhatDoYouWantToDoNext/Index'>{Model.ApprenticeshipMessages}</a>";
        }
        else if (!string.IsNullOrEmpty(Model.ApprenticeshipMessages))
        {
            link = $"<a class='govuk-link' href='/PublishApprenticeships/Index'>{Model.ApprenticeshipMessages}</a>";
        }
    }
    if (!string.IsNullOrEmpty(link))
    {
        @await Component.InvokeAsync(nameof(Notification), new NotificationModel
          {
        NotificationTitle = "Bulk upload",
        ClassType = "info-summary",
        Link = link
          })
    }

}
else
{

    @if (Model.BulkUploadBackgroundInProgress)
    {
        @await Component.InvokeAsync(nameof(BackgroundBulkUploadNotification),
            new BackgroundBulkUploadNotificationModel()
            {
                BulkUploadBackgroundInProgress = true,
                BulkUploadBackgroundRowCount = Model.BulkUploadBackgroundRowCount,
                BulkUploadBackgroundStartTimestamp = Model.BulkUploadBackgroundStartTimestamp,
                BulkUploadPublishInProgress = Model.BulkUploadPublishInProgress,
            });
    }



}

@if (Model.DisplayMigrationButton == true)
{
    <div class=" homepage-item govuk-body ">
        <div class="cd-status-panel slim blue">
            Migration
            <a asp-controller="Migration" asp-action="Report" class="govuk-link">View details about the information we have transferred about your courses.</a>
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    var superUser = await Authorization.AuthorizeAsync(User, "SuperUser");
    var providerSuperUser = await Authorization.AuthorizeAsync(User, "ProviderSuperUser");

    <h1 class="govuk-heading-xl cd-dashboard-title">Publish to the course directory</h1>
    <hr class="spacer" />
    <div class="govuk-grid-row no-margin">
        <div class="govuk-grid-column-two-thirds no-padding-left">
            <div class="govuk-grid-row govuk-!-margin-bottom-6 homepage-item--container">
                @if (Model.ProviderType.HasFlag(ProviderType.FE))
                {
                    <div class="govuk-grid-column-one-half homepage-item ">
                        @await Html.PartialAsync("/ViewComponents/Dashboard/_CoursesCardPartial.cshtml")
                    </div>
                }
                @if (Model.ProviderType.HasFlag(ProviderType.Apprenticeships) &&
                    Model.ProviderQACurrentStatus == Dfc.CourseDirectory.Core.Models.ApprenticeshipQAStatus.Passed)
                {
                    <div class="govuk-grid-column-one-half homepage-item disabled ">
                        @await Html.PartialAsync("/ViewComponents/Dashboard/_ApprenticeshipsCardPartial.cshtml")
                    </div>
                }
                <div class="govuk-grid-column-one-half homepage-item ">
                    @await Html.PartialAsync("/ViewComponents/Dashboard/_VenuesCardPartial.cshtml")
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third teal-top-border no-padding">
            <aside class="sidebar">
                <div class="widget white ">
                    <h3 class="govuk-heading-s">Other actions</h3>

                    <ul class="govuk-list cd-homepage__lis">
                        <li class="cd-homepage__list--item">
                            <a asp-controller="Providers" asp-action="ProviderDetails" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Manage your organisation details</a>
                        </li>
                        @{
                            string orgId = User.Claims.Where(c => c.Type == "OrganisationId")
                                        .Select(c => c.Value).SingleOrDefault();
                            switch (Model.EnvironmentType)
                            {
                                case EnvironmentType.Development:
                                case EnvironmentType.SIT:
                                    {
                                        if (providerSuperUser.Succeeded)
                                        {
                                            <li class="cd-homepage__list--item">
                                                <a href="https://test-services.signin.education.gov.uk/approvals/@orgId/users" target="_blank" class="govuk-link">
                                                    Create a new DfE Sign-in account
                                                </a>
                                            </li>
                                        }
                                        <li class="cd-homepage__list--item">
                                            <a href="https://test-services.signin.education.gov.uk/my-services" target="_blank" class="govuk-link">Manage your DfE Sign-in account</a>
                                        </li>
                                        break;
                                    }
                                case EnvironmentType.PreProduction:
                                    {
                                        if (providerSuperUser.Succeeded)
                                        {
                                            <li class="cd-homepage__list--item">
                                                <a href="https://pp-services.signin.education.gov.uk/approvals/@orgId/users" target="_blank" class="govuk-link">
                                                    Create a new DfE Sign-in account
                                                </a>
                                            </li>
                                        }
                                        <li class="cd-homepage__list--item">
                                            <a href="https://pp-services.signin.education.gov.uk/my-services" target="_blank" class="govuk-link">Manage your DfE Sign-in account</a>
                                        </li>
                                        break;
                                    }
                                case EnvironmentType.Production:
                                    {
                                        if (providerSuperUser.Succeeded)
                                        {
                                            <li class="cd-homepage__list--item">
                                                <a href="https://services.signin.education.gov.uk/approvals/@orgId/users" target="_blank" class="govuk-link">
                                                    Create a new DfE Sign-in account
                                                </a>
                                            </li>
                                        }

                                        <li class="cd-homepage__list--item">
                                            <a href="https://services.signin.education.gov.uk/my-services" target="_blank" class="govuk-link">Manage your DfE Sign-in account</a>
                                        </li>
                                        break;
                                    }
                            };

                        }

                    </ul>
                </div>
            </aside>

        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="teal-top-border-light govuk-!-margin-top-4 govuk-!-padding-top-4">
            <h2 class="govuk-heading-m">Need help?</h2>
            <p class="govuk-body">
                If you’ve got a question about Publish to the course directory, <a asp-action="Contact" asp-controller="Home" class="govuk-link">contact the support team</a>.
            </p>
        </div>
    </div>
</div>
