@model Dfc.CourseDirectory.WebV2.Features.Venues.EditVenue.PhoneNumber.Command
@{
    ViewContext.SetLayoutData(title: "Phone number");
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="PhoneNumber" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="PhoneNumber" asp-route-venueId="@Model.VenueId">
            <govuk-input asp-for="PhoneNumber" type="tel" input-class="govuk-input--width-20">
                <govuk-input-label class="govuk-label--l">Phone number</govuk-input-label>
                <govuk-input-hint>For example 01632 960 001 or 07700 900 982</govuk-input-hint>
            </govuk-input>

            <div class="govuk-button-group">
                <govuk-button type="submit" class="govuk-!-margin-right-1">Continue</govuk-button>
                <a  asp-action="Details" asp-route-venueId="@Model.VenueId" class="govuk-link govuk-!-margin-left-3">Cancel</a>
            </div>
        </form>
    </div>
</div>
