@model Dfc.CourseDirectory.WebV2.Features.Venues.EditVenue.Website.Command
@{
    ViewContext.SetLayoutData(title: "Website");
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="Website" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Website" asp-route-venueId="@Model.VenueId">

            <pttcd-website-input asp-for="Website" label="Website" hint="For example https://www.venue.com" model-state-entry="@ViewContext.ModelState["Website"]" value="@Model.Website"></pttcd-website-input>

            <div class="govuk-button-group">
                <govuk-button type="submit" class="cd-cancel-btn">Continue</govuk-button>
                <a  asp-action="Details" asp-route-venueId="@Model.VenueId" class="govuk-link cd-cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
