@using Dfc.CourseDirectory.Models.Models.Courses;
@using Dfc.CourseDirectory.Web.Helpers;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.ChooseVenue.ChooseVenueModel



<div class="govuk-form-group">
    <label id="govuk-label-VenueId" class="govuk-label--m" for="VenueId">
        @Model.LabelText
    </label>


    @if (!string.IsNullOrWhiteSpace(Model.HintText))
    {
        <span class="govuk-hint govuk-!-margin-top-3">
            @Model.HintText
        </span>
    }


    <div class="">
        <select asp-for="@Model.VenueId" asp-items="@Model.Venues" class="govuk-select" val-required-message="Select venue"></select>

        @if (Model.DisplayLink)
        {
            <a href="#" class="govuk-link--no-visited-state-!-margin-top-3" id="addNewVenue">The course location isn’t shown here</a>
        }
    </div>
</div>

<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>