@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.Courses.ChooseVenue.ChooseVenueModel

<div class="govuk-form-group">
    <label id="govuk-label-VenueId" class="govuk-label govuk-label--m" for="VenueId">
        @Model.LabelText
    </label>

    @if (!string.IsNullOrWhiteSpace(Model.HintText))
    {
        <span class="govuk-hint govuk-!-margin-top-3">
            @Model.HintText
        </span>
    }

    <select asp-for="@Model.VenueId" asp-items="@Model.Venues" class="govuk-select" val-required-message="Select location"></select>

    @if (Model.DisplayLink)
    {
        <p class="govuk-body govuk-!-margin-top-3">
            <a href="#" class="govuk-link--no-visited-state-!-margin-top-3 govuk-link" id="addNewVenue">Add another location</a>
        </p>
    }
</div>