
@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Download error file";
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.DownloadErrorFileViewModel


<div class="content-container">


    <form class="govuk-!-margin-bottom-9" id="DownloadErrorFileForm" asp-controller="BulkUpload" asp-action="DownloadErrorFile" method="post">

        <h1 class="govuk-heading-l">Resolve issues using a file</h1>

        <p class="govuk-body govuk-!-padding-bottom-4">This file contains the issues with course information in your bulk upload on @Model.ErrorFileCreatedDate.ToString("dd MMM yyyy").</p>
        <br />

        @*<button type="submit" class="govuk-button" id="next">Download</button>*@
        <button class="govuk-button" onclick="location.href = '@Url.Action("GetBulkUploadErrors", "BlobStorage", new { UKPRN = Model.UKPRN })';return false;">Download file (CSV)</button>
    </form>
</div>


<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>
