@addTagHelper *, GovUk.Frontend.AspNetCore
@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.DownloadErrorFileViewModel
@{
    Layout = "_V2LayoutProviderContext";
    ViewBag.Title = "Download error file";
}

<form asp-controller="BulkUpload" asp-action="DownloadErrorFile">
    <h1 class="govuk-heading-l">Resolve issues using a file</h1>

    <p class="govuk-body govuk-!-padding-bottom-4">
        This file contains the issues with course information in your bulk upload on @Model.ErrorFileCreatedDate.ToString("dd MMM yyyy").
    </p>

    <govuk-button asp-controller="BlobStorage" asp-action="GetBulkUploadErrors" asp-route-UKPRN="@Model.UKPRN">Download file (CSV)</govuk-button>
</form>
