@using Dfc.CourseDirectory.Core.Validation.VenueValidation
@model Dfc.CourseDirectory.WebV2.Features.EditVenue.Name.Command
@{
    ViewContext.SetLayoutData(title: "Location name");
}

@if (!ViewData.ModelState.IsValid)
{
    <govuk-error-summary>
        <govuk-error-summary-title>There is a problem</govuk-error-summary-title>
        <govuk-error-summary-item asp-for="Name" />
    </govuk-error-summary>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Name" asp-route-venueId="@Model.VenueId">
            <govuk-character-count asp-for="Name" max-length="@Constants.NameMaxLength" rows="1">
                <govuk-character-count-label class="govuk-label--l">Location name</govuk-character-count-label>
            </govuk-character-count>

            <govuk-button type="submit" class="govuk-!-margin-right-1">Continue</govuk-button>
            <govuk-button asp-action="Details" asp-route-venueId="@Model.VenueId" class="govuk-button--secondary">Cancel</govuk-button>
        </form>
    </div>
</div>