@model Dfc.CourseDirectory.WebV2.Features.EditVenue.PhoneNumber.Command
@{
    ViewContext.SetLayoutData(title: "Phone number");
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="PhoneNumber" />
</govuk-error-summary>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="PhoneNumber" asp-route-venueId="@Model.VenueId">
            <govuk-input asp-for="PhoneNumber" type="tel" input-class="govuk-input--width-20">
                <govuk-input-label class="govuk-label--l">Phone number</govuk-input-label>
                <govuk-input-hint>For example 01632 960 001 or 07700 900 982</govuk-input-hint>
            </govuk-input>

            <govuk-button type="submit" class="govuk-!-margin-right-1">Continue</govuk-button>
            <govuk-button asp-action="Details" asp-route-venueId="@Model.VenueId" class="govuk-button--secondary">Cancel</govuk-button>
        </form>
    </div>
</div>
