@using Dfc.CourseDirectory.Services.Models
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Publish your file";
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.ApprenticeshipsPublishYourFileViewModel


<div class="content-container">
    <div class="govuk-grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds">

            <form class="govuk-!-margin-bottom-9" id="DownloadErrorFileForm" asp-controller="BulkUploadApprenticeships" asp-action="PublishYourFile" method="post">
                <span class="govuk-caption-l">Course Directory</span>
                <h1 class="govuk-heading-l">Publish your file</h1>

                <p class="govuk-body govuk-!-padding-bottom-4">

                    Your file of  @Model.NumberOfApprenticeships @(Model.NumberOfApprenticeships.Equals(1) ? "apprenticeship" : "apprenticeships") has no errors and is ready to be published to the Course directory. <br />This will replace all of the Apprenticeships you currently have listed.
                </p>

                <ul class="flex-container">
                    <li class="flex-item">
                        <button type="submit" class="govuk-button" id="next" asp-route-NumberOfApprenticeships="@Model.NumberOfApprenticeships">Publish</button>
                    </li>
                    <li class="flex-item" style="padding-top: 15px">
                        <a class="govuk-link" asp-controller="Home" asp-action="Index">Cancel</a>
                    </li>
                </ul>
             
            </form>
        </div>
    </div>
</div>

<script>
    (function ($) {
        $(function () {
           

        });
    })(jQuery);
</script>



