@using Dfc.CourseDirectory.Models.Enums
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;
@using Dfc.CourseDirectory.Web.ViewComponents.Notification
@{
    Layout = "_Layout_Your_Courses";
}


<h1>Coming soon - Apprenticeship bulk upload</h1>

