@using Microsoft.AspNetCore.Authorization;

@addTagHelper *, GovUk.Frontend.AspNetCore

@inject IAuthorizationService Authorization
@inject Dfc.CourseDirectory.Core.Security.ICurrentUserProvider CurrentUserProvider
@inject Dfc.CourseDirectory.Core.Middleware.IProviderContextProvider ProviderContextProvider

@{
    var providerContext = ProviderContextProvider.GetProviderContext(withLegacyFallback: true);
    var currentUser = CurrentUserProvider.GetCurrentUser();
}

<header class="govuk-header " data-module="header">

    <div class="govuk-header__container cd-fullwidth-container cd-header">
        <div class="govuk-header__logo">
            <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-header__link govuk-header__link--homepage">
                <img src="~/images/dfe_white.png" alt="Department for Education" class="govuk-header__logotype">
            </a>
        </div>
        <div class="govuk-header__content cd-header--content">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                Publish to the course directory
            </a>

            @if (currentUser != null)
            {
                @if (currentUser.IsProvider)
                {
                    <vc:provider-top-nav provider-info="@providerContext.ProviderInfo" />
                }
                else
                {
                    <vc:admin-top-nav />
                }
            }

        </div>

    </div>

</header>

<govuk-phase-banner class="cd-fullwidth-container govuk-!-margin-bottom-6">
    <govuk-phase-banner-tag>Beta</govuk-phase-banner-tag>
    This is a new service. Help us improve it and <a href="https://www.smartsurvey.co.uk/s/SHIM0G/" target="_blank" rel="noreferrer" class="govuk-link">give your feedback (opens in new tab)</a>.
</govuk-phase-banner>

@if (currentUser != null && !currentUser.IsProvider && providerContext != null)
{
    <div class="govuk-body govuk-!-margin-bottom-6 cd-fullwidth-container">
        <vc:admin-provider-context-nav provider-info="@providerContext.ProviderInfo" />
    </div>
}
