@using Dfc.CourseDirectory.Web.ViewComponents.Extensions
@using Dfc.CourseDirectory.Web.ViewComponents.Pagination;

@model Dfc.CourseDirectory.Web.ViewComponents.VenueSearchResult.VenueSearchResult;

<div class="govuk-grid-row">

    
</div>