@model Dfc.CourseDirectory.WebV2.ViewModels.Venues.AddVenue.Details.ViewModel
@{
    Layout = "_V2LayoutProviderContext";
    ViewContext.SetLayoutData(title: "Add venue");
    var isSecurityError = ViewContext.ModelState.Keys.Any(x => x == "Website") &&
       ViewContext.ModelState["Website"].Errors.Any(y => y.ErrorMessage == "Check website URL. We've identified a security issue");
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Details" asp-all-route-data="RouteValuesHelper.FromQueryString()">
            <h1 class="govuk-heading-xl">
                Add venue details
            </h1>

            <govuk-input asp-for="ProviderVenueRef" input-class="govuk-!-width-two-thirds">
                <govuk-input-label class="govuk-label--s">Your venue reference</govuk-input-label>
                <govuk-input-hint>
                    This information will be used to identify this venue.
                    <br />
                    (You must use this reference on a data upload to enable the venue to be linked to courses).
                </govuk-input-hint>
            </govuk-input>

            <govuk-input asp-for="Name" input-class="govuk-!-width-two-thirds">
                <govuk-input-label class="govuk-label--s">Venue name</govuk-input-label>
                <govuk-input-hint>
                    This information will be linked with the courses you provide.
                </govuk-input-hint>
            </govuk-input>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Address</h2>
            <p class="govuk-body">
                @foreach (var part in Model.AddressParts)
                {
                    @part<br />
                }
            </p>

            <govuk-input asp-for="Email" type="email" input-class="govuk-!-width-two-thirds">
                <govuk-input-label class="govuk-label--s">Email</govuk-input-label>
            </govuk-input>

            <govuk-input asp-for="Telephone" type="tel" input-class="govuk-!-width-one-third">
                <govuk-input-label class="govuk-label--s">Telephone</govuk-input-label>
            </govuk-input>
            @if (!isSecurityError)
            {
                <govuk-input asp-for="Website" input-class="govuk-!-width-two-thirds">
                    <govuk-input-label class="govuk-label--s">Website</govuk-input-label>
                    <govuk-input-hint>
                        The website for this venue. For example https://www.venue.com
                    </govuk-input-hint>
                </govuk-input>
            }
            else
            {
                <govuk-input asp-for="Website" input-class="govuk-!-width-two-thirds">
                    <govuk-input-label class="govuk-label--s">Website</govuk-input-label>
                    <govuk-input-hint>
                        The website for this venue. For example https://www.venue.com
                        <span class="govuk-hint govuk-!-margin-top-3 web-url-hint">
                            This URL has been reported by <a href="https://cloud.google.com/web-risk/docs/advisory" target="_blank">Google Cloud's Web Risk (opens in a new tab)</a> as having a security issue and might be malicious.
                        </span>
                        <span class="govuk-hint govuk-!-margin-top-3">
                            Check the URL you have entered is correct. If the URL is correct, you'll need to review the security of your website.
                            You cannot upload this URL to the course directory until it can pass this security check.
                        </span>
                    </govuk-input-hint>
                </govuk-input>
            }
          

            <div class="govuk-button-group">
                <govuk-button type="submit" class="cd-cancel-btn">Continue</govuk-button>

                @if (ViewBag.FromPublishPage == true)
                {
                    <a  asp-action="CheckAndPublish" asp-all-route-data="@RouteValuesHelper.FromQueryString()" class="govuk-link cd-cancel-link">Cancel</a>
                }
                else
                {
                    <a  asp-action="Cancel" asp-all-route-data="@RouteValuesHelper.FromQueryString()" class="govuk-link cd-cancel-link">Cancel</a>
                }
            </div>
        </form>
    </div>
</div>
