@using Dfc.CourseDirectory.WebV2.ViewComponents.Notification
@using Dfc.CourseDirectory.WebV2.ViewComponents.ProviderCoursesResults
@using Dfc.CourseDirectory.WebV2.ViewModels.ProviderCourses
@model Dfc.CourseDirectory.WebV2.ViewModels.ProviderCourses.ProviderCoursesViewModel

@{
    ViewData["Title"] = "Your published courses";
    Layout = "_Layout_Your_Courses";

    var pageUrlBase = Model.NonLarsCourse
        ? Url.Action("Index", "ProviderCourses", new { nlc = true, nce = Model.Nonce })
        : Url.Action("Index", "ProviderCourses", new { nce = Model.Nonce });
    var pageUrlFormat = pageUrlBase + "&page={0}";
    var baseUrl = Url.Action("Index", "ProviderCourses");

    var hasCourses = Model.TotalCoursesCount > 0;
}

@if (!hasCourses)
{
    <div class="govuk-body">
        <main id="Cd-course-list" class="govuk-main-wrapper">
            <span class="govuk-caption-l">Course directory</span>
            <h2 class="govuk-heading-l">Your published courses</h2>

            <p class="govuk-body-l">
                You have no courses listed on the course directory.
            </p>
            <h3 class="govukbody govuk-heading-m">What next?</h3>

            <p>
                <span class="govuk-caption-l">You can</span>
            </p>

            <ul>
                <li>
                    <p>
                        <a href="~/RegulatedQualification" class="govuk-link">publish a course </a>to the course directory
                    </p>
                </li>
                <li>
                    <p>
                        <a href="~/BulkUpload" class="govuk-link">publish all your courses </a> with a file upload
                    </p>
                </li>
                @if (Model.PendingCoursesCount.HasValue && Model.PendingCoursesCount.Value > 0)
                {
                    <li>
                        <p>
                            <a href="~/Migration" class="govuk-link">or add information to @Model.PendingCoursesCount of your courses </a>that can’t be published until they are fixed
                        </p>
                    </li>
                }
            </ul>
        </main>
    </div>
}
else
{
    @if (!string.IsNullOrWhiteSpace(Model.NotificationTitle))
    {
        @await Component.InvokeAsync(nameof(Notification), new NotificationModel
        {
            NotificationTitle = Model.NotificationTitle,
            NotificationMessage = Model.NotificationMessage,
            ClassType = "info-summary"
        })
    }

    @if (Model.NonLarsCourse)
    {
        <h1 class="govuk-heading-l">Non-LARS courses</h1>
        <p class="govuk-body-l">Add or edit non-LARS courses which are shown to learners on find a course.</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
        <a asp-controller="AddCourse"
           asp-action="AddCourse"
           class="govuk-button"
           role="button" 
           draggable="false">
            Add course
        </a>
    }
    else
    {
        <h1 class="govuk-heading-l">LARS courses</h1>
        <p class="govuk-body-l">Add or edit LARS courses which are shown to learners on find a course.</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
        @if (FeatureFlagProvider.HaveFeature(FeatureFlags.CoursesChooseQualification))
        {
            <a asp-controller="ChooseQualification"
               asp-action="ChooseQualification"
               asp-all-route-data="@ProviderContext.RouteValues"
               class="govuk-button"
               role="button" 
               draggable="false">
                Add course
            </a>
        }
        else
        {
            <a asp-controller="RegulatedQualification"
               asp-action="Index"
               asp-all-route-data="@ProviderContext.RouteValues"
               class="govuk-button"
               role="button" 
               draggable="false">
                Add course
            </a>
        }
    }

    <form asp-controller="ProviderCourses" asp-action="Search" method="post">
        <input type="hidden" name="NonLarsCourse" value="@(Model.NonLarsCourse ? "true" : "false")">
        
        <govuk-input for="Keyword" input-class="govuk-input--width-30">
            <govuk-input-label class="govuk-label--s">
                Search by keyword
            </govuk-input-label>
            <govuk-input-hint>
                Enter a minimum of 3 characters
            </govuk-input-hint>
            <govuk-input-after-input>
                <govuk-button type="submit" class="govuk-!-margin-left-2" prevent-double-click="true">
                    Search
                </govuk-button>
            </govuk-input-after-input>
        </govuk-input>

        @await Component.InvokeAsync(nameof(ProviderCoursesResults), Model)

    </form>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">&emsp;</div>
        <div class="govuk-grid-column-two-thirds">
            @await Component.InvokeAsync(nameof(GdsPagination), new { pagination = Model.Pagination, pageUrlFormat })
        </div>
    </div>
    
}
