@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Dfc.CourseDirectory.Web.ViewComponents.ManualAddress
@model Dfc.CourseDirectory.Web.ViewComponents.AddVenueManual.AddVenueManualModel;

<form id="manualAddVenueForm" asp-controller="Venue" asp-action="ConfirmManualSelection" method="post">
    <div class="add-venue-manual">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="PostCodeSearchContainer">
                    @await Component.InvokeAsync(nameof(ManualAddress), Model)
                </div>
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button" id="">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
