// main
// ====

// dependencies
// ============
@import "../../node_modules/govuk-frontend/all.scss";

// partials
// ========
@import "partials/_typography.scss";
@import "partials/validation.scss";
@import "partials/view-components.pagination.scss";
@import "partials/cd-search-header.scss";
@import "partials/cd-confirmation-message.scss";