@using Dfc.CourseDirectory.Services.Models
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "File deleted"; 
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.DeleteFileConfirmationViewModel



<div class="govuk-panel govuk-panel--confirmation">
    <div class="govuk-grid-row" data-sf-element="Row">
        <div class="govuk-panel__body">
            <h1 class="govuk-panel__title">
                File deleted
            </h1>
            <br />
            You have deleted the file you uploaded on @Model.FileUploadedDate. You have not updated your published courses.
        </div>
    </div>
</div>

<h2 class="govuk-heading-m">
    What do you want to do next?
</h2>
<li>
        <a class="govuk-link" asp-controller="BulkUpload" asp-action="Index">Upload a different file</a>
    </li>
    <li>
        <a class="govuk-link" asp-controller="ProviderCourses" asp-action="Index">View your published courses</a>
    </li>
    <li>
        @Html.ActionLink("Go to your homepage", "Index", "Home", new { }, new { @class = "govuk-link" })
    </li>
</ul>

@*<div class="govuk-form-group">
    @Html.ActionLink("Back to the dashboard", "Index", "Home", new { }, new { @class = "govuk-link" })
</div>*@

<script>
    (function ($) {
        $(function () {


        });
    })(jQuery);
</script>



