@using Dfc.CourseDirectory.Web.ViewComponents.AddressSelectionConfirmation
@model Dfc.CourseDirectory.Web.ViewComponents.AddressSelectionConfirmation.AddressSelectionConfirmationModel;

<h1 class="govuk-heading-xl">Add a venue</h1>

@await Component.InvokeAsync(nameof(AddressSelectionConfirmation), Model)



