@using Dfc.CourseDirectory.Web.ViewComponents.AddVenue
<h1 class="govuk-heading-xl">Add a venue</h1>

@*@await Component.InvokeAsync(nameof(AddVenue))*@

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">




        <table class="govuk-table">

            <tbody><tr>

                <th class="govuk-table__header" scope="col">Name</th>
                <td class="govuk-table__cell">  London City College</td>
                <td class="govuk-table__cell">  <a href="add-venue4"> Change</a><span class="govuk-visually-hidden"> name</span></td>


            </tr>
            <tr>

                <th class="govuk-table__header" scope="col">Venue address</th>
                <td class="govuk-table__cell">  72 Guild Street<br>
                    London<br>
                    SE23 6FH</td>
                <td class="govuk-table__cell">  <a href="add-venue5"> Change</a><span class="govuk-visually-hidden"> name</span></td>


            </tr>
            </tbody></table>
            
      
		



		
        <div class="govuk-form-group">

            <p>By submitting you confirm your venue name and address are correct.</p>
            <a href="../venue" role="button" class="govuk-button">
                Continue
            </a>
        </div>
		
    </div>	

</div>

