
@using Dfc.CourseDirectory.Web.ViewComponents.VenueSearch



@await Component.InvokeAsync(nameof(VenueSearch))

@*<h1 class="govuk-heading-xl">Your venues</h1>

    @await Component.InvokeAsync(nameof(VenueList))*@

