@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Services.Enums
@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.PublishCompleteViewModel

@{
    ViewData["Title"] = "Publish complete"; 
    Layout = "_Layout_Your_Courses";
}
@*might need to change model property as this is number of courses actually published, not what is live?*@
<div class="govuk-panel govuk-panel--confirmation">

    <div class="govuk-panel__body">
        <h1 class="govuk-panel__title">
            Publish complete
        </h1>

        You have @Model.NumberOfCoursesPublished @(Model.NumberOfCoursesPublished.Equals(1) ? "course" : "courses") listed on the course directory
    </div>
</div>




