.govuk-header__container {
    border-bottom-color: #207E77;
}

.pttcd-helpdesk-dashboard-card {
    background-color: #f8f8f8;
    border-left: 3px solid #207E77;
    padding: 30px;
    margin-bottom: 30px;
}

.pttcd-inset-text__info {
    background-color: #eef4fa;
    border-color: #5694ca;
}

.pttcd-apprenticeship-qa-provider-selected-summary {
    border-top: 1px solid #b1b4b6;
    border-bottom: 1px solid #b1b4b6;
    display: flex;
    line-height: 1.31579;
    padding: 10px 0;
}

.pttcd-apprenticeship-qa-provider-selected-summary-label {
    flex: 1;
    padding-right: 20px;
}

.pttcd-apprenticeship-qa-provider-selected-summary-status {
    flex: 0;
}

.pttcd-\!-width-120px {
    width: 120px !important;
}