.govuk-header__container {
    border-bottom-color: #207E77;
}

.pttcd-helpdesk-dashboard-card {
    background-color: #f8f8f8;
    border-left: 3px solid #207E77;
    padding: 30px;
    margin-bottom: 30px;
}

.pttcd-inset-text__info {
    background-color: #eef4fa;
    border-color: #5694ca;
}

.pttcd-apprenticeship-qa-provider-selected-summary {
    border-top: 1px solid #b1b4b6;
    border-bottom: 1px solid #b1b4b6;
    display: flex;
    line-height: 1.31579;
    padding: 10px 0;
}

.pttcd-apprenticeship-qa-provider-selected-summary-label {
    flex: 1;
    padding-right: 20px;
}

.pttcd-apprenticeship-qa-provider-selected-summary-status {
    flex: 0;
}

.pttcd-\!-width-120px {
    width: 120px !important;
}

.pttcd-apprenticeship-qa-info-panel {
    background-color: #f8f8f8;
    padding: 1rem 1rem .5rem 1rem;
}

.pttcd-apprenticeship-qa-info-panel--first {
    border-top: 2px solid #207E77;
}

.mce-content-body {
    font-family: GDS Transport,Arial,sans-serif;
    font-size: 16px;
}

.tox-tinymce {
    border: 2px solid #0b0c0c !important;
    font-family: GDS Transport,Arial,sans-serif !important;
    margin-bottom: 5px;
}

.tox-tinymce--focused {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px; /* FIXME */
}

.govuk-form-group--error .tox-tinymce {
    border: 4px solid #d4351c !important;
}

.govuk-header__content {
    width: 100%;
}

@media (min-width: 980px) {
    .pttcd-sign-out-navigation-item {
        float: right;
    }
}

.pttcd-subnav {
    background-color: #f8f8f8;
    padding: 1em;
    border-left: 5px solid #207E77
}

.pttcd-subnav__provider-name {
    display: inline;
    margin: 5px 15px 5px 0;
}

.pttcd-subnav__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block
}

.pttcd-subnav__item {
    display: inline-block;
    margin: 5px 15px 5px 0;
}

.pttcd-subnav__item__link {
    color: #0b0c0c;
    font-size: 1rem;
    font-weight: 600
}

.pttcd-c-search-input {
    position: relative;
}

.pttcd-c-search-input .govuk-input {
    padding-right: 45px;  /* base is 5px + 40px for button */
}

.pttcd-c-search-input__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    text-indent: 50000px;
    padding: 6px;
    border: 0;
    z-index: 900;
    width: 40px;
    overflow: hidden;
    background: url(/v2/images/icon-search-2x.png) 60% 50% no-repeat #000;
    background-size: 24px;
}