@{
    ViewBag.Title = "Data Upload - Venue data upload cancelled";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel>
            <govuk-panel-title>Venue data upload deleted</govuk-panel-title>
        </govuk-panel>
        <p class="govuk-body">The unpublished venues now been deleted.</p>
        <h2 class="govuk-heading-m">What next?</h2>
        <ul class="govuk-list">
            <li>
                <a asp-action="Index" asp-controller="Venues" class="govuk-link" asp-all-route-data="@ProviderContext.RouteValues">View and edit venues</a>
            </li>
            <li>
                <a asp-action="Dashboard" asp-controller="DataManagement" class="govuk-link" asp-all-route-data="@ProviderContext.RouteValues">Back to data upload</a>
            </li>
            <li>
                <a asp-controller="ProviderDashboard" asp-action="Index" class="govuk-link" asp-all-route-data="@ProviderContext.RouteValues">
                    Back to the home screen
                </a>
            </li>
        </ul>
    </div>
</div>
