 
@using Dfc.CourseDirectory.Services.Models
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Download error file"; 
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.DownloadErrorFileViewModel


<div class="content-container">
    <div class="govuk-grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds">

            <form class="govuk-!-margin-bottom-9" id="DownloadErrorFileForm" asp-controller="BlobStorage" asp-action="GetApprenticeshipBulkUploadErrors" method="get">
                <input name="UKPRN" type="hidden" value="@Model.UKPRN" />
                <span class="govuk-caption-xl">Course Directory</span>
                <h1 class="govuk-heading-l">Download error file</h1>

                <p class="govuk-body govuk-!-padding-bottom-4">Your error file was created at your last bulk upload on @Model.ErrorFileCreatedDate.ToString("dd MMM yyyy HH:mm")</p>
                <br />

                <button type="submit" class="govuk-button">Download</button>
                <br />
                <a class="govuk-link" asp-controller="BulkUploadApprenticeships" asp-action="Index">Upload new template</a>
            </form>
        </div>
    </div>
</div>
