@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "File deleted"; 
    Layout = "_Layout_Your_Courses";
}

<div class="govuk-panel govuk-panel--confirmation">
    <div class="govuk-grid-row" data-sf-element="Row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel__body">
                <h1 class="govuk-panel__title">
                    File deleted
                </h1>
                @* Your file uploaded on @Model.FileUploadedDate.ToString("dd MMM yyyy hh:mm") has been deleted. No Changes have been made to the Course directory (stubbed)*@
                All pending migration courses with errors have been deleted
            </div>

        </div>
    </div>
</div>

<div class="govuk-form-group">
    @Html.ActionLink("Back to the dashboard", "Index", "Home", new { }, new { @class = "govuk-link" })
</div>


<script>
    (function ($) {
        $(function () {


        });
    })(jQuery);
</script>
