.pttcd-providers__provider-details__marketing-information .govuk-summary-list__value p:first-child {
    margin-top: 0;
}

.pttcd-provider-home-hint {
    color: #505a5f;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
}

.pttcd-provider-file-hint {
    margin-top: -15px;
}

.pttcd-provider-upload-option-hint {
    margin-top: -25px;
}


