/*-----------------------------------------------------------*/
/*fix stop canel button styling until govuk framework updated*/

.cd-cancel-btn {
    float: left
}

.cd-cancel-link {
    width: 80px;
    height: auto;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 7px;
    margin-bottom: 32px;
    margin-left: 10px;
    float: left;
}
/*-----------------------------------------------------------*/
