.duration-container{
    display:flex;

    select{
        margin-left:10px;
    }
}

.region-checkboxes {
    display: flex;
    flex-wrap: wrap;

    .govuk-checkboxes__item {
        margin: 0.5em;
        flex: 0 0 25%;
    }
}