.duration-container{
    display:flex;

    select{
        margin-left:10px;
    }
}

details {
    display: block;
}

details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
}

details .summary {
    text-decoration: underline;
}

.region-checkboxes {
    display: flex;
    flex-wrap: wrap;

    .govuk-checkboxes__item {
        margin: 0.5em;
        flex: 0 0 18%;
    }
}