.duration-container{
    display:flex;

    select{
        margin-left:10px;
    }
}

details {
    display: block;
}

details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
}

details .summary {
    text-decoration: underline;
}