.success-container {
    border: 5px solid #006435;
    position: relative;
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
}

.success-close {
    position: absolute;
    right: 16px;
    top: 6px;
}

.success-container p {
    color: black;
}

.failure-container {
    border: 2px solid red;
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    color: red;
}

.failure-container h1 {
    color: red;
}
