.govuk-header__container.cd-fullwidth-container {
    margin-bottom: -10px;
}

.cd-flex {
    display: flex;
}

.cd-subHead {
    background-color: #005ea5;
    margin-top: -10px;
    color: white;
    font-family: nta,Arial,sans-serif;

    .cd-subHead--item {
        font-weight: 800;
    }
}

.navigation-container {
    border-bottom: 1px solid #bfc1c3;

    .cd-secondary-nav {
        padding: 0.5em 0;
        text-align: right;
        font-size: 19px;

        .cd-secondary-nav--item {
            text-decoration: none;
        }
    }
}

.cd-fullwidth-container {
    width: 90%;
    margin: 0 auto;

    .cd-grid-coloumn-three-quarters {
        width: 75%;
        float: left;
    }
    /*need to fix these media queries*/
    .cd-grid-coloumn-80 {
        box-sizing: border-box;
        width: 100%;
        float: left;

        @media (min-width: 40.0625em) {
            width: 80%;
        }
    }

    .cd-grid-coloumn-20 {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding: 0 1em;
        box-sizing: border-box;

        @media (min-width: 40.0625em) {
            width: 20%;
        }
    }

    .cd-grid-coloumn-70 {
        box-sizing: border-box;
        width: 100%;
        float: left;

        @media (min-width: 40.0625em) {
            width: 70%;
        }
    }

    .cd-grid-coloumn-30 {
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding: 0 1em;
        box-sizing: border-box;

        @media (min-width: 40.0625em) {
            width: 30%;
        }
    }
}
