$govuk-border-colour:#bfc1c3;


#LarsSearch {
    display: flex;

    .search-input-wrapper {
        flex-direction: column;
    }

    .search--container {
        display: flex;
        flex-direction: row;
        margin:1rem 0 2rem 0 ;
    }
}
.cd-lars-search-result__container {
    border: 1px solid $govuk-border-colour;
    margin-bottom: 1rem;
    padding: 1rem;
}
.lars-search-results {
    margin-top:1rem;
    text-align:center;
}

.sort-list {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

ul.sort-list {
    margin: 0;
    padding-inline-start: 1rem;
    list-style-type: none;
}

.sort-list .sort-list-item {
    padding: 0 .5rem;
}

.sort-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.accordion-controls li div {
    display: none;
}

.accordion-controls button {
    width: 100%;
    border-top: 1px solid red;
    padding: 1rem;
    text-align: left;
}

.accordion-controls {
    padding-inline-start: 0;
}




.accordian {
    border-bottom: 1px solid #bfc1c3;
}

.accordian article {
    border-top: 1px solid #bfc1c3;
}

.accordian article:last-of-type {
}

/* Accordian headers */
.section-title {
    display: block;
    margin: 0;
}




.section-title {
    display: block;
    margin: 0;
}



.section-title:hover,
.section-title:focus {
    background-color: #f8f8f8;
}

.section-title:hover {
    cursor: pointer;
}

.section-title h3 {
    position: relative;
    color: black;
    padding: 0.5em 0;
    margin: 0;
}

.section-title h3 span {
    position: absolute;
    right: 4px;
}

.section-title:last-of-type {
    border: none;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls span {
    color: #005ea5;
}

/* collapsing-section */
.collapsing-section {
}

.collapsing-section.open {
    padding-bottom: 1rem;
}

.collapsing-section p {
    margin: 0;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 0px;
    border: none;
    transition: 0.4s;
    border-bottom: 1px solid #bfc1c3;
}

.accordion:hover {
    background-color: #f8f8f8;
}

.accordion:after {
    content: "\2039";
    color: #777;
    font-weight: bold;
    float: right;
    background-color: white;
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.active:after {
    content: '\203A';
    /*-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);*/
}

.panel {
    background-color: white;
    display: block;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


