#cd-add-qual-button {
    float: right;
}
#cd-your-courses-heading {
    display: inline-block;
}

.course-run-container {
    margin-top: 0px;
    border-top: 2px solid;
    padding: 20px 0px 0px;
    display: block;
    width: 100%;
    float: left;
    clear: both !important;
    min-height:100px;
}