$success: #006435;
$info: #005ea5;
$warning: #f47738;
$focus: #ffbf47;
$error: #b10e1e;

.cd-success-summary,
.cd-error-summary,
.cd-warning-summary,
.cd-info-summary {
    font-family: nta,Arial,sans-serif;
    padding: .5rem 1rem;
    margin-bottom: 2em;
    font-weight: 700;
    font-size: 19px;

    &__title {
        margin:0 0.25rem;
    }

    &:focus {
        outline: $focus solid 3px;
        outline-offset: 0;
    }
}

.cd-success-summary {

    border: 5px solid $success;
    
    .cd-success-summary__title {
        font-weight: 700;
    }

    .cd-success-summary__body {
        color: $success;


        .cd-success-summary__list a {
            color: $success;
        }
    }
}


 .cd-warning-summary {

    border: 5px solid $warning;

    .cd-warning-summary__title {
        font-weight: 700;
    }

    .cd-warning-summary__body {
        color: $warning;

        .cd-warning-summary__list a {
            color: $warning;
        }
    }
}

.cd-info-summary {
  
    border: 5px solid $info;

    .cd-info-summary__title {
        font-weight: 700;
    }

    .cd-info-summary__body {
        color: $info;

        .cd-info-summary__list a {
            color: $info;
        }
    }
}

.cd-error-summary {
    border: 5px solid $error;

    .cd-error-summary__title {
        font-weight: 700;
    }

    .cd-error-summary__body {
        color: $error;

        .cd-error-summary__list a {
            color: $error;
        }
    }
}
