#popup-preview {
    background-color: #fff;
    border: solid 1px #000;
    height: 70%;
    width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
}
#popup-flat.popup_content, #popup-descript {
    border: solid 1px #000 !important;
}

#popup-flat_background {
    background-color: rgba(255,255,255,.6) !important;
}

#popup-flat, #popup-descript {
    background-color: #fff;
    height: 60%;
    overflow-y: scroll;
}

#popup-preview {
    background-color: #fff;
    border: solid 1px #000;
    height: 70%;
    width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
}
#popup-flat.popup_content, #popup-descript {
    border: solid 1px #000 !important;
}

#popup-flat_background {
    background-color: rgba(255,255,255,.6) !important;
}

#popup-flat, #popup-descript {
    background-color: #fff;
    height: 60%;
    overflow-y: scroll;
}
#popup-descript_background {
    opacity: 0;
    visibility: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100000;
}
#popup-descript_wrapper {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    overflow: auto;
    z-index: 100001;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    display: none;
}
#popup-descript {
    padding: 40px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    outline: none;
    text-align: left;
    position: relative;
    vertical-align: middle;
}
#close-preview {
    clear: both;
    display: block;
    position: relative;
    top: 7px;
    float: right;
    margin-right: 20px;
    margin-bottom: 0;
    padding: 5px;
    color: #00F;
}
.govuk-textarea.descript {
    margin-bottom: 0;
}
.popup_align {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#popup-elements-container {
    padding: 40px;
}