.cd-hero-search {
    //color: white;
    padding: 0.5rem 0 2rem 0;
   
}

.cd-hero-green {
    .govuk-breadcrumbs, .govuk-breadcrumbs__link, .govuk-breadcrumbs__list-item {
        //color: white;
    }

    .govuk-breadcrumbs__list-item:before {
        //border-color: white;
    }

    .search-input {
        //border-color:transparent;
    }
}

.cd-hero-search__label {
    color: white;
}

.cd-hero-search__label {
    color: white;
}

.search-input-wrapper {
    display: flex;
}


/*.search-input[type="search"] {
    border: 0;
    display:flex;
}*/

.submit {
    display: inline-flex;
    height: 40px;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    text-indent: 50000px;
    background: black;
    background-image: url("/assets/images/icon-search-2x.png");
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 24px;
    float: left;
    padding: 6px;
    border: 0;
    color: white;
    z-index: 900;
    position: relative;
}

.cd-hero-green {
    //background-color: #28a197;

    h1, p {
        //color: white;
    }
}

.cd-hero-grey {
    //background-color: #dee0e2;
}

.cd-search__submit-wrapper {
    background-color: black;
}

.cd-search__submit {
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url(https://assets.publishing.service.gov.uk/frontend/govuk_publishing_componen…utton-ca89b2a….png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    text-indent: -5000px;
    overflow: hidden;
}



