$ExploreCareersGreen: #207E77;
$grey: 6f777b;

.zcodesearch {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

}
.zcodesearch--container {
    display: flex;
    flex-direction: row;
    margin: 1rem;

    &-input {
        padding:10px !important;
    }

    .submit {
        //left:auto;
    }


}

#zCodeSearch {
    //padding-bottom:1rem;
}
.cd-nonregulated-provision {
    background-color: #f8f8f8;
    padding: 1em;
    border-left: 5px solid $ExploreCareersGreen;
    margin-bottom: 2em;

    .cd-level-select {
        padding-right: 1em;
    }
}

.cd-non-regulated-filters {
    padding: 0 1em;

    .govuk-form-group {
        display: flex;
        flex-direction: column;
    }

    .govuk-select {
        margin-bottom: 1em;
        width: auto;
    }
}

.provision-container {
    border: 1px solid #bfc1c3;
    //background-color: #f8f8f8;
    padding: .5em;

    .provision-title {
        margin-top: 0;
    }
}

.cd-action-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > * {
        margin-right: 1em;
    }
}
