// view components pagination
// ==========================

.pagination {
    text-align: right;

    ul {
        padding: 0px;

        li {
            display: inline-block;
        }
    }

    .pagination__item {
        padding: 0 0.125em;

        &.pagination__item--current {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}