@{
    ViewBag.Title = "Upload active providers";
    ViewContext.SetLayoutData(activeAdminTopNavSection: AdminTopNavSection.ProviderUpload);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="pttcd-provider-home-hint">Upload provider data</span>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-5">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
       
        <p class="govuk-body govuk-!-margin-top-4">
            Please <a href="https://dfe.service-now.com/ithelpcentre?id=sc_cat_item&sys_id=327e8eb01b6e4c502fe864606e4bcb26&referrer=recent_items" class="govuk-link">use the Service Now portal </a> to report this issue.
        </p>

        <p class="govuk-body">
            The report will be picked up by the Live Services team who will contact you if required.
        </p>
    </div>
</div>
