@model Dfc.CourseDirectory.WebV2.ViewModels.DataManagement.Providers.Home.ViewModel;
@{
    ViewBag.Title = "Upload providers";
    ViewContext.SetLayoutData(activeAdminTopNavSection: AdminTopNavSection.ProviderUpload);
}

@section BackLink {
<govuk-back-link asp-controller="HelpdeskDashboard" asp-action="Dashboard">Back</govuk-back-link>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-heading-m pttcd-provider-home-hint">Upload provider data</span>
    </div>
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Provider report</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Index" asp-all-route-data="@ProviderContext.RouteValues" enctype="multipart/form-data">

            <govuk-radios asp-for="ProviderUploadType">
                <govuk-radios-item value="active">
                   Active
                </govuk-radios-item>
                <govuk-radios-item value="inactive" >
                    Inactive
                </govuk-radios-item>
            </govuk-radios>
            <div class="govuk-button-group">
                <govuk-button type="submit" prevent-double-click="true">Continue</govuk-button>
                <a asp-controller="HelpdeskDashboard" asp-action="Dashboard" class="govuk-link cd-cancel-link">Cancel</a>
            </div>
               

        </form>

    </div>
</div>
