@model Dfc.CourseDirectory.WebV2.ViewModels.DataManagement.Providers.InProgress.ViewModel
@{
    ViewBag.Title = "Uploading active providers";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="pttcd-provider-home-hint">Upload provider data</span>
    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-5">
        <h1 class="govuk-heading-xl">Uploading active providers</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="pttcd-loading-spinner__container">
            <div class="pttcd-loading-spinner"></div>

            <div class="pttcd-loading-spinner__message govuk-!-margin-4" id="StatusMessage">
                <text>Processing file</text>
            </div>
          
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        const onRealtimeUpdateFailed = function() {
        }

        var queryParams = new URLSearchParams(window.location.search);
        const url = '/data-upload/providers/hub?providerUploadId=@Model.ProviderUploadId' 

        const connection = new signalR.HubConnectionBuilder()
            .withUrl(url)
            .withAutomaticReconnect()
            .build();

        connection.start().then(function() {
            connection.stream('StatusUpdates').subscribe({
                next: function(status) {
                    $('#StatusMessage').text('Processing file');
                },
                complete: function() {
                    window.location = window.location.href;
                },
                error: onRealtimeUpdateFailed
            });
        }, onRealtimeUpdateFailed);
    </script>
}
