@model Dfc.CourseDirectory.WebV2.ViewModels.DataManagement.Providers.Upload.ViewModel;
@{
    ViewBag.Title = "Upload Inactive providers";
    ViewContext.SetLayoutData(activeAdminTopNavSection: AdminTopNavSection.ProviderUpload);

}
@section BackLink {
    <govuk-back-link asp-route-provideruploadtype="Inactive" asp-action="Index">Back</govuk-back-link>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="pttcd-provider-home-hint">Upload provider data</span>
    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-5">
        <h1 class="govuk-heading-xl">Upload inactive providers</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="UploadInactive" enctype="multipart/form-data">
            
            <govuk-file-upload for="File" input-accept=".csv">
                <govuk-file-upload-label class="govuk-label--m">
                    Upload a CSV file
                </govuk-file-upload-label>
                <govuk-file-upload-hint> Your CSV file must be smaller than 8MB, contain 6 columns and have 'inactive_providers' within the name </govuk-file-upload-hint>

            </govuk-file-upload>
            <div class="govuk-button-group">
                <govuk-button type="submit" prevent-double-click="true">Continue</govuk-button>
                <a asp-controller="HelpdeskDashboard" asp-action="Dashboard" class="govuk-link cd-cancel-link">Cancel</a>
            </div>
        </form>

    </div>
</div>
