@model Dfc.CourseDirectory.WebV2.ViewModels.DataManagement.Providers.Upload.ViewModel;
@{
    ViewBag.Title = "Upload active providers";
    ViewContext.SetLayoutData(activeAdminTopNavSection: AdminTopNavSection.ProviderUpload);

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="pttcd-provider-home-hint">Upload provider data</span>
    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-5">
        <h1 class="govuk-heading-xl">Upload active providers</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="Upload" enctype="multipart/form-data">
            <govuk-select asp-for="Duration">
                <govuk-select-label class="govuk-label--m">How many months of data would you like to upload?</govuk-select-label>
                <govuk-select-hint>
                    It's recommended that this provider type report is uploaded monthly. If needed, select to add up to 12 months
                </govuk-select-hint>
                <govuk-select-item value="1">1 month</govuk-select-item>
                <govuk-select-item value="2">2 months</govuk-select-item>
                <govuk-select-item value="3">3 months</govuk-select-item>
                <govuk-select-item value="6">6 months</govuk-select-item>
                <govuk-select-item value="12">12 months</govuk-select-item>
            </govuk-select>

            <govuk-file-upload for="File" input-accept=".csv">
                <govuk-file-upload-label class="govuk-label--m  govuk-!-margin-top-9">
                         Upload a CSV file
                </govuk-file-upload-label>
                <govuk-file-upload-hint>  Your CSV file must be smaller than 8MB, contain 7 columns and have 'active_providers' within the name </govuk-file-upload-hint>

            </govuk-file-upload>
            <div class="govuk-button-group">
                <govuk-button type="submit" name="continue" prevent-double-click="true">Continue</govuk-button>
                <a asp-controller="HelpdeskDashboard" asp-action="Dashboard" class="govuk-link cd-cancel-link">Cancel</a>
            </div>
        </form>

    </div>
</div>
