@model Dfc.CourseDirectory.WebV2.SharedViews.Components.ProviderNavViewModel
@{
    var currentController = (string)ViewContext.RouteData.Values["Controller"];
    var currentAction = (string)ViewContext.RouteData.Values["Action"];
}

<div class="pttcd-subnav govuk-!-margin-top-6">
    <div class="pttcd-subnav__provider-name">@Model.ProviderInfo.ProviderName</div>
    <ul class="pttcd-subnav__items">
        <li class="pttcd-subnav__item">
            <a asp-action="Index" asp-controller="ProviderDashboard" asp-all-route-data="@ProviderContext.RouteValues" class="pttcd-subnav__item__link" data-testid="adminsubnav-home">
                Home
            </a>
        </li>
        @if (Model.ShowCoursesLinks)
        {
            <li class="pttcd-subnav__item">
                <a asp-action="LandingOptions" asp-controller="Qualifications" class="pttcd-subnav__item__link" data-testid="adminsubnav-courses">
                    Courses
                </a>
            </li>
        }
        @if (Model.ShowApprenticeshipsLinks)
        {
            <li class="pttcd-subnav__item@(currentController == "Apprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="WhatWouldYouLikeToDo" asp-controller="Apprenticeships" class="pttcd-subnav__item__link" data-testid="adminsubnav-apprenticeships">
                    Apprenticeships
                </a>
            </li>
        }
        @if (FeatureFlagProvider.HaveFeature(FeatureFlags.TLevels) && Model.ShowTLevelsLinks)
        {
            <li class="pttcd-subnav__item">
                <a asp-action="List" asp-controller="ViewTLevels" asp-all-route-data="@ProviderContext.RouteValues" class="pttcd-subnav__item__link" data-testid="adminsubnav-tlevels">
                    T Levels
                </a>
            </li>
        }
        <li class="pttcd-subnav__item">
            <a asp-action="LandingOptions" asp-controller="Venues" class="pttcd-subnav__item__link" data-testid="adminsubnav-locations">
                Locations
            </a>
        </li>
        @if (Model.ShowCoursesLinks && Model.ShowApprenticeshipsLinks)
        {
            <li class="pttcd-subnav__item@(currentController == "BulkUpload" || currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="LandingOptions" asp-controller="BulkUpload" class="pttcd-subnav__item__link" data-testid="adminsubnav-bulkupload">
                    Bulk upload
                </a>
            </li>
        }
        else if (Model.ShowApprenticeshipsLinks)
        {
            <li class="pttcd-subnav__item@(currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="Index" asp-controller="BulkUploadApprenticeships" class="pttcd-subnav__item__link" data-testid="adminsubnav-bulkupload">
                    Bulk upload
                </a>
            </li>
        }
        else if (Model.ShowCoursesLinks)
        {
            <li class="pttcd-subnav__item@(currentController == "BulkUpload" || currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="Index" asp-controller="BulkUpload" class="pttcd-subnav__item__link" data-testid="adminsubnav-bulkupload">
                    Bulk upload
                </a>
            </li>
        }
    </ul>
</div>
