@model Dfc.CourseDirectory.WebV2.SharedViews.Components.ProviderNavViewModel
@{
    var currentController = (string)ViewContext.RouteData.Values["Controller"];
    var currentAction = (string)ViewContext.RouteData.Values["Action"];

    var enableApprenticeshipBulkUpload = Model.ProviderContext.ProviderType.HasFlag(ProviderType.Apprenticeships) &&
        (Model.ApprenticeshipQAStatus == ApprenticeshipQAStatus.Passed || !Model.ApprenticeshipQAFeatureIsEnabled);
}

<div class="pttcd-subnav govuk-!-margin-top-6">
    <div class="pttcd-subnav__provider-name">@Model.ProviderContext.ProviderName</div>
    <ul class="pttcd-subnav__items">
        <li class="pttcd-subnav__item">
            <a asp-action="SearchProvider" asp-controller="ProviderSearch" asp-route-UKPRN="@Model.ProviderContext.Ukprn" class="pttcd-subnav__item__link">
                Home
            </a>
        </li>
        <li class="pttcd-subnav__item">
            <a asp-action="LandingOptions" asp-controller="Venues" class="pttcd-subnav__item__link">
                Your locations
            </a>
        </li>
        @if (Model.ShowApprenticeshipsLink)
        {
            <li class="pttcd-subnav__item@(currentController == "Apprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="WhatWouldYouLikeToDo" asp-controller="Apprenticeships" class="pttcd-subnav__item__link" data-testid="adminsubnav-apprenticeships">
                    Your apprenticeships training
                </a>
            </li>
        }
        @if (Model.ProviderContext.ProviderType.HasFlag(ProviderType.FE))
        {
            <li class="pttcd-subnav__item">
                <a asp-action="LandingOptions" asp-controller="Qualifications" class="pttcd-subnav__item__link">
                    Your courses
                </a>
            </li>
        }
        @if (Model.ProviderContext.ProviderType == ProviderType.Both && enableApprenticeshipBulkUpload)
        {
            <li class="pttcd-subnav__item@(currentController == "BulkUpload" || currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="LandingOptions" asp-controller="BulkUpload" class="pttcd-subnav__item__link">
                    Bulk upload
                </a>
            </li>
        }
        else if (enableApprenticeshipBulkUpload)
        {
            <li class="pttcd-subnav__item@(currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="Index" asp-controller="BulkUploadApprenticeships" class="pttcd-subnav__item__link">
                    Bulk upload
                </a>
            </li>
        }
        else if (Model.ProviderContext.ProviderType.HasFlag(ProviderType.FE))
        {
            <li class="pttcd-subnav__item@(currentController == "BulkUpload" || currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="Index" asp-controller="BulkUpload" class="pttcd-subnav__item__link">
                    Bulk upload
                </a>
            </li>
        }
    </ul>
</div>