@{
    if (Context.Request.Cookies["CookiePolicy"] == null)
    {

        @using (Html.BeginForm("acceptcookies", "cookies", FormMethod.Post, new { id = "cookiesform" }))
        {
            <div class="gem-c-cookie-banner__wrapper govuk-width-container show-hide-section-3">
                <div class="govuk-grid-row">
                    <div class=" govuk-grid-column-two-thirds">
                        <div class="gem-c-cookie-banner__message">
                            <span class="govuk-heading-m">Tell us whether you accept cookies</span>
                            <p class="govuk-body">We use <a class="govuk-link" asp-controller="cookies" asp-action="details">cookies to collect information</a> about how you use GOV.UK. We use this information to make the website work as well as possible and improve government services.</p>
                        </div>
                        <div class="gem-c-cookie-banner__buttons">
                            <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-accept govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                                <button type="submit" class="gem-c-button govuk-button gem-c-button--inline govuk-!-margin-bottom-2 hide3 show4" onclick="location.href='@Url.Action("acceptcookies", "cookies")'">Accept all cookies</button>
                            </div>
                            <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-settings govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                                <a class="gem-c-button govuk-button gem-c-button--inline govuk-!-margin-bottom-2" role="button" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked" href="cookie-settings">Set cookie preferences</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}