@model Dfc.CourseDirectory.WebV2.SharedViews.Components.ProviderNavViewModel
@inject IFeatureFlagProvider FeatureFlagProvider
@{
    var currentController = (string)ViewContext.RouteData.Values["Controller"];
    var currentAction = (string)ViewContext.RouteData.Values["Action"];
}

<button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
<nav>
    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item@(currentController == "Home" && currentAction == "Index" ? " govuk-header__navigation-item--active" : null)">
            <a asp-action="Index" asp-controller="Home" class="govuk-header__link">
                Home
            </a>
        </li>
        @if (Model.ProviderContext.ProviderType.HasFlag(ProviderType.FE))
        {
            <li class="govuk-header__navigation-item@(currentController == "Qualifications" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="LandingOptions" asp-controller="Qualifications" class="govuk-header__link">
                    Your courses
                </a>
            </li>
        }
        @if (Model.ProviderContext.ProviderType.HasFlag(ProviderType.Apprenticeships) &&
            (!Model.ApprenticeshipQAFeatureIsEnabled || Model.ApprenticeshipQAStatus == ApprenticeshipQAStatus.Passed))
        {
            <li class="govuk-header__navigation-item@(currentController == "Apprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="LandingOptions" asp-controller="Venues" class="govuk-header__link">
                    Your apprenticeships training
                </a>
            </li>
        }
        <li class="govuk-header__navigation-item@(currentController == "Venues" ? " govuk-header__navigation-item--active" : null)">
            <a asp-action="Index" asp-controller="Home" class="govuk-header__link">
                Your locations
            </a>
        </li>
        @if (Model.ProviderContext.ProviderType == ProviderType.Both)
        {
            <li class="govuk-header__navigation-item@(currentController == "BulkUpload" || currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="LandingOptions" asp-controller="BulkUpload" class="govuk-header__link">
                    Bulk upload
                </a>
            </li>
        }
        else if (Model.ProviderContext.ProviderType == ProviderType.FE)
        {
            <li class="govuk-header__navigation-item@(currentController == "BulkUpload" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="Index" asp-controller="BulkUpload" class="govuk-header__link">
                    Bulk upload
                </a>
            </li>
        }
        else
        {
            <li class="govuk-header__navigation-item@(currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="Index" asp-controller="BulkUploadApprenticeships" class="govuk-header__link">
                    Bulk upload
                </a>
            </li>
        }
        <li class="govuk-header__navigation-item pttcd-sign-out-navigation-item">
            <a asp-action="Logout" asp-controller="Auth" class="govuk-header__link">
                Sign out
            </a>
        </li>
    </ul>
</nav>