@model Dfc.CourseDirectory.WebV2.SharedViews.Components.ProviderNavViewModel
@{
    var currentController = (string)ViewContext.RouteData.Values["Controller"];
    var currentAction = (string)ViewContext.RouteData.Values["Action"];
}

<button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
<nav>
    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item@(currentController == "Home" && currentAction == "Index" ? " govuk-header__navigation-item--active" : null)">
            <a asp-action="Index" asp-controller="ProviderDashboard" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-header__link" data-testid="topnav-home">
                Home
            </a>
        </li>
        @if (Model.ShowCoursesLinks)
        {
            <li class="govuk-header__navigation-item@(currentController == "Qualifications" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="LandingOptions" asp-controller="Qualifications" class="govuk-header__link" data-testid="topnav-courses">
                    Courses
                </a>
            </li>
        }
        @if (Model.ShowApprenticeshipsLinks)
        {
            <li class="govuk-header__navigation-item@(currentController == "Apprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="WhatWouldYouLikeToDo" asp-controller="Apprenticeships" class="govuk-header__link" data-testid="topnav-apprenticeships">
                    Apprenticeships
                </a>
            </li>
        }
        <li class="govuk-header__navigation-item@(currentController == "Venues" ? " govuk-header__navigation-item--active" : null)">
            <a asp-action="Index" asp-controller="Venues" class="govuk-header__link" data-testid="topnav-locations">
                Locations
            </a>
        </li>
        @if (Model.ShowCoursesLinks && Model.ShowApprenticeshipsLinks)
        {
            <li class="govuk-header__navigation-item@(currentController == "BulkUpload" || currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="LandingOptions" asp-controller="BulkUpload" class="govuk-header__link" data-testid="topnav-bulkupload">
                    Bulk upload
                </a>
            </li>
        }
        else if (Model.ShowApprenticeshipsLinks)
        {
            <li class="govuk-header__navigation-item@(currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="Index" asp-controller="BulkUploadApprenticeships" class="govuk-header__link" data-testid="topnav-bulkupload">
                    Bulk upload
                </a>
            </li>
        }
        else if (Model.ShowCoursesLinks)
        {
            <li class="govuk-header__navigation-item@(currentController == "BulkUpload" || currentController == "BulkUploadApprenticeships" ? " govuk-header__navigation-item--active" : null)">
                <a asp-action="index" asp-controller="BulkUpload" class="govuk-header__link" data-testid="topnav-bulkupload">
                    Bulk upload
                </a>
            </li>
        }
        <li class="govuk-header__navigation-item pttcd-sign-out-navigation-item">
            <a asp-action="Logout" asp-controller="Auth" class="govuk-header__link" data-testid="topnav-signout">
                Sign out
            </a>
        </li>
    </ul>
</nav>
