variables:
  ArmTemplateRoot: '$(Build.SourcesDirectory)\Dfc.CourseDirectory.FindACourseApi\Resources\ArmTemplates'
  BuildPlatform: 'any cpu'
  BuildConfiguration: 'release'
  SolutionBaseName: 'Dfc.CourseDirectory.FindACourseApi'
  GitVersionConfigFilePath: Dfc.CourseDirectory.FindACourseApi/Resources/AzureDevOps/GitVersion.yml
  group: dfc-findacourse-build

resources:
  repositories:
  - repository: self
  - repository: dfc-devops
    type: github
    name: SkillsFundingAgency/dfc-devops
    endpoint: 'GitHub (ESFA)'
    ref: refs/tags/v1.11.2

pool:
  name: NCS - CI and CD
  demands:
  - azureps

trigger:
  batch: true
  branches:
    include:
    - release/*
    - main
  paths:
    include:
    - Dfc.CourseDirectory.FindACourseApi/*
    - src/Dfc.CourseDirectory.Core/*
    - src/Dfc.CourseDirectory.Database/*
    - src/Dfc.CourseDirectory.FindACourseApi/*
    - tests/Dfc.CourseDirectory.Core.Tests/*
    - tests/Dfc.CourseDirectory.FindACourseApi.Tests/*
    - tests/Dfc.CourseDirectory.Testing/*

pr:
  branches:
    include:
    - main
  paths:
    include:
    - Dfc.CourseDirectory.FindACourseApi/*
    - src/Dfc.CourseDirectory.Core/*
    - src/Dfc.CourseDirectory.Database/*
    - src/Dfc.CourseDirectory.FindACourseApi/*
    - tests/Dfc.CourseDirectory.Core.Tests/*
    - tests/Dfc.CourseDirectory.FindACourseApi.Tests/*
    - tests/Dfc.CourseDirectory.Testing/*

workspace:
  clean: all

steps:

- task: UseGitVersion@5
  displayName: GitVersion
  inputs:
    useConfigFile: true
    configFilePath: ${{ variables.GitVersionConfigFilePath }}
    versionSpec: '5.3.x'

# ARM template
- template: AzureDevOpsTemplates\Build\StepTemplates\dfc-arm-build.yml@dfc-devops
  parameters:
    ArmTemplateRoot: '${{ variables.ArmTemplateRoot }}'
    SolutionBaseName: '${{ variables.SolutionBaseName }}'

- task: PublishBuildArtifacts@1
  displayName: Publish AzureSearch files
  inputs:
     pathtoPublish: 'Dfc.CourseDirectory.FindACourseApi/Resources/AzureSearch'
     artifactName: '$(SolutionBaseName).Resources.AzureSearch'

- task: MSBuild@1
  displayName: Build database
  inputs:
    solution: 'src/Dfc.CourseDirectory.Database/Dfc.CourseDirectory.Database.sqlproj'
    platform: '${{ variables.BuildPlatform }}'
    configuration: '${{ variables.BuildConfiguration }}'
    msbuildArguments: '-p:OutputPath=bin/${{ variables.BuildConfiguration }}/'

# Remove the sqlproj from the solution otherwise `dotnet build Dfc.CourseDirectory.FindACourseApi.sln` explodes
- powershell: |
    dotnet sln Dfc.CourseDirectory.FindACourseApi/$(SolutionBaseName).sln remove src/Dfc.CourseDirectory.Database/Dfc.CourseDirectory.Database.sqlproj

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'Dfc.CourseDirectory.FindACourseApi/$(SolutionBaseName).sln'
    arguments: '--configuration ${{ variables.BuildConfiguration }}'
  displayName: Build

- powershell: |
    $projects = (dotnet sln Dfc.CourseDirectory.FindACourseApi.sln list | findstr Tests.csproj)

    $success = $True
    foreach ($proj in $projects) {
      dotnet test $proj --configuration $(BuildConfiguration) --filter SkipOnCI!=true --logger trx --results-directory $(Agent.TempDirectory)

      if ($LASTEXITCODE -ne 0) {
        $success = $False
      }
    }

    if ($success -eq $False) {
      Exit 1
    }
  env:
    ConnectionStrings__DefaultConnection: $(IntegrationSQLDB)
  workingDirectory: $(SolutionBaseName)
  displayName: Test

- task: PublishTestResults@2
  displayName: "Publish Test Results"
  inputs:
    testResultsFormat: VSTest
    testResultsFiles: "**/*.trx"
    searchFolder: "$(Agent.TempDirectory)"
  condition: succeededOrFailed()

- task: DotNetCoreCLI@2
  displayName: Publish Dfc.CourseDirectory.FindACourseApi
  inputs:
    command: publish
    projects: 'src/Dfc.CourseDirectory.FindACourseApi/Dfc.CourseDirectory.FindACourseApi.csproj'
    arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
    publishWebProjects: false
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish Artifact
  inputs:
    pathtoPublish: $(Build.ArtifactStagingDirectory)
    artifactName: '${{ variables.SolutionBaseName }}'
