@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Services.Models
@using Dfc.CourseDirectory.Web.Helpers
@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.DeleteDeliveryOptionViewModel
@{
    ViewData["Title"] = "Delete your delivery venue"; 
    Layout = "_Layout_Your_Courses";
}

<form class="govuk-!-margin-bottom-9" id="ApprenticeshipWhatWouldYouLikeToDoForm" asp-controller="Apprenticeships" asp-action="DeleteDeliveryOption" method="post">
    <div class="cd-dashboard">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @Html.HiddenFor(x => x.LocationName)
                @Html.HiddenFor(x => x.Combined)
                <span class="govuk-caption-xl">@Model.ApprenticeshipTitle</span>


                <h1 class="govuk-heading-l">
                    Delete your delivery venue
                </h1>

                <h1 class="govuk-label">
                    You are about to delete this venue
                </h1>
                <br />

                <div class="cta-container">
                    <button type="submit" class="govuk-button" id="delete" value="delete">
                        Delete
                    </button>

                    @if (Model.Combined)
                    {
                        <a class="govuk-link govuk-!-margin-left-3" asp-controller="Apprenticeships" asp-action="DeliveryOptionsCombined">Cancel</a>
                    }
                    else
                    {
                        <a class="govuk-link govuk-!-margin-left-3" asp-controller="Apprenticeships" asp-action="DeliveryOptions">Cancel</a>
                    }

                </div>
            </div>
        </div>
    </div>
</form>


