pool:
  name: NCS - CI and CD
  demands:
  - azureps
  - npm
  - node.js

variables:
  BuildPlatform: 'any cpu'
  BuildConfiguration: 'release'
  GitVersionConfigFilePath: Resources/AzureDevOps/GitVersion.yml
  group: dfc-findacourse-build

resources:
  repositories:
  - repository: self
    clean: true
  - repository: dfc-devops
    type: github
    name: SkillsFundingAgency/dfc-devops
    endpoint: 'GitHub (ESFA)'
    ref: refs/tags/v1.11.2

trigger:
  batch: true
  branches:
    include:
    - release/*
    - main

pr:
  branches:
    include:
    - release/*
    - main

workspace:
  clean: all

steps:

- task: UseGitVersion@5
  displayName: GitVersion
  inputs:
    useConfigFile: true
    configFilePath: ${{ variables.GitVersionConfigFilePath }}
    versionSpec: '5.3.x'

# ARM template
- template: AzureDevOpsTemplates\Build\StepTemplates\dfc-arm-build.yml@dfc-devops
  parameters:
    ArmTemplateRoot: '$(System.DefaultWorkingDirectory)\Resources\Azure\ArmTemplates'

- task: CopyFiles@2
  displayName: 'Copy Files: AzureSearch'
  inputs:
    Contents: 'Resources/AzureSearch/*'
    TargetFolder: '$(build.artifactstagingdirectory)'

# restore symlink
- script: |
    del v2 /F /Q
    mklink /D v2 ..\..\Dfc.CourseDirectory.WebV2\Content
  displayName: 'Restore v2 content symlink'
  workingDirectory: src/Dfc.CourseDirectory.Web/wwwroot

- task: Npm@1
  displayName: 'npm install'
  inputs:
    workingDir: 'src/Dfc.CourseDirectory.Web'
    verbose: false
  enabled: false

- task: Gulp@0
  displayName: 'Gulp '
  inputs:
    gulpFile: 'src/Dfc.CourseDirectory.Web/gulpfile.js'
    targets: 'prod'
  enabled: false

- task: MSBuild@1
  displayName: Build database
  inputs:
    solution: 'src/Dfc.CourseDirectory.Database/Dfc.CourseDirectory.Database.sqlproj'
    platform: '${{ variables.BuildPlatform }}'
    configuration: '${{ variables.BuildConfiguration }}'
    msbuildArguments: '-p:OutputPath=bin/${{ variables.BuildConfiguration }}/'

# Remove the sqlproj from the solution otherwise `dotnet build Dfc.CourseDirectory.sln` explodes
- powershell: |
    dotnet sln Dfc.CourseDirectory.sln remove src/Dfc.CourseDirectory.Database/Dfc.CourseDirectory.Database.sqlproj

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'Dfc.CourseDirectory.sln'
    arguments: '--configuration ${{ variables.BuildConfiguration }}'
  displayName: Build

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: 'tests/**/*.Tests.csproj'
    arguments: '--configuration ${{ variables.BuildConfiguration }} --filter SkipOnCI!=true'
  env:
    ConnectionStrings__DefaultConnection: $(IntegrationSQLDB)
  displayName: Test

- task: DotNetCoreCLI@2
  displayName: Publish Dfc.CourseDirectory.Web
  inputs:
    command: publish
    projects: 'src/Dfc.CourseDirectory.Web/Dfc.CourseDirectory.Web.csproj'
    arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
    zipAfterPublish: True

- task: DotNetCoreCLI@2
  displayName: Publish Dfc.CourseDirectory.Functions
  inputs:
    command: publish
    projects: 'src/Dfc.CourseDirectory.Functions/Dfc.CourseDirectory.Functions.csproj'
    arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
    publishWebProjects: false
    zipAfterPublish: True

- task: CopyFiles@2
  displayName: 'Copy files: database'
  inputs:
    SourceFolder: 'src/Dfc.CourseDirectory.Database/bin/$(BuildConfiguration)'
    Contents: '*'
    TargetFolder: '$(build.artifactstagingdirectory)/database'

- task: PublishBuildArtifacts@1
  displayName: Publish Artifact
  inputs:
     pathtoPublish: $(Build.ArtifactStagingDirectory)
     artifactName: Dfc.CourseDirectory