@{ 
    ViewBag.Title = "Get in touch";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Get in touch</h1>
        <p class="govuk-body-l">If you've got a question or need help with Publish to the course directory get in touch with the support team.</p>

        <h2 class="govuk-heading-l">Email</h2>
        <p class="govuk-body">Email the Publish to the course directory support team on <a href="mailto:support@coursedirectory.org.uk" class="govuk-link">support@coursedirectory.org.uk</a></p>

        <h2 class="govuk-heading-l">Telephone</h2>
        <ul class="govuk-list">
            <li>Telephone: 0844 811 5073</li>
            <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
        </ul>

        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>

    </div>
</div>