@{
    ViewData["Title"] = "Which qualification are you awarding with this course?";
    ViewData["Subtext"] = "Search by Learning Aims Reference Service (LARS) code or a keyword";
    ViewData["Placeholder"] = "Search";
}
@{
    Layout = "_Layout_Your_Courses";
}
<div class="grid-row " data-sf-element="Row">
    <div class="column-two-thirds govuk-body">
        <div>

            <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>

                   
        </div>


        <div id="larscontainer" class="cd-migration-panel">
            <div id="errorsummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" style="display: none;">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list"></ul>
                </div>
            </div>

            <div class="govuk-form-group zcodesearch">
                <label id="larslabel" class="column-two-thirds" name="qualification-search" for="LarsSearchTerm">@ViewBag.Subtext</label>
                <label class="govuk-hint" id="hintlabel">Enter a minimum of 3 characters</label>

                <div class="zcodesearch--container">
                    
              
                    <input class="govuk-input search-input js-search-focus govuk-input--width-20" id="LarsSearchTerm" name="LarsSearchTerm" type="text" autofocus aria-label="qualification-search"
                           val-required-message="Enter search criteria"
                           val-min-length="3"
                           val-min-length-message="Enter minimum 3 characters"/>
                    <div class="cd-c-search__item cd-search__submit-wrapper">
                        <button type="button" class=" submit" id="searchQualification">Search</button>
                    </div>
                </div>

            </div>

        </div>
   
    </div>
</div>

@await Component.InvokeAsync(nameof(LarsSearch))
