@{
    ViewData["Title"] = "Find a qualification";
    ViewData["Subtext"] = "Search by LARS/QAN or keyword for the qualification you are awarding with this course";
    ViewData["Placeholder"] = "Search";
}
@{
    Layout = "_Layout_Your_Courses";
}
<div class="cd-hero-green">
    <div class="">
        <header class="cd-hero-search">
            <div class="content-container">

               
                <div class="grid-row" data-sf-element="Row">
                    <div class="column-two-thirds">
                        <div>
                            <h1 class="govuk-heading-l govuk-!-margin-top-4">@ViewBag.Title</h1>
                            <label class="column-two-thirds govuk-heading-m" name="qualification-search">@ViewBag.Subtext</label>
                        </div>
                        <form class="site-search ui-front" id="header-search">

                            <div class="search-input-wrapper">


                                <input class="govuk-input search-input js-search-focus" placeholder="@ViewBag.Placeholder" id="LarsSearchTerm" name="LarsSearchTerm" type="text" autofocus aria-label="qualification-search">
                                <div class="cd-c-search__item cd-search__submit-wrapper">
                                    <button type="button" class=" submit" id="searchQualification">Search</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </header>
    </div>
</div>


@await Component.InvokeAsync(nameof(LarsSearch))