@*@model IEnumerable<string>;*@

@model IEnumerable<CoursesForQualificationAndCountViewModel>

<h1 class="govuk-heading-xl">Your Qualifications</h1>

<dl class="govuk-summary-list">
    @foreach (var type in Model)
    {
        <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">

                @type.QualificationType (@type.CourseRunCount)
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" asp-controller="Qualifications" asp-action="Courses" asp-route-qualificationType="@type.QualificationType">View</a>
            </dd>
        </div>
    }
</dl>
