
@using Dfc.CourseDirectory.Web.ViewComponents.CourseName
@using Dfc.CourseDirectory.Web.ViewComponents.CourseProviderReference
@using Dfc.CourseDirectory.Web.ViewComponents.UrlInput
@using Dfc.CourseDirectory.Web.ViewComponents.CostInput
@using Dfc.CourseDirectory.Web.ViewComponents.CostDescription
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseDelivery
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.CourseDeliveryType
@using Dfc.CourseDirectory.Web.ViewComponents.Courses.Attendance
@using Dfc.CourseDirectory.Models.Models.Courses


<h1 class="govuk-heading-xl">Add course section 2</h1>

<form asp-controller="Courses" asp-action="AddCourse">
    @await Component.InvokeAsync(nameof(CourseName), new CourseNameModel
    {
        LabelText = "Course name",
        HintText = "This is the name people will see when they search for your course.",
        AriaDescribedBy = "Please enter the course name."
    })

    @await Component.InvokeAsync(nameof(CourseProviderReference), new CourseProviderReferenceModel
    {
        LabelText = "ID",
        HintText = "This is how you identify a course in your internal system.",
        AriaDescribedBy = "Please enter the ID for this course"
    })
    
    @await Component.InvokeAsync(nameof(CourseDeliveryType), new CourseDeliveryTypeModel
    {
        DeliveryTypes = new List<DeliveryTypeModel>()
        {
        
            new DeliveryTypeModel()
            {
                Id=0,
                DeliveryType = "Classroom based"
            },
            new DeliveryTypeModel()
            {
                Id=1,
                DeliveryType = "Online"
            },
            new DeliveryTypeModel()
            {
                Id=2,
                DeliveryType = "Work based"
            }
        },
        LabelText = "Delivery Mode",
        HintText = "Select how this course will be delivered",
        AriaDescribedBy = "How the course will be delivered"
    })

    @await Component.InvokeAsync(nameof(UrlInput), new UrlInputModel
    {
        LabelText = "URL",
        HintText = "Enter the URL for this course",
        AriaDescribedBy = "Enter the URL for this course"
    })

    @await Component.InvokeAsync(nameof(CostInput), new CostInputModel
    {
        LabelText = "Cost",
        HintText = "Enter the cost for the course in pounds and pence e.g. 125.00",
        AriaDescribedBy = "Enter the cost in pounds and pence"
    })

    @await Component.InvokeAsync(nameof(CostDescription), new CostDescriptionModel
    {
        LabelText = "Cost description",
        HintText = "Enter details of related to the cost of this course",
        AriaDescribedBy = "Enter details of related to the cost of this course"
    })

    @await Component.InvokeAsync(nameof(Attendance), new AttendanceModel
    {
        AttendanceMode = AttendancePattern.Daytime,
        LabelText = "Attendance",
        HintText = "Select the time of day the course takes place"
    })

</form>