@using Dfc.CourseDirectory.Web.ViewComponents.CourseFor


<h1 class="govuk-heading-xl">Add course section 1</h1>

<form asp-controller="Courses" asp-action="AddCourseSection2">
    @await Component.InvokeAsync(nameof(CourseFor), new CourseForModel
    {
        LabelText = "Who is the course for?",
        HintText = "who will attend this course",
        AriaDescribedBy = "Please enter who this course is for."
    })
</form>