<h1 class="govuk-heading-xl">Add course section 2</h1>

<form asp-controller="Courses" asp-action="AddCourse">
    <input type="text" name="CourseName" id="CourseName" value="" />
    <button type="submit">
        Go to section2
    </button>
</form>