@using Dfc.CourseDirectory.Web.ViewComponents.YourCourses.Course
@model Dfc.CourseDirectory.Web.ViewModels.YourCoursesViewModel

@{
    Layout = "/Views/Shared/_Layout_YourCourses.cshtml";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
            <form asp-action="Index" asp-controller="Qualifications" method="post">
                <h1 id="cd-your-courses-heading" class="govuk-heading-l">Your courses</h1>
                <button id="cd-add-qual-button" type="submit" class="govuk-button">
                    Add a Qualification
                </button>
                
                @foreach (var Course in Model.Courses)
                {
                    //do stuff for line 1
                    foreach (var CourseRun in Course.CourseRuns)
                    {
                        @await Component.InvokeAsync(nameof(CourseRun), CourseRun)
                    }
                }

            </form>
        </div>
        <div class="govuk-form-group">
            @await Component.InvokeAsync(nameof(Course), Model)

        </div>
    </div>
</div>


