<h1 class="govuk-heading-xl">
    Courses Index (YAGNI???)
</h1>

<ul>
    <li>
        <a class="govuk-link" asp-controller="Courses" asp-action="AddCourseSection1">Add course section 1</a>
    </li>
    <li>
        <a class="govuk-link" asp-controller="Courses" asp-action="AddCourseSection2">Add course section 2</a>
    </li>
</ul>

