@using Dfc.CourseDirectory.Web.ViewComponents.ProviderApprenticeships.ProviderApprenticeshipSearch
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderApprenticeships.ProviderApprenticeshipSearchResult
@{
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.ProviderApprenticeships.ProviderApprenticeshipsViewModel
@{
    var hasApprenticeships = Model.Apprenticeships != null && Model.Apprenticeships.Any();
}

<div class="cd-hero-grey">

    <header class="cd-hero-search">
        <div class="content-container">
            <div class="grid-row" data-sf-element="Row">
                <div class="column-two-thirds">
                    <div>
                        <a asp-controller="Home" asp-action="Index" class="govuk-back-link">Back</a><br />
                        <span class="govuk-caption-xl">Course directory</span>
                        <h1 class="govuk-heading-xl">Your published apprenticeship training courses</h1>


                        <p class="govuk-body-l">Search by apprenticeship name or keyword</p>
                    </div>
                    <form class="govuk-!-margin-bottom-9" id="ProviderApprenticeshipSearchForm" asp-controller="" asp-action="" method="post">
                        <div class="header-search-content">
                            <span asp-validation-for="@Model.Search" class="govuk-error-message"></span>
                            <div class="search-input-wrapper">


                                <input class="govuk-input search-input js-search-focus" id="ProviderApprenticeshipSearchTerm" asp-for="@Model.Search" type="text">
                                <div class="cd-c-search__item cd-search__submit-wrapper">
                                    <button type="button" class=" submit" id="searchProviderApprenticeships">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>


                        <div id="results">
                            @if (hasApprenticeships)
                            {
                                @await Component.InvokeAsync(nameof(ProviderApprenticeshipSearchResult), new ProviderApprenticeshipsSearchResultModel
                                {
                                    Items = Model.Apprenticeships
                                });
                            }

                        </div>


                </div>
            </div>
        </div>
    </header>
</div>






