@addTagHelper *, GovUk.Frontend.AspNetCore
@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.DeleteFileViewModel
@{
    Layout = "_V2LayoutProviderContext";
    ViewBag.Title = "Delete this file";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-controller="BulkUpload" asp-action="DeleteFile">
            <span class="govuk-caption-xl">Course Directory</span>
            <h1 class="govuk-heading-l">Delete this file</h1>

            <p class="govuk-body govuk-!-margin-bottom-4">
                The courses in this file will not be published to the Course directory.<br />
                You can upload another file at any time.
            </p>

            <govuk-button type="submit">Continue</govuk-button>
            <govuk-button asp-controller="BulkUpload" asp-action="WhatDoYouWantToDoNext" class="govuk-button--secondary">Cancel</govuk-button>
        </form>
    </div>
</div>
