@using Dfc.CourseDirectory.Web.Components.LarsSearchResult;

@model Dfc.CourseDirectory.Web.Components.LarsSearch.LarsSearchModel;

<div class="lars-search">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                    Learning Aims Reference Service Search
                </label>
                <span class="govuk-hint">
                    Just start typing and we will find all the matching LARS courses.
                </span>
                <input class="govuk-input" id="LarsSearchTerm" name="LarsSearchTerm" type="text">
            </div>
        </div>
    </div>

    <div id="LarsSearchResultContainer">
        @await Component.InvokeAsync(nameof(LarsSearchResult))
    </div>

</div>

