@model Dfc.CourseDirectory.Web.ViewComponents.MigrationReportDashboardPanel.MigrationReportDashboardPanelModel

<div class="cd-migration-panel">
    <h2 class="cd-migration-panel__title">@Model.Caption</h2>
    <span class="cd-migration-panel__number">@Model.Value.ToString("N0")</span><br />
    <span class="govuk-body-s"></span>
</div>
