@using Dfc.CourseDirectory.Services.Enums
@using Dfc.CourseDirectory.Web.Helpers
@{
    ViewData["Title"] = "Course deleted"; 
    Layout = "_Layout_Your_Courses";
}

@model Dfc.CourseDirectory.Web.ViewModels.ProviderCourses.CourseDeleteConfirmViewModel

<form class="govuk-!-margin-bottom-9" id="CourseConfirmDeleteForm" asp-controller="ProviderCourses" asp-action="CourseConfirmationDelete" method="post">
    <div class="cd-dashboard provider">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Course deleted

            </h1>
            <div class="govuk-panel__body">
                <strong> @Model.CourseName</strong> has been deleted from the Course directory
            </div>
        </div>

        <h2 class="govuk-heading-m">Next steps</h2>

        <p class="govuk-body">
            <a class="govuk-link" asp-controller="ProviderCourses" asp-action="Index">
                Delete another course
            </a><br />
            <a class="govuk-link" asp-controller="Home" asp-action="Index">
                Return to dashboard
            </a>
        </p>
    </div>

</form>
