@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Services.Models
@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.CompleteViewModel
@{
    ViewData["Title"] = Model.ApprenticeshipName + " has been added to the Course directory"; 
    Layout = "_Layout_Your_Courses";
}

<div class="govuk-panel govuk-panel--confirmation">

    <div class="govuk-panel__body">
        <h1 class="govuk-panel__title">
            Apprenticeship published
        </h1>

        @Model.ApprenticeshipName has been added to the Course directory
    </div>

</div>
<div class="Publish-Complete">
    <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-l govuk-!-font-size-36">Next steps</h2>
    </div>
</div>
<div class="govuk-form-group">
    @Html.ActionLink("Add another apprenticeship", "AddAnotherApprenticeship", "Apprenticeships", new { }, new { @class = "govuk-link" })
    <br/>
    @Html.ActionLink("Return to dashboard", "Index", "Home", new { }, new { @class = "govuk-link" })

</div>


