@addTagHelper *, GovUk.Frontend.AspNetCore
@model Dfc.CourseDirectory.Web.ViewModels.Apprenticeships.CompleteViewModel
@{
    ViewData["Title"] = Model.ApprenticeshipName + " has been added to the Course directory";
    Layout = "_V2LayoutProviderContext";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel>
            <govuk-panel-title>Apprenticeship published</govuk-panel-title>

            @Model.ApprenticeshipName
        </govuk-panel>

        <p class="govuk-body">
            Your apprenticeship will be available on Find an apprenticeship training provider
            for employers who want to take on an apprentice.
        </p>

        <div class="Publish-Complete">
            <div class="govuk-!-margin-top-6">
                <h2 class="govuk-heading-l govuk-!-font-size-36">What next?</h2>
            </div>
        </div>
        <div class="govuk-form-group">
            <a asp-controller="Apprenticeships" asp-action="AddAnotherApprenticeship"
               class="govuk-link">Add a new apprenticeship</a>
            <br/>
            <a asp-controller="ProviderApprenticeships" asp-action="Index"
               class="govuk-link">View, edit, copy or delete an apprenticeship</a>
            <br/>
            <a asp-controller="Home" asp-action="Index"
               class="govuk-link">Back to the home screen</a>
        </div>
    </div>
</div>
