@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfc.CourseDirectory.Web.ViewComponents.PostCodeSearchResult.PostCodeSearchResultModel;

@{

    var tempDataUserPersist= TempData["UKPRN"];
    TempData.Keep();
}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">


            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                </legend>

                <div class="govuk-form-group">
                    <h3>
                        <span style="font-size: 22px">Venue postcode</span><br>
                        @Model.PostCode.ToUpper() <a href="#" style="margin-left: 10px;font-weight: 300" id="ClickChange" class="govuk-link">Change</a>

                    </h3>


                    @{
                        var message = ($"{Model.Items.Count().ToString()} Addresses Found");
                        if (Model.Items.Count() == 1)
                        {
                            message = ($"{Model.Items.Count().ToString()} Address Found");
                        }

                        <select class="govuk-select based" style="width: 40%" asp-for="Id"
                                asp-items="@(new SelectList(Model.Items,"Id","AddressLine1"))">
                            <option>@message</option>
                        </select>
                    }
                </div>

            </fieldset>


            <a href="AddVenueManual" class="govuk-link">I cannot find my address in the list</a>


         

        </div>

    </div>
