@using System.Text.RegularExpressions
@model IEnumerable<Dfc.CourseDirectory.Models.Models.Courses.CourseRun>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@foreach (var courseRun in Model)
{
<div class="error-line-in">
    <div class="heading">@courseRun.CourseName</div>
    <div class="col"><div class="error-box no-error">No errors</div></div>
    <div class="col">&nbsp;</div>
</div>
}

<script>
    (function ($) {
        $(function () {
          
        });
    })(jQuery);
</script>