@using System.Text.RegularExpressions
@using Dfc.CourseDirectory.Models.Enums
@model IEnumerable<Dfc.CourseDirectory.Models.Models.Courses.CourseRun>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@foreach (var courseRun in Model)
{
    <div class="error-line-in">
        <div class="heading">@courseRun.CourseName</div>


        @if (courseRun.RecordStatus == RecordStatus.BulkUloadPending)
        {
            <div class="col"><div class="error-box ">Errors</div></div>
            <div class="col">
                
            </div>
        }
        else
        {
            if (courseRun.RecordStatus == RecordStatus.BulkUploadReadyToGoLive)
            {
                <div class="col"><div class="error-box no-error">No errors</div></div>
                <div class="col">&nbsp;</div>
            }
            
        }

    </div>
}

<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>