@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2 class="govuk-heading-m" >@ViewData["Title"]</h2>
<h4 class="govuk-heading-s">Enter your email.</h4>
<hr />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="govuk-form-group">
                <label class="govuk-label" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="govuk-input" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="govuk-button">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
