pool:
  name: NCS - CI and CD
  demands:
  - azureps

variables:
  ArmTemplateRoot: '$(Build.SourcesDirectory)\Dfc.CourseDirectory\Resources\ArmTemplates'
  BuildPlatform: 'any cpu'
  BuildConfiguration: 'release'
  SolutionBaseName: 'Dfc.CourseDirectory'
  GitVersionConfigFilePath: Dfc.CourseDirectory/Resources/AzureDevOps/GitVersion.yml
  group: dfc-findacourse-build

resources:
  repositories:
  - repository: self
    clean: true
  - repository: dfc-devops
    type: github
    name: SkillsFundingAgency/dfc-devops
    endpoint: 'GitHub (ESFA)'
    ref: refs/tags/v1.11.2

trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    include:
    - Dfc.CourseDirectory/*
    - src/Dfc.CourseDirectory.Core/*
    - src/Dfc.CourseDirectory.Database/*
    - src/Dfc.CourseDirectory.Functions/*
    - src/Dfc.CourseDirectory.Services/*
    - src/Dfc.CourseDirectory.Web/*
    - src/Dfc.CourseDirectory.WebV2/*
    - tests/Dfc.CourseDirectory.Core.Tests/*
    - tests/Dfc.CourseDirectory.Services.Tests/*
    - tests/Dfc.CourseDirectory.Testing/*
    - tests/Dfc.CourseDirectory.Web.Tests/*
    - tests/Dfc.CourseDirectory.WebV2.Tests/*

pr:
  branches:
    include:
    - main
  paths:
    include:
    - Dfc.CourseDirectory/*
    - src/Dfc.CourseDirectory.Core/*
    - src/Dfc.CourseDirectory.Database/*
    - src/Dfc.CourseDirectory.Functions/*
    - src/Dfc.CourseDirectory.Services/*
    - src/Dfc.CourseDirectory.Web/*
    - src/Dfc.CourseDirectory.WebV2/*
    - tests/Dfc.CourseDirectory.Core.Tests/*
    - tests/Dfc.CourseDirectory.Services.Tests/*
    - tests/Dfc.CourseDirectory.Testing/*
    - tests/Dfc.CourseDirectory.Web.Tests/*
    - tests/Dfc.CourseDirectory.WebV2.Tests/*

workspace:
  clean: all

steps:

- task: UseGitVersion@5
  displayName: GitVersion
  inputs:
    useConfigFile: true
    configFilePath: ${{ variables.GitVersionConfigFilePath }}
    versionSpec: '5.3.x'

- task: UseDotNet@2
  inputs:
    packageType: sdk
    version: 5.0.x

# ARM template
- template: AzureDevOpsTemplates\Build\StepTemplates\dfc-arm-build.yml@dfc-devops
  parameters:
    ArmTemplateRoot: '${{ variables.ArmTemplateRoot }}'
    SolutionBaseName: '${{ variables.SolutionBaseName }}'

- task: CopyFiles@2
  displayName: 'Copy Files: AzureSearch'
  inputs:
    Contents: 'Dfc.CourseDirectory/Resources/AzureSearch/*'
    TargetFolder: '$(build.artifactstagingdirectory)'

# restore symlink
- script: |
    del v2 /F /Q
    mklink /D v2 ..\..\$(SolutionBaseName).WebV2\Content
  displayName: 'Restore v2 content symlink'
  workingDirectory: src/$(SolutionBaseName).Web/wwwroot

- task: MSBuild@1
  displayName: Build database
  inputs:
    solution: 'src/$(SolutionBaseName).Database/$(SolutionBaseName).Database.sqlproj'
    platform: '${{ variables.BuildPlatform }}'
    configuration: '${{ variables.BuildConfiguration }}'
    msbuildArguments: '-p:OutputPath=bin/${{ variables.BuildConfiguration }}/ -p:LangVersion=8.0'

# Remove the sqlproj from the solution otherwise `dotnet build Dfc.CourseDirectory.sln` explodes
- powershell: |
    dotnet sln Dfc.CourseDirectory/$(SolutionBaseName).sln remove src/$(SolutionBaseName).Database/$(SolutionBaseName).Database.sqlproj

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'Dfc.CourseDirectory/$(SolutionBaseName).sln'
    arguments: '--configuration ${{ variables.BuildConfiguration }}'
  displayName: Build

- powershell: |
    $projects = (dotnet sln Dfc.CourseDirectory.sln list | findstr Tests.csproj)

    $success = $True
    foreach ($proj in $projects) {
      dotnet test $proj --configuration $(BuildConfiguration) --filter SkipOnCI!=true --logger trx --results-directory $(Agent.TempDirectory)

      if ($LASTEXITCODE -ne 0) {
        $success = $False
      }
    }

    if ($success -eq $False) {
      Exit 1
    }
  env:
    ConnectionStrings__DefaultConnection: $(IntegrationSQLDB)
  workingDirectory: $(SolutionBaseName)
  displayName: Test

- task: PublishTestResults@2
  displayName: "Publish Test Results"
  inputs:
    testResultsFormat: VSTest
    testResultsFiles: "**/*.trx"
    searchFolder: "$(Agent.TempDirectory)"
  condition: succeededOrFailed()

- task: DotNetCoreCLI@2
  displayName: Publish Dfc.CourseDirectory.Web
  inputs:
    command: publish
    projects: 'src/$(SolutionBaseName).Web/$(SolutionBaseName).Web.csproj'
    arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
    publishWebProjects: false
    zipAfterPublish: True

- task: DotNetCoreCLI@2
  displayName: Publish Dfc.CourseDirectory.Functions
  inputs:
    command: publish
    projects: 'src/$(SolutionBaseName).Functions/$(SolutionBaseName).Functions.csproj'
    arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'
    publishWebProjects: false
    zipAfterPublish: True

- task: CopyFiles@2
  displayName: 'Copy files: database'
  inputs:
    SourceFolder: 'src/$(SolutionBaseName).Database/bin/$(BuildConfiguration)'
    Contents: '*'
    TargetFolder: '$(build.artifactstagingdirectory)/database'

- task: PublishBuildArtifacts@1
  displayName: Publish Artifact
  inputs:
     pathtoPublish: $(Build.ArtifactStagingDirectory)
     artifactName: $(SolutionBaseName)
