<div class=" cd-fullwidth-container  govuk-!-padding-top-9">

    <div class="govuk-width-container cd-course-page">
        <a href="Courses/CourseListfullwidth4" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-xl">
                        Level 2 Diploma in Plumbing Studies
                    </span>


                    <h1 class="govuk-heading-xl">

                        City &amp; Guilds Intermediate Diploma in Plumbing

                    </h1>


                    <table class="govuk-table">

                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Lars/QAN:</th>
                                <th class="govuk-table__header" scope="col">60326608</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Level:</th>
                                <td class="govuk-table__cell">2</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Awarding organisation:</th>
                                <td class="govuk-table__cell">City &amp; Guilds</td>
                            </tr>

                        </tbody>
                    </table>


                    <h3 class="govuk-heading-m govuk-!-margin-top-0">
                        <a href="#">Edit course information</a>
                    </h3>

                    <table class="govuk-table">

                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Venue:</th>
                                <th class="govuk-table__header" scope="col">Newham College of Further Education</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Url:</th>
                                <td class="govuk-table__cell"><a href="http://www.ips-apprenticeships.co.uk/">http://www.ips-apprenticeships.co.uk/</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Cost:</th>
                                <td class="govuk-table__cell">£1275</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Cost description:</th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-4386f8be-5919-4bb4-89d7-41219af78831" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-4386f8be-5919-4bb4-89d7-41219af78831" aria-hidden="true">
                                            The cost for this certificated Introduction to Plumbing course is £395.00 including VAT. A £150.00 deposit will secure a booking and the balance can be paid on the start date.
                                        </div>
                                    </details>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Duration:</th>
                                <td class="govuk-table__cell">4 months</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">ID:</th>
                                <td class="govuk-table__cell">Apprenticeship Adult Care Worker</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Delivery:</th>
                                <td class="govuk-table__cell">Classroom based</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Start date:</th>
                                <td class="govuk-table__cell">Flexible start date</td>
                            </tr>

                        </tbody>
                    </table>


                    <h3 class="govuk-heading-m govuk-!-margin-top-0">
                        <a href="#">About this course</a>
                    </h3>



                    <table class="govuk-table">



                        <tbody>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Who is this course for </th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-78ad1d3d-97e3-4aab-844f-fc7d331d17be" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-78ad1d3d-97e3-4aab-844f-fc7d331d17be" aria-hidden="true">
                                            This qualification is a basic craft introduction to the plumbing industry. It gives you the knowledge and skills to enable you to achieve a recognised plumbing trade qualification which could lead to a job (for example, as a plumber’s mate) or an apprenticeship. You will need to do another course to become a fully qualified plumber and work on a building site.
                                        </div>
                                    </details>
                                </td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Entry requirements </th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-4aa86daa-5204-432a-9fe6-338b1a7219f9" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-4aa86daa-5204-432a-9fe6-338b1a7219f9" aria-hidden="true">
                                            Completion of Level 2 Diploma in Plumbing Studies
                                        </div>
                                    </details>
                                </td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">What you’ll learn </th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-88c1b9d8-0154-4e23-bde2-ef56a0e2081c" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-88c1b9d8-0154-4e23-bde2-ef56a0e2081c" aria-hidden="true">
                                            Able Skills 5 day Introductory Plumbing course has been recognised by City &amp; Guilds as a comprehensive introduction to domestic plumbing and as such, they have accredited the course with a C&amp;G 4555-02.

                                            At the end of this course you will receive a City &amp; Guilds certificate to confirm the skills that you will have learned.

                                            During this 5 day domestic plumbing course you will learn:

                                            Plumbing systems and fittings
                                            Soldering techniques
                                            Jointing, bending and pressure testing copper tube
                                            Dealing with valves, taps, cisterns
                                            Plumbing pipework
                                        </div>
                                    </details>
                                </td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">How you’ll learn</th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-46d25118-62ca-4030-8b35-d357230fb6ce" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-46d25118-62ca-4030-8b35-d357230fb6ce" aria-hidden="true">
                                            This course is entirely hands on and is ideal for anyone looking to learn basic domestic plumbing but additionally can act as a great taster course for anyone who is considering Plumbing qualifications and a career as a Plumber. The course will cover all of the obvious issues that can arise within a domestic property in an attempt to teach you how to deal with certain things but more importantly, will provide guidance on when/if you really do need to call out a Plumber.
                                        </div>
                                    </details>
                                </td>
                            </tr>


                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">What you’ll need to bring </th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-d795fa03-609e-466e-86bb-8cbf07563317" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-d795fa03-609e-466e-86bb-8cbf07563317" aria-hidden="true">
                                            Plumbing fittings
                                            Soldering gun
                                            Copper tube

                                        </div>
                                    </details>
                                </td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">How you'll be assessed</th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-9ce35a38-e076-49c6-a756-65e3e5a2fc41" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-9ce35a38-e076-49c6-a756-65e3e5a2fc41" aria-hidden="true">
                                            Applicants will be expected to work towards the NVQ Level 3 as their goal, which is currently the industry standard for qualified plumbers. All applicants will be expected to attend an interview to ascertain suitability for the course. All students will undertake initial assessments before starting the course. The course will allow you to gain a level 2 qualification in Plumbing.

                                        </div>
                                    </details>
                                </td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Where next</th>
                                <td class="govuk-table__cell">
                                    <details class="govuk-details" role="group">
                                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-70078d78-3005-4f4d-9e7c-6e6f7814c802" aria-expanded="false">
                                            <span class="govuk-details__summary-text">
                                                View
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text" id="details-content-70078d78-3005-4f4d-9e7c-6e6f7814c802" aria-hidden="true">
                                            You could find employment as an adult care worker, healthcare support worker, key worker or personal care assistant. There are jobs in the NHS, private health care, with social care providers, local authorities or voluntary organisations. You could provide care for people in hospitals, residential care homes, day centres, supported living projects or for private individuals in their own home. You could also use this qualification as a stepping stone to an apprenticeship or higher qualification such as the Level 3 Diploma with a view to becoming a senior care worker.
                                        </div>
                                    </details>
                                </td>
                            </tr>


                        </tbody>
                    </table>



                </div>

                <div class="govuk-grid-column-one-third govuk-related-items">

                    <h3 class="govuk-heading-m">Status</h3>
                    <span class="govuk-tag phase-tag-published govuk-!-margin-bottom-4">Published</span>


                    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-0">Is it on the Course directory?</h3>
                    <a href="#">Yes - view online</a>
                    <hr>
                    <p>Last published: <br> Mar 2019 by Simon Spark</p>
                    <hr>

                    <h3 class="govuk-heading-m m20">Duplicate</h3>
                    <p>
                        If you run another course that
                        offers this qualification, you
                        can duplicate this course,
                        edit the details and save it
                        as a new course.
                    </p>
                    <a href="#">Duplicate this course</a>
                    <hr>

                    <h3 class="govuk-heading-m m20">Delete</h3>
                    <p>
                        If you no longer run this course,
                        remove it from the course
                        directory
                    </p>
                    <a href="#">Delete this course</a>



                </div>
            </div>

        </main>
    </div>
</div>