@using Dfc.CourseDirectory.Web.ViewComponents.PostCodeSearch;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Dfc.CourseDirectory.Web.ViewComponents.PostCodeSearch.PostCodeSearchModel;

    <fieldset class="govuk-fieldset">
        <h2 class="govuk-heading-m">
            Venue address
        </h2>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

        </legend>

        <div class="column-full">

            <div class="form-group">
                <label class="govuk-label" for="address-postcode">
                    Venue postcode
                </label>
                <span asp-validation-for="PostCode"></span>

                <input class="govuk-input govuk-input--width-10" asp-for="PostCode"
                       autocomplete="off"
                       type="text"
                       value="@Model.PostCode" />
            </div>

        </div>

        <button type="submit" class="govuk-button" id="postcode-search">
            Find address
        </button>

        <br>

        <a class="govuk-link" href="add-venue-manual">Enter address manually</a>

    </fieldset>
