@{ 
    Layout = "_V2LayoutCore";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">The information you have entered may not have been saved.  You may have to enter the information again.</p> <p>If you continue to have a problem, contact the Course Directory Support Team.</p>
        <p class="govuk-body">
            <strong>Course Directory Support Team</strong>
        </p>
        <p class="govuk-body">
            Call 0844 811 5073 or email <a href="mailto:support@coursedirectory.org.uk" class="govuk-link"> support@coursedirectory.org.uk</a>.
            <br>
            <br>
            Monday to Friday: 9am to 5pm.
        </p>

        <p class="govuk-body">
            Return to  <a href="https://coursedirectory.nationalcareers.service.gov.uk/" class="govuk-link"> Publish to the course directory</a>.*@
        </p>
    </div>
</div>
