@{ 
    Layout = "_V2LayoutCore";
    ViewBag.Title = "Page has expired";
}

<div class="govuk-width-container" data-testid="">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Page has expired</h1>
                <p class="govuk-body">The page is no longer available.</p>
                <p class="govuk-body"><a href="/">Return to the home screen</a></p>
            </div>
        </div>
    </main>
</div>
