@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;
@using Dfc.CourseDirectory.Web.ViewComponents.Publish.Publish

@model Dfc.CourseDirectory.Web.ViewModels.Publish.PublishViewModel

<form asp-controller="Publish" asp-action="Index" id="Publish">

    @await Component.InvokeAsync(nameof(Publish), new { model = Model})


    <div class="govuk-form-group">
        <button name="publishButton" type="submit" class="govuk-button" id="publish">
            Publish all
        </button>

        @Html.ActionLink("Exit without publishing", "Courses", "Provider", new { qualificationType = "", courseId = Guid.NewGuid(), courseRunId = Guid.NewGuid() }, new { @class = "govuk-link" })
    </div>

</form>
