@model Dfc.CourseDirectory.WebV2.Features.NewApprenticeshipProvider.ApprenticeshipLocations.Command
@{
    ViewBag.Title = "Apprenticeship location type";
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="LocationType" />
</govuk-error-summary>

<form asp-action="ApprenticeshipLocations" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id>
    <govuk-radios asp-for="LocationType">
        <govuk-radios-fieldset is-page-heading="true">
            <govuk-radios-fieldset-legend class="govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Where will this apprenticeship training be delivered?
                </h1>
            </govuk-radios-fieldset-legend>
        </govuk-radios-fieldset>
        <govuk-radios-item value="@ApprenticeshipLocationType.ClassroomBased">
            At one of your locations
        </govuk-radios-item>
        <govuk-radios-item value="@ApprenticeshipLocationType.EmployerBased">
            At an employer's address
        </govuk-radios-item>
        <govuk-radios-item value="@ApprenticeshipLocationType.ClassroomBasedAndEmployerBased">
            Both
        </govuk-radios-item>
    </govuk-radios>

    <govuk-button type="submit">Continue</govuk-button>
</form>
