@model Dfc.CourseDirectory.WebV2.Features.NewApprenticeshipProvider.ApprenticeshipEmployerLocationsRegions.Command
@inject Dfc.CourseDirectory.Core.DataStore.IRegionCache RegionCache
@{
    ViewBag.Title = "Select the regions where you provide this training";
}

<govuk-error-summary>
    <govuk-error-summary-item asp-for="RegionIds" />
</govuk-error-summary>

<form asp-action="ApprenticeshipEmployerLocationsRegions" asp-all-route-data="@ProviderContext.RouteValues" append-mptx-id>
    <govuk-fieldset>
        <govuk-fieldset-legend>
            <h1 class="govuk-heading-l">Select the regions where you provide this training</h1>
        </govuk-fieldset-legend>

        <span class="govuk-heading-m">Where do you deliver this course?</span>

        <govuk-hint>Choose all of the areas in as many regions as you deliver this course</govuk-hint>

        <vc:sub-region-selector id="@Html.IdFor(m => m.RegionIds)" name="@Html.NameFor(m => m.RegionIds)" selected-sub-region-ids="@Model.RegionIds" />
    </govuk-fieldset>

    <govuk-button type="submit">Continue</govuk-button>
</form>
