@using Dfc.CourseDirectory.Core.Validation.ProviderValidation
@model Dfc.CourseDirectory.WebV2.Features.NewApprenticeshipProvider.ProviderDetail.ViewModel
@{
    ViewBag.Title = "Edit your details";
}

@if (!ViewData.ModelState.IsValid)
{
    <govuk-error-summary>
        <govuk-error-summary-title>There is a problem</govuk-error-summary-title>
        <govuk-error-summary-item asp-for="MarketingInformation" />
    </govuk-error-summary>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="ProviderDetail" append-provider-context append-mptx-id>
            <h1 class="govuk-heading-l">Provider information</h1>

            <pttcd-rich-text-editor>
                <govuk-character-count asp-for="MarketingInformation" max-length="@Constants.MarketingInformationStrippedMaxLength">
                    <govuk-character-count-label>
                        Brief overview of your organisation for employers
                    </govuk-character-count-label>
                </govuk-character-count>
            </pttcd-rich-text-editor>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>