@using Microsoft.AspNetCore.Http.Extensions
@model Dfc.CourseDirectory.WebV2.Features.NewApprenticeshipProvider.QANotificationsViewModel

@if (Model.ProviderType.HasFlag(ProviderType.Apprenticeships))
{
    @if (Model.Status.HasFlag(ApprenticeshipQAStatus.Submitted) || Model.Status.HasFlag(ApprenticeshipQAStatus.InProgress))
    {
        <pttcd-notification title="Quality assurance in progress" id="pttcd-new-apprenticeship-provider__qa-notifications-submitted">
            <p class="govuk-body govuk-!-margin-bottom-0">Once your quality assurance is complete you will be contacted with the outcome.</p>
        </pttcd-notification>
    }
    else if (Model.Status.HasFlag(ApprenticeshipQAStatus.Failed))
    {
        <pttcd-notification title="Quality assurance failed" id="pttcd-new-apprenticeship-provider__qa-notifications-failed">
            <p class="govuk-body">Your information has failed quality assurance against the style and compliance standards.</p>
            <p class="govuk-body">An email has been sent providing the reasons why your information has not met the standards. You will need to fix the errors and submit to quality assurance again.</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a asp-action="ProviderDetail" asp-controller="NewApprenticeshipProvider" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Fix errors and submit</a></p>
        </pttcd-notification>
    }
    else if (Model.Status == ApprenticeshipQAStatus.Passed && !Model.HidePassedNotication)
    {
        <pttcd-notification title="Quality assurance passed" id="pttcd-new-apprenticeship-provider__qa-notifications-passed">
            <form asp-controller="NewApprenticeshipProvider" asp-action="HidePassedNotification" asp-all-route-data="@ProviderContext.RouteValues" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()" method="post">
                <p class="govuk-body">Your information has passed quality assurance against the style and compliance standards.</p>
                <govuk-button class="govuk-button--secondary govuk-!-margin-bottom-0" type="submit">Close this message</govuk-button>
            </form>
        </pttcd-notification>
    }
    else if (Model.Status == ApprenticeshipQAStatus.NotStarted)
    {
        <pttcd-notification title="Apprenticeship training provider" id="pttcd-new-apprenticeship-provider__qa-notifications-not-started">
            <p class="govuk-body">As a new provider your information will need to be quality assured against style and compliance guidelines.</p>

            <p class="govuk-body">You will need to:</p>
            <ol class="govuk-list govuk-list--number">
                <li>Add your provider information</li>
                <li>Add one apprenticeship training course</li>
                <li>Submit your information for quality assurance</li>
            </ol>

            <p class="govuk-body">Once you have passed quality assurance you can publish all of your apprenticeship training courses.</p>
            <p class="govuk-body govuk-!-margin-bottom-0"><a asp-action="ProviderDetail" asp-controller="NewApprenticeshipProvider" asp-all-route-data="@ProviderContext.RouteValues" class="govuk-link">Add your provider information</a></p>
        </pttcd-notification>
    }
}
