@{
    ViewBag.Title = "Information submitted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-panel>
            <govuk-panel-title heading-level="1">Quality assurance submitted</govuk-panel-title>
        </govuk-panel>

        <p>Your provider information and apprenticeship training course have been submitted for quality assurance.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>The information you have submitted will be quality assured against style and compliance guidelines.</p>

        <p>
            We will send you an email with the outcome and you will receive notifications from the <a asp-controller="Home" asp-action="Index" class="govuk-link">home screen</a>.</p>
    </div>
</div>