@{
    ViewBag.Title = "Information submitted";
}

<govuk-panel class="pttcd-panel">
    <govuk-panel-title heading-level="1">Information submitted</govuk-panel-title>
</govuk-panel>

<div class="govuk-!-margin-top-5">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Next steps</h2>
    <a asp-controller="Home" asp-action="Index" class="govuk-link">Return to dashboard</a>
</div>