@model Dfc.CourseDirectory.WebV2.Features.ApprenticeshipQA.ApprenticeshipAssessment.ConfirmationViewModel
@{
    ViewBag.Title = "QA Apprenticeship training course information";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-action="ApprenticeshipAssessmentConfirmation" append-mptx-id>
            <h1 class="govuk-heading-xl">Review</h1>
            <h2 class="govuk-heading-l">@Model.ApprenticeshipTitle</h2>
            <h2 class="govuk-heading-m">Apprenticeship training course information for employers</h2>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Compliance
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @(Model.CompliancePassed ? "Pass" : "Fail")
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-action>
                        <a class="govuk-link" asp-action="ApprenticeshipAssessment" asp-fragment="CompliancePassed" append-mptx-id>
                            Change<span class="govuk-visually-hidden"> compliance</span>
                        </a>
                    </govuk-summary-list-row-action>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Style
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @(Model.StylePassed ? "Pass" : "Fail")
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-action>
                        <a class="govuk-link" asp-action="ApprenticeshipAssessment" asp-fragment="StylePassed" append-mptx-id>
                            Change<span class="govuk-visually-hidden"> style</span>
                        </a>
                    </govuk-summary-list-row-action>
                </govuk-summary-list-row>
            </govuk-summary-list>

            <govuk-inset-text class="pttcd-inset-text--info" id="pttcd-apprenticeship-qa-apprenticeship-submission-confirmation-overall-status-message">
                This apprenticeship training course has <strong>@(Model.Passed ? "PASSED" : "FAILED")</strong> quality assurance.
            </govuk-inset-text>

            <govuk-button type="submit">Confirm and continue</govuk-button>
        </form>
    </div>
</div>