@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Services.Models
@model Dfc.CourseDirectory.Web.ViewModels.BulkUpload.ApprenticeshipsPublishCompleteViewModel

@{
    ViewData["Title"] = "Publish complete"; 
    Layout = "_Layout_Your_Courses";
}

<div class="govuk-panel govuk-panel--confirmation">

    <div class="govuk-panel__body">
        <h1 class="govuk-panel__title">
            Publish complete
        </h1>

        You have @Model.NumberOfApprenticeshipsPublished @(Model.NumberOfApprenticeshipsPublished.Equals(1) ? "apprenticeship" : "apprenticeships") listed on the course directory
    </div>
</div>




