
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch


@{

    ViewData["Title"] = "Add Provider";
    Layout = "_Layout_Your_Courses";
}

<div>

    <h1 class="govuk-heading-l">Add Provider </h1>

    <div id="VenueSearchResultContainer">
        @await Component.InvokeAsync(nameof(ProviderSearch))
    </div>
</div>
