
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch

@await Component.InvokeAsync(nameof(ProviderSearch))

@*<h1 class="govuk-heading-xl">Your venues</h1>

@await Component.InvokeAsync(nameof(VenueList))*@

