
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch


@{
  
    ViewData["Title"] = "Add Provider";
}

<div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="your-courses">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="Providers">Providers<</a></li>
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link">@ViewBag.Titl</a></li>
        </ol>
    </div>
    <h1 class="govuk-heading-l">Add Provider </h1>

    <div id="VenueSearchResultContainer">
        @await Component.InvokeAsync(nameof(ProviderSearch))
    </div>
</div>
