
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch

@{
    Layout = "_Layout_Your_Courses";
}

    <div class="cd-dashboard provider">


        <div class="govuk-width-container">


            <main class="govuk-main-wrapper " id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl">Publish to the course directory</h1>

                        <h2 class="govuk-heading-m">Who is this service for?</h2>
                        <p class="govuk-body">Learning providers who are contracted with the Education and Skills Funding Agency and supply 16-18 and 19+ courses in England.</p>
                        <p class="govuk-body">Use this service to:</p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li>Publish a new course</li>
                            <li>Edit a course that we already published on the course directory</li>
                            <li>Remove a course from the directory if you no longer run it</li>
                        </ul>

                        <p class="govuk-body">Log in with DfE sign in.</p>

                        <a role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" asp-controller="Auth" asp-action="Login">Start now</a>


                    </div>


                </div>
            </main>
        </div>
    </div>
