
@using Dfc.CourseDirectory.Web.ViewComponents.ProviderSearch

@{
    ViewData["Title"] = "Find a course or training provider";
    Layout = "_Layout_Your_Courses";
}

    <div>

        <h1 class="govuk-heading-l">Find a course or training provider</h1>
        @await Component.InvokeAsync(nameof(ProviderSearch))
    </div>
