.duration-container {
  display: flex;
}

.duration-container select {
  margin-left: 10px;
}

.region-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.region-checkboxes .govuk-checkboxes__item {
  margin: 0.5em;
  flex: 0 0 25%;
}
