.cd-file-upload .box-container {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cd-file-upload .box-container .box {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 15px;
  color: #ffffff;
  background-color: #808080;
  font-size: 130px;
  line-height: 215px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.cd-file-upload .error-line {
  width: 100%;
  border-bottom: solid 1px #ccc;
  display: flex;
  align-content: center;
}

.cd-file-upload .error-line .heading {
  width: calc(100% - 400px);
  display: inline-block;
}

.cd-file-upload .error-line .col {
  padding-top: 15px;
}

.cd-file-upload .error-line .col.right {
  text-align: right;
}

.cd-file-upload .error-line .col a {
  margin-left: 10px;
}

.cd-file-upload .error-line .col button {
  padding: 15px 10px 10px 10px;
  margin-bottom: 0;
  margin-right: 10px;
}

.cd-file-upload .error-line-in {
  width: calc(100% - 100px);
  padding: 0 0 15px 0;
  border-bottom: solid 1px #ccc;
  display: flex;
  align-content: center;
  margin-left: 100px;
}

.cd-file-upload .error-line-in .heading {
  width: calc(100% - 400px);
  display: inline-block;
  padding-top: 12px;
}

.cd-file-upload .error-line-in .col {
  padding-top: 15px;
}

.cd-file-upload .error-line-in .col a {
  margin-left: 10px;
}

.cd-file-upload .error-line-in .col.right {
  text-align: right;
}

.cd-file-upload .error-line-in .col button {
  padding: 15px 10px 10px 10px;
  margin-bottom: 0;
}

.cd-file-upload .error-box {
  width: 65%;
  height: auto;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 4px;
  color: #b10e1e;
  border: solid 3px #b10e1e;
}

.cd-file-upload .error-box.no-error {
  color: #006435;
  border: solid 3px #006435;
}

.cd-file-upload .error-box.start-date-error {
  color: #ff6a00;
  border: solid 3px #ff6a00;
  width: 150%;
}

.cd-file-upload .error-link {
  margin-top: 12px;
  display: inline-block;
}

.cd-file-upload .err-top-line {
  border-top: solid 1px #666;
}

.cd-file-upload .new-upload {
  margin-top: 40px;
}

.cd-file-upload .m100 {
  margin-right: 100px;
}

@media only screen and (max-width: 640px) {
  .cd-file-upload .error-line .col.center, .cd-file-upload .error-line-in .col.center {
    text-align: center;
  }
}

.Publish-Complete .Next-Steps {
  font-weight: bold;
  font-family: "nta", Arial, sans-serif;
  letter-spacing: 0.04em;
}
