.govuk-header__container.cd-fullwidth-container {
  margin-bottom: -10px;
}

.cd-flex {
  display: flex;
}

.cd-subHead {
  background-color: #207E77;
  margin-top: -10px;
  color: white;
  font-family: nta,Arial,sans-serif;
}

.cd-subHead .cd-subHead--item {
  font-weight: 800;
}

.cd-subHead-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-container {
  border-bottom: 1px solid #bfc1c3;
}

.navigation-container .cd-secondary-nav {
  padding: 0.5em 0;
  text-align: right;
  font-size: 19px;
  color: #005ea5;
}

.navigation-container .cd-secondary-nav .cd-secondary-nav--item {
  text-decoration: none;
  padding-right: 1em;
  color: #005ea5;
}

.cd-fullwidth-container {
  width: 90%;
  max-width: 1024px;
  margin: 0px auto;
  /*need to fix these media queries*/
}

.cd-fullwidth-container .cd-grid-coloumn-three-quarters {
  width: 75%;
  float: left;
}

.cd-fullwidth-container .cd-grid-coloumn-80 {
  box-sizing: border-box;
  width: 100%;
  float: left;
}

@media (min-width: 40.0625em) {
  .cd-fullwidth-container .cd-grid-coloumn-80 {
    width: 80%;
  }
}

.cd-fullwidth-container .cd-grid-coloumn-20 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 0 1em;
  box-sizing: border-box;
}

@media (min-width: 40.0625em) {
  .cd-fullwidth-container .cd-grid-coloumn-20 {
    width: 20%;
  }
}

.cd-fullwidth-container .cd-grid-coloumn-70 {
  box-sizing: border-box;
  width: 100%;
  float: left;
}

@media (min-width: 40.0625em) {
  .cd-fullwidth-container .cd-grid-coloumn-70 {
    width: 70%;
  }
}

.cd-fullwidth-container .cd-grid-coloumn-30 {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 0 1em;
  box-sizing: border-box;
}

@media (min-width: 40.0625em) {
  .cd-fullwidth-container .cd-grid-coloumn-30 {
    width: 30%;
  }
}
