.cd-success-summary,
.cd-error-summary,
.cd-warning-summary,
.cd-info-summary {
  font-family: nta,Arial,sans-serif;
  padding: .5rem 1rem;
  margin-bottom: 2em;
  font-weight: 700;
  font-size: 19px;
}

.cd-success-summary__title,
.cd-error-summary__title,
.cd-warning-summary__title,
.cd-info-summary__title {
  margin: 0 0.25rem;
}

.cd-success-summary:focus,
.cd-error-summary:focus,
.cd-warning-summary:focus,
.cd-info-summary:focus {
  outline: #ffbf47 solid 3px;
  outline-offset: 0;
}

.cd-success-summary {
  border: 5px solid #006435;
}

.cd-success-summary .cd-success-summary__title {
  font-weight: 700;
}

.cd-success-summary .cd-success-summary__body {
  color: #006435;
}

.cd-success-summary .cd-success-summary__body .cd-success-summary__list a {
  color: #006435;
}

.cd-warning-summary {
  border: 5px solid #f47738;
}

.cd-warning-summary .cd-warning-summary__title {
  font-weight: 700;
}

.cd-warning-summary .cd-warning-summary__body {
  color: #f47738;
}

.cd-warning-summary .cd-warning-summary__body .cd-warning-summary__list a {
  color: #f47738;
}

.cd-info-summary {
  border: 5px solid #005ea5;
}

.cd-info-summary .cd-info-summary__title {
  font-weight: 700;
}

.cd-info-summary .cd-info-summary__body {
  color: #005ea5;
}

.cd-info-summary .cd-info-summary__body .cd-info-summary__list a {
  color: #005ea5;
}

.cd-error-summary {
  border: 5px solid #b10e1e;
}

.cd-error-summary .cd-error-summary__title {
  font-weight: 700;
}

.cd-error-summary .cd-error-summary__body {
  color: #b10e1e;
}

.cd-error-summary .cd-error-summary__body .cd-error-summary__list a {
  color: #b10e1e;
}
