.zcodesearch {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.zcodesearch span.hint {
  color: 6f777b;
}

.zcodesearch--container {
  display: flex;
  flex-direction: row;
}

.zcodesearch--container-input {
  padding: 10px !important;
}

.cd-nonregulated-provision {
  background-color: #f8f8f8;
  padding: 1em;
  border-left: 5px solid #207E77;
  margin-bottom: 2em;
}

.cd-nonregulated-provision .cd-level-select {
  padding-right: 1em;
}

.cd-non-regulated-filters {
  padding: 0 1em;
}

.cd-non-regulated-filters .govuk-form-group {
  display: flex;
  flex-direction: column;
}

.cd-non-regulated-filters .govuk-select {
  margin-bottom: 1em;
  width: auto;
}

.provision-container {
  border: 1px solid #bfc1c3;
  padding: .5em;
}

.provision-container .provision-title {
  margin-top: 0;
}

.cd-action-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.cd-action-container > * {
  margin-right: 1em;
}
