#Cd-course-list .cd-course-list-level-filter {
  list-style-type: none;
  padding-inline-start: 0px;
}

#Cd-course-list .cd-course-list-level-filter .selected {
  font-weight: 800;
}

#Cd-course-list .cd-course-list-level-filter > * {
  border-bottom: 1px solid #bfc1c3;
  padding: .25em 0;
}

#Cd-course-list .cd-course-list-level-filter > *:hover {
  cursor: pointer;
}

#Cd-course-list .cd-course-list-level-filter .sublevel {
  background-color: green;
  display: none;
}

#Cd-course-list .cd-course--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 1em;
}

#Cd-course-list .cd-course--list:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#Cd-course-list .cd-course--list > * {
  padding: 0 0.51em;
}

#Cd-course-list .cd-course--list_item-heading {
  display: flex;
  align-items: center;
}

#Cd-course-list .cd-course--list_item-heading > * {
  padding: 0 0.51em;
}

#Cd-course-list .cd-course--list .venue-select,
#Cd-course-list .cd-course--list .course-name-input {
  width: 300px;
}

#Cd-course-list .cd-course--list .cost-input {
  width: 100px;
}

#Cd-course-list .govuk-details__summary {
  font-size: 1.5em;
  font-weight: 900;
  border-bottom: none;
  display: block;
  padding: 0 0 0 1em;
}

#Cd-course-list .govuk-details__summary:before {
  margin-left: 0.25em;
}

#Cd-course-list .govuk-details__text {
  border: none;
}

#Cd-course-list .govuk-details__summary-text {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}

#Cd-course-list .govuk-details__summary-text .open-prompt {
  font-size: .6em;
  font-weight: 200;
  padding-right: 1em;
}

.courserun {
  font-family: nta,Arial,sans-serif;
  padding-left: 1em;
}

.courserun.border {
  border: 1px solid #bfc1c3;
  margin-bottom: 1em;
  padding-left: 0em;
}

.courserun.border > * {
  padding: 0.25em 1em;
}

.courserun.border .courserun__row4 {
  margin-bottom: 0;
  border-bottom: none;
}

.courserun__row1 .coursename {
  font-weight: 800;
  font-size: 1.3em;
  margin: 0;
}

.courserun__row1 .coursename.smaller {
  font-size: 1em;
  color: #6f777b;
  font-weight: 100;
}

.courserun__row2 {
  display: flex;
  padding: 0.25em 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.courserun__row2 > * {
  padding-right: 1em;
}

.courserun__row2:last-child {
  padding-right: 0;
}

.courserun__row2 .tag-live {
  background-color: #005ea5;
  color: white;
  align-content: center;
  text-align: center;
}

.courserun__row3 {
  color: #6f777b;
  padding-bottom: .5em;
}

.courserun__row3 > * {
  padding-right: 1em;
}

.courserun__row4 {
  padding: .5em 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: .5em;
}

.courserun__row4 > * {
  padding-right: 1em;
}

.cd-course-list-filters {
  background-color: #dee0e2;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  border: 1px solid #bfc1c3;
}

.cd-course-list-filters > * {
  padding-right: 1em;
}

.govuk-related-items {
  border-top: 10px solid #005ea5;
  padding: 20px;
  background-color: #f8f8f8;
}

.phase-tag-published {
  background: #00823b;
}
