#Cd-course-list .cd-course--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

#Cd-course-list .cd-course--list:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#Cd-course-list .cd-course--list > * {
  padding: 0 0.51em;
}

#Cd-course-list .cd-course--list_item-heading {
  display: flex;
  align-items: center;
}

#Cd-course-list .cd-course--list_item-heading > * {
  padding: 0 0.51em;
}

#Cd-course-list .govuk-details__summary {
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  border-bottom: 1px solid grey;
  display: block;
}

#Cd-course-list .govuk-details__text {
  border: none;
}

#Cd-course-list .govuk-details__summary-text {
  text-decoration: none;
}

#Cd-course-list .govuk-accordion__section-button {
  color: #0b0c0c;
}
