.cd-right {
  float: right;
}

.link--button {
  border: none;
  color: #005ea5;
  font-size: 1.1875rem;
  text-decoration: underline;
  background-color: transparent;
}

.login-options {
  float: right;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
}

#logout-btn {
  display: inline-flex;
}

.cd-status-panel {
  background-color: #dee0e2;
  display: flex;
  padding: 1em;
  margin-bottom: 1.5em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.cd-status-panel.blue {
  text-align: left;
  background-color: #005ea5;
  color: white;
}

.cd-status-panel.blue h2, .cd-status-panel.blue a {
  color: white;
}

.cd-status-panel.green {
  background-color: green;
}

.cd-status-panel.red {
  background-color: red;
}

.cd-status-panel.white {
  background-color: white;
  text-align: left;
}

.cd-status-panel.grey {
  background-color: #f8f8f8;
  border: 1px solid #bfc1c3;
  display: block;
  text-align: left;
  flex-direction: row;
  margin-bottom: 0em;
}

.cd-cancel-link {
  margin: 9px 0 6px 13px;
  position: absolute;
}

.tox-editor-container {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-color: black !important;
}

.tox-statusbar {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: black !important;
}

.text-error {
  border-width: 2px !important;
  /*border-left-width: 4px !important;
    border-right-width: 4px !important;*/
  border-color: #b10e1e !important;
}

.status-error {
  border-style: solid !important;
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
  border-bottom-width: 4px !important;
  border-color: #b10e1e !important;
}

.tox-statusbar {
  height: 75px !important;
}

.tox-statusbar__wordcount {
  font-size: 20px !important;
}

.sidebar .widget {
  border-top: 5px solid #28a197;
  background-color: #f8f8f8;
  padding-left: 1rem;
}

.sidebar .widget div {
  margin-bottom: .5em;
}

.flat-list * {
  padding-right: 1em;
}

.word-wrap-break {
  word-wrap: break-word;
}
