.pagination {
  text-align: right;
}

.pagination ul {
  padding: 0px;
}

.pagination ul li {
  display: inline-block;
}

.pagination .pagination__item {
  padding: 0 0.25em;
}

.pagination .pagination__item.pagination__item--current {
  text-decoration: none;
}

.pagination .pagination__item.pagination__item--current:hover {
  text-decoration: underline;
}
