@{
    ViewData["Title"] = "FixErrors";
    Layout = "~/Views/Shared/_Layout_Your_Courses.cshtml";
}
@using Dfc.CourseDirectory.Web.ViewComponents.ApprenticeshipBulkUpload.FixError
@model Dfc.CourseDirectory.Web.ViewModels.PublishApprenticeships.PublishApprenticeshipsViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="govuk-body cd-file-upload">

    @if (Model.AreAllReadyToBePublished)
    {
        <h1 class="govuk-govuk-grid-column-one-half-l">Publish Your Apprenticeships</h1>
        <p>
            Your file of @Model.ListOfApprenticeships @(Model.ListOfApprenticeships.Equals(1) ? "apprenticeship" : "apprenticeships") has no errors. Publish @(Model.ListOfApprenticeships.Equals(1) ? "it" : "them") to replace your current apprenticeships on the course directory.
        </p>
    }
    else
    {
        <div class="govuk-form-group">
            <h1 class="govuk-govuk-grid-column-one-half-l govuk-heading-l">Resolve issues</h1>
        </div>

        <p>You must resolve all of the issues in your file before you can update your published apprenticeships.</p>

       

    }
    
    <hr class="govuk-section-break govuk-section-break--visible">
    @await Component.InvokeAsync(nameof(FixError), new { model = Model })
</div>
