
<header class="cd-hero-search">
    <div class="content-container">
        <div class="grid-row" data-sf-element="Row">
            <div class="column-two-thirds">
                <div>
                    <h1 class="govuk-heading-l">@ViewBag.Title</h1>
                    <p class="govuk-heading-m">@ViewBag.Subtext</p>
                </div>
                <form action="@ViewBag.Target" class="site-search ui-front" id="header-search" method="post">
                    <div class="header-search-content">
                        <div class="search-input-wrapper">
                            <input class="govuk-input govuk-!-width-three-quarters search-input js-search-focus" id="SearchTerm" name="SearchTerm" type="search" value="">

                            <button type="submit" class="govuk-button">
                                Search
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</header>