@using Dfc.CourseDirectory.Models.Models.Providers
@using Dfc.CourseDirectory.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Http
@using Dfc.CourseDirectory.Services.Interfaces.ProviderService
@using Dfc.CourseDirectory.Services.ProviderService
@using Dfc.CourseDirectory.Web.ViewComponents.BackLink

@inject IHttpContextAccessor HttpContextAccessor
@inject IAuthorizationService Authorization
@inject IProviderService providerService
@inject IGovukPhaseBannerService bannerService
@inject Dfc.CourseDirectory.WebV2.Security.ICurrentUserProvider CurrentUserProvider
@inject Dfc.CourseDirectory.WebV2.IProviderContextProvider ProviderContextProvider

@{
    var providerContext = await ProviderContextProvider.GetProviderContext();
    var currentUser = CurrentUserProvider.GetCurrentUser();
}

@{
    var bannerSettings = bannerService.GetSettings();

}
<header class="govuk-header " role="banner" data-module="header">

    <div class="govuk-header__container cd-fullwidth-container cd-header">

        <div class="govuk-header__content cd-header--content">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                Publish to the course directory
            </a>

            @if (currentUser != null)
            {
                @if (currentUser.IsProvider)
                {
                    <vc:provider-top-nav provider-info="@providerContext.ProviderInfo" />
                }
                else
                {
                    <vc:admin-top-nav />
                }
            }

        </div>

    </div>

</header>

<div class="govuk-phase-banner cd-fullwidth-container govuk-!-margin-bottom-6">

    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
            @bannerSettings.Tag
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your
            <a href="https://www.smartsurvey.co.uk/s/SHIM0G/" target="_blank" rel="noreferrer" class="govuk-link">feedback</a> will help us to improve it.
        </span>
    </p>

</div>

@if (currentUser != null && !currentUser.IsProvider && providerContext != null)
{
    <div class="govuk-body govuk-!-margin-bottom-6 cd-fullwidth-container">
        <vc:admin-provider-context-nav provider-info="@providerContext.ProviderInfo" />
    </div>
}