@using Dfc.CourseDirectory.Services.Interfaces.ProviderService
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <meta charset="utf-8" />
    <title>GOV.UK - Course Directory Provider Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />



    <link href="~/dist/site.min.css" rel="stylesheet" />
    <partial name="~/SharedViews/Partials/_V2Styles.cshtml" />


    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <partial name="_ScriptsPartial" />
</head>




<body class="govuk-template__body app-body-class">

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <vc:cookie-banner />

    @RenderSection("Header", required: false)

    <div class=" cd-fullwidth-container  ">
        <main class="cd-dashboard provider govuk-body" id="main-content" role="main">

            @RenderBody()
        </main>
    </div>



    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

        // Warn about using the kit in production
        if (window.console && window.console.info) {
            window.console.info('GOV.UK Prototype Kit - do not use for production');
        }

        $(document).ready(function () {
            window.GOVUKFrontend.initAll();
        });
    </script>
    <partial name="_GovukFooterPartial" />

    @RenderSection("Scripts", required: false)
    <partial name="~/SharedViews/Partials/_V2Scripts.cshtml" />
</body>


</html>