<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

@*<head>
    <meta charset="utf-8" />
    <title>GOV.UK - Course Directory Provider Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />

    <link href="~/dist/site.min.css" rel="stylesheet" />
    <meta property="og:image" content="~/assets/images/govuk-opengraph-image.png">
    <partial name="_ScriptsPartial" />

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</head>*@
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="~/assets/images/govuk-mask-icon.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="~/assets/images/govuk-apple-touch-icon.png">

    <link href="~/dist/site.min.css" rel="stylesheet" />

    <meta property="og:image" content="~/assets/images/govuk-opengraph-image.png">
    <partial name="_ScriptsPartial" />
</head>

<partial name="_GovukHeaderPartial" />

<body class="govuk-template__body app-body-class">

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <vc:cookie-banner />

    <div class="govuk-width-container">
        @await Component.InvokeAsync(nameof(GovukPhaseBanner))

        <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>


    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

        // Warn about using the kit in production
        if (window.console && window.console.info) {
            window.console.info('GOV.UK Prototype Kit - do not use for production');
        }

        $(document).ready(function () {
            window.GOVUKFrontend.initAll();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

<partial name="_GovukFooterPartial" />

</html>