@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <div class="login-options">

            <ul>
                <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                @*@{
                        if (User.IsInRole("Admin User"))
                        {
                            <li class="govuk-header__navigation-item">
                                <a class="govuk-header__link" asp-controller="Admin" asp-action="ManageUsers" title="ManageUsers">Manage Users</a>
                            </li>

                        }
                    }*@
                <li id="logout-btn" class="govuk-header__navigation-item">
                    <button type="submit" class="govuk-button">Logout</button>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <div class="login-options">
        <ul>
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" asp-area="Identity" asp-page="/Account/Login">Login</a>
               
            </li>
        </ul>
    </div>
}