@{
    string name = null;
    if (User.Identity.IsAuthenticated)
    {
        var nameClaim = User.Claims.FirstOrDefault(c => c.Type == "given_name");
        name = nameClaim?.Value;
    }

}


@if (User.Identity.IsAuthenticated)
{
<div class="login-options">
    <li class="govuk-header__navigation-item">
        Hello @(name ?? "Stranger")
    </li>
    <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="https://signin-test-pfl-as.azurewebsites.net/">Your Profile</a>
    </li>
    <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" asp-controller="Auth" asp-action="Logout">Logout</a>
    </li>
</div>
}

else
{
    <div class="login-options">
        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    </div>
}
