@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<form id="logout" asp-area="Identity" asp-antiforgery="true" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
    <div class="govuk-grid-column-one-half right">
        @UserManager.GetUserName(User)
     
        <a href="#" id="submit-link" class="button" onclick="logout.submit();">Sign out</a>
    </div>
    }
</form>

