@using Microsoft.AspNetCore.Identity
@using Dfc.CourseDirectory.Web.Areas.Identity.Data;

@if (User.Identity.IsAuthenticated)
{
<div class="govuk-grid-column-one-half right">
    @{ 
        string email = User.Claims.Where(c => c.Type == "email")
                    .Select(c => c.Value).SingleOrDefault();
    }
    @email

    <a asp-action="Logout" asp-controller="Auth" id="submit-link" class="button">Sign out</a>
</div>
}


