@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout_Your_Courses";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body"><strong>Error: </strong>@Model.ErrorMessage</p>
        <p class="govuk-body"><strong>Path</strong>: @Model.ErrorPath</p>

        <p class="govuk-body">Please make a note of the information above and contact support for further assistance</p>
    </div>
</div>
