@{
    ViewData["Title"] = "Deactivated provider";
    Layout = "_Layout_Empty";
}

@section Header {
    <header class="govuk-header govuk-!-margin-bottom-6" role="banner" data-module="header">
        <div class="govuk-header__container cd-fullwidth-container cd-header">
            <div class="govuk-header__content cd-header--content">
                <a asp-action="Logout" asp-controller="Auth" id="submit-link" class="cd-right cd-header--link">Sign out</a>
            </div>
        </div>
    </header>
}

<h1 class="govuk-heading-xl">Deactivated provider</h1>

<p class="govuk-body">
    Your UKPRN has been deactivated.
</p>