@model Dfc.CourseDirectory.Web.ViewModels.EditCourse.EditCourseRunViewModel

<h1 class="govuk-heading-l" style="padding-top: 20px;">
    Edit course details
</h1>

<form asp-controller="EditCourseRun" asp-action="Index" id="editCourseRun">



    <div class="govuk-form-group">
        <button name="saveButton" type="submit" class="govuk-button" id="save">
            Save
        </button>
    </div>

</form>

<script>
    (function ($) {
        $(function () {


        });
    })(jQuery);
</script>